$bg-white:#fff;
$white:#ffffff;
$form-bg: #13232f;
$black:#000000;
$modal-header:#333333;
$text-color:#4d4d4d;
$text-light-color:#cccccc;
$border-color:#b2b2b2;
$button-color:#3366ff;
$hover-color:#ffa31a;
$hover-text-color:#000;
$hover-border:#ffa31a;
$primary-color:$white;
$secondary-color:$black;