customer-model{
  @import url('https://fonts.googleapis.com/css?family=Barlow:200,300,400,600');
  @import'_color.scss';
  @import'_typograpy.scss';
    .main-view{
        background: transparent;
      }
      .overlay {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: .5;
      }
      .modal_content {
        position: absolute;
        top: calc(50% - (50%/2));
        left: 0;
        right: 0;
        width: 100%;
        height: 50%;
        padding: 10px;
        z-index: 100;
        margin: 0 auto;
        padding: 10px;
        color: $text-color;
        background: $white;
        overflow: hidden;
      }
      .toolbar-background-md {
        border-color: $border-color;
        background: $modal-header;
      }
      .toolbar-title-md {
        padding: 0 12px;
        font-size: $font-size-xl;
        font-weight: $bold;
        color: $white;
      }
      ion-icon {
        display: inline-block;
        padding-bottom: 10px;
        color: $white;
        font-size: $font-size-24;
      }
      .item-md.item-input.item-input-has-focus .item-inner,
.item-md.item-input.input-has-focus .item-inner {
  border-bottom-color: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.list-md .item-input.item-input-has-focus:last-child,
.list-md .item-input.input-has-focus:last-child {
  border-bottom-color: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
  border-bottom-color: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child,
.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
  border-bottom-color: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
  border-bottom-color: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus):last-child {
  border-bottom-color: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus):last-child .item-inner {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.item-label-stacked .text-input-md,
.item-label-floating .text-input-md {
  margin-left: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  border-bottom:1px solid $border-color;
  width: calc(100% - 8px);
}
.item-block {
  width: 100%;
  min-height: 0.4rem;
}
.item-input .label-md,
.item-select .label-md,
.item-datetime .label-md {
  color: $text-light-color;
}
ion-input,
ion-textarea {
  position: relative;
  display: block;
  font-size: $font-size-md;
  color:$text-color;
  width: 100%;
}
.button-md {
  border-radius: $border-radius-light;
  overflow: hidden;
  width:50%;
  height: 3.6rem;
  font-size: $font-size-md;
  font-weight:$medium;
  text-transform: uppercase;
  color: $white;
  border:none;
  background-color: $button-color;
}
.button-md:hover:not(.disable-hover) {
  background-color: $hover-color;
}
}