<ion-header>
  <ion-navbar>
    <ion-title> Contacts</ion-title>
    <ion-fab right bottom margin-right="20px;" margin-top="15px;">
      <ion-icon name="close" (click)="close()"></ion-icon>
    </ion-fab>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="isWeb" padding>
  <form #f="ngForm" (ngSubmit)="customerDetails(f)">
    <div>
      <ion-grid>
        <ion-row>
          <ion-col class="businessInputs">
            <ion-item no-lines>
              <ion-input [readonly]="!editCustomer" type="number" hidden id="businessId" ngModel #businessId="ngModel"
                [(ngModel)]="BusinessId" class="form-control" name="businessId"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-6 class="businessInputs">
            <ion-item no-lines>
              <ion-label floating for="customerName" class="lable">Customer Name*</ion-label>
              <ion-input [readonly]="!editCustomer" class="input" type="text" id="customerName" ngModel #customerName="ngModel"
                [(ngModel)]="CustomerName" class="form-control" name="customerName" required minlength="3" maxlength="50">
              </ion-input>
            </ion-item>
            <ion-item no-lines>
              <div class="errorMsg" *ngIf="customerName.touched && !customerName.valid">
                <div *ngIf="customerName.errors.required">Customer Name is required.</div>
                <div *ngIf="customerName.errors.minlength">Customer Name should be minimum {{
                  customerName.errors.minlength.requiredLength }} characters.</div>
              </div>
            </ion-item>
          </ion-col>
          <ion-col col-6 class="businessInputs">
            <ion-item no-lines>
              <ion-label floating class="lable">Mobile*</ion-label>
              <ion-input [readonly]="!editCustomer" class="input" type="text" id="customerMobile" ngModel
                #customerMobile="ngModel" [(ngModel)]="CustomerMobile" class="form-control" name="customerMobile"
                required minlength="10" maxlength="13" pattern="[-+]?([0-9]*\.[0-9]+|[0-9]+)"></ion-input>
            </ion-item>
            <ion-item no-lines>
              <div *ngIf="customerMobile.touched && !customerMobile.valid">
                <div class="errorMsg" *ngIf="customerMobile.errors.required">Mobile number is required.</div>
                <div class="errorMsg" *ngIf="customerMobile.errors.minlength || customerMobile.errors.pattern">Mobile
                  number invalid.</div>
              </div>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6 class="businessInputs">
            <ion-item no-lines stacked>
              <ion-label floating>Email</ion-label>
              <ion-input [readonly]="!editCustomer" type="Email" id="customerEmailAddress" ngModel
                #customerEmailAddress="ngModel" [(ngModel)]="CustomerEmailAddress" class="form-control" name="customerEmailAddress"
               pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"></ion-input>
            </ion-item>
            <ion-item no-lines>
              <div class="errorMsg" *ngIf="customerEmailAddress.touched && !customerEmailAddress.valid">
                <div *ngIf="customerEmailAddress.errors.pattern">Email format invalid .</div>
              </div>
            </ion-item>
          </ion-col>
          <ion-col col-6 class="businessInputs">
            <ion-item no-lines>
              <ion-label floating>Phone(Home)</ion-label>
              <ion-input [readonly]="!editCustomer" type="text" id="customerPhoneHome" ngModel #customerPhoneHome="ngModel"
                [(ngModel)]="CustomerPhoneHome" class="form-control" name="customerPhoneHome" minlength="6" maxlength="8"
                pattern="^[0-9]*[0-9]$"></ion-input>
            </ion-item>
            <ion-item no-lines>
              <div class="errorMsg" *ngIf="customerPhoneHome.customerPhoneHome && !city.valid">
                <div *ngIf="customerPhoneHome.errors.minlength">Phone Name should be minimum {{
                  customerPhoneHome.errors.minlength.requiredLength
                  }} charecters.</div>
              </div>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6 class="businessInputs">
            <ion-item no-lines>
              <ion-label floating>Phone(Office)</ion-label>
              <ion-input [readonly]="!editCustomer" type="text" id="customerPhoneOffice" ngModel #customerPhoneOffice="ngModel"
                [(ngModel)]="CustomerPhoneOffice" class="form-control" name="customerPhoneOffice" minlength="6"
                maxlength="8" pattern="^[0-9]*[0-9]$"></ion-input>
            </ion-item>
            <ion-item no-lines>
              <div class="errorMsg" *ngIf="customerPhoneOffice.touched && !customerPhoneOffice.valid">
                <div *ngIf="customerPhoneOffice.errors.minlength">Phone should be minimum {{
                  customerPhoneOffice.errors.minlength.requiredLength }} digits.</div>
                <div *ngIf="customerPhoneOffice.errors.pattern">Phone format invalid .</div>
              </div>
            </ion-item>
          </ion-col>
          <ion-col col-6>
            <ion-item no-lines>
              <ion-label floating>Address</ion-label>
              <ion-input [readonly]="!editCustomer" type="text" id="customerAddress" ngModel #customerAddress="ngModel"
                [(ngModel)]="CustomerAddress" class="form-control" name="customerAddress"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-center>
            <button ion-button type="button" (click)="deleteCustomerInfo()">Delete</button>
          </ion-col>
          <ion-col text-center>
            <div *ngIf="!editCustomer">
              <button ion-button type="button" (click)="editCustomerInfo()">Edit</button>
            </div>
            <div *ngIf="editCustomer">
              <button ion-button type="submit">Save</button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </form>
</ion-content>
<!-- ====== NON VIEW ====== -->
<ion-content *ngIf="!isWeb" padding>
  <form #f="ngForm" (ngSubmit)="customerDetails(f)">
    <div>
      <ion-grid>
        <ion-item class="businessInputs" no-lines>
          <ion-input [readonly]="!editCustomer" type="number" hidden id="businessId" ngModel #businessId="ngModel"
            [(ngModel)]="BusinessId" class="form-control" name="businessId"></ion-input>
        </ion-item>
        <ion-item class="businessInputs" no-lines>
          <ion-label floating for="customerName" class="lable">Customer Name*</ion-label>
          <ion-input [readonly]="!editCustomer" class="input" type="text" id="customerName" ngModel #customerName="ngModel"
            [(ngModel)]="CustomerName" class="form-control" name="customerName" required minlength="3" maxlength="50">
          </ion-input>
        </ion-item>
        <ion-item no-lines>
          <div class="errorMsg" *ngIf="customerName.touched && !customerName.valid">
            <div *ngIf="customerName.errors.required">Customer Name is required.</div>
            <div *ngIf="customerName.errors.minlength">Customer Name should be minimum {{
              customerName.errors.minlength.requiredLength }} characters.</div>
          </div>
        </ion-item>
        <ion-item class="businessInputs" no-lines>
          <ion-label floating class="lable">Mobile*</ion-label>
          <ion-input [readonly]="!editCustomer" class="input" type="text" id="customerMobile" ngModel #customerMobile="ngModel"
            [(ngModel)]="CustomerMobile" class="form-control" name="customerMobile" required minlength="10" maxlength="13"
            pattern="[-+]?([0-9]*\.[0-9]+|[0-9]+)"></ion-input>
        </ion-item>
        <ion-item no-lines>
          <div *ngIf="customerMobile.touched && !customerMobile.valid">
            <div class="errorMsg" *ngIf="customerMobile.errors.required">Mobile number is required.</div>
            <div class="errorMsg" *ngIf="customerMobile.errors.minlength || customerMobile.errors.pattern">Mobile
              number invalid.</div>
          </div>
        </ion-item>
        <ion-item class="businessInputs" no-lines stacked>
          <ion-label floating>Email</ion-label>
          <ion-input [readonly]="!editCustomer" type="Email" id="customerEmailAddress" ngModel #customerEmailAddress="ngModel"
            [(ngModel)]="CustomerEmailAddress" class="form-control" name="customerEmailAddress"  pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"></ion-input>
        </ion-item>
        <ion-item no-lines>
          <div class="errorMsg" *ngIf="customerEmailAddress.touched && !customerEmailAddress.valid">
            <div *ngIf="customerEmailAddress.errors.required">Email is required.</div>
            <div *ngIf="customerEmailAddress.errors.pattern">Email format invalid .</div>
          </div>
        </ion-item>
        <ion-item class="businessInputs" no-lines>
          <ion-label floating>Phone(Home)</ion-label>
          <ion-input [readonly]="!editCustomer" type="text" id="customerPhoneHome" ngModel #customerPhoneHome="ngModel"
            [(ngModel)]="CustomerPhoneHome" class="form-control" name="customerPhoneHome"></ion-input>
        </ion-item>
        <ion-item no-lines>
          <div class="errorMsg" *ngIf="customerPhoneHome.customerPhoneHome && !city.valid">
            <div *ngIf="customerPhoneHome.errors.minlength">Phone Name should be minimum {{
              customerPhoneHome.errors.minlength.requiredLength
              }} charecters.</div>
          </div>
        </ion-item>
        <ion-item class="businessInputs" no-lines>
          <ion-label floating>Phone(Office)</ion-label>
          <ion-input [readonly]="!editCustomer" type="text" id="customerPhoneOffice" ngModel #customerPhoneOffice="ngModel"
            [(ngModel)]="CustomerPhoneOffice" class="form-control" name="customerPhoneOffice"></ion-input>
        </ion-item>
        <ion-item no-lines>
          <div class="errorMsg" *ngIf="customerPhoneOffice.touched && !customerPhoneOffice.valid">
            <div *ngIf="customerPhoneOffice.errors.minlength">Phone should be minimum {{
              customerPhoneOffice.errors.minlength.requiredLength }} digits.</div>
            <div *ngIf="customerPhoneOffice.errors.pattern">Phone format invalid .</div>
          </div>
        </ion-item>
        <ion-item class="businessInputs" no-lines>
          <ion-label floating>Address</ion-label>
          <ion-input [readonly]="!editCustomer" type="text" id="customerAddress" ngModel #customerAddress="ngModel"
            [(ngModel)]="CustomerAddress" class="form-control" name="customerAddress"></ion-input>
        </ion-item>
        <ion-row>
          <ion-col text-center>
            <button ion-button type="button" (click)="deleteCustomerInfo()">Delete</button>
          </ion-col>
          <ion-col text-center>
            <div *ngIf="!editCustomer">
              <button ion-button type="button" (click)="editCustomerInfo()">Edit</button>
            </div>
            <div *ngIf="editCustomer">
              <button ion-button type="submit">Save</button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </form>
</ion-content>