new-pos {
  @import'color';
  @import'font';

  .body{
    width:100%;
    background-color:$body-bg;
  }
  
  .scroll-content {
    background-color: $body-bg;
  }
  .demo-btn{
    width:100%;
    border-bottom:1px solid $grey;
    padding-bottom: 18px;
  }
  .button-md {
    border-radius: 2px;
    overflow: hidden;
    height: 3.6rem;
    font-size:$font-sm;
    font-weight: 500;
    text-transform: uppercase;
    -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px -0px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px -0px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
    margin: 0.4rem 0.2rem;
    padding: 0 1.1em;
  }
  .show-btn{
    background-color:$btn-color;
    color:$white;
  }
  .show-btn:hover:not(.disable-hover) {
    background-color:$btn-color;
    color:$white;
  }
  .button-clear-md {
    border-color: transparent;
    color: $black;
    font-size:$font-sm;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border:1px solid $grey;
    opacity: 1;
  }
  .form-container{
    width:100%;
    background-color: $white;
    margin-top: 20px;
    padding-bottom:30px;
    border-radius:5px;
    border:none;
    box-shadow: 0 0px 5px 0px rgba(115, 108, 203, 0.23);

    h1{
      font-size:$font-lg;
      padding-top: 15px;
      padding-bottom: 15px;
      color:$dark;
      font-weight: 400;
      border-bottom:1px solid $grey;
      span{
        margin-left: 18px;
      }
     
    }
    .lable{
      font-size: $font-size-sm;
      font-weight: 400;
      color:#000;
      margin-left: 15px;
      padding-right:20px;
    }
    .text-input-md {
      margin-top: 0px;
      margin-bottom: 5px;
      margin-left:15px;
      float: left;
      border-bottom: 0px solid #ccc;
      width: 100%;
    }
    .errorMsg {
      color:$red;
      font-size:$font-mini;
      margin-left: 15px;
    }
    .item-input-has-focus .label-md[stacked],
    .input-has-focus .label-md[stacked],
    .item-input-has-focus .label-md[floating],
    .input-has-focus .label-md[floating] {
      color:$black;
    }
  
  }

  .select{
    width:200px;
    padding: 5px;
    margin-top: 30px;
    border:1px solid $grey;
    border-radius: 4px;
  }
  
  
  .item-md.item-input.item-input-has-focus .item-inner,
  .item-md.item-input.input-has-focus .item-inner {
    border-bottom-color:none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .list-md .item-input.item-input-has-focus:last-child,
  .list-md .item-input.input-has-focus:last-child {
    border-bottom-color: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .list-md .item-input.item-input-has-focus:last-child .item-inner,
  .list-md .item-input.input-has-focus:last-child .item-inner {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
  .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: none;
      -webkit-box-shadow: none;
    box-shadow: none;
  }

  .list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child,
  .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
    border-bottom-color: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child .item-inner,
  .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child .item-inner {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color:none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus):last-child {
    border-bottom-color: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
 
  .item-block {
    width: 100%;
    min-height: 0.0rem;
  }
  .branchInputs{
    width:300px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top:0px;
    margin-bottom:0px;

    p{
      font-size:$font-size-sm;
      font-weight: 400;
      color:$black;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 33px;
    }
  }
  
   .label-md {
    font-size: $font-md;
    font-family: Barlow, sans-serif;
    font-weight: 400;
    line-height: 2rem;
    color:$black;
  }
/*---add document---*/
  .document{
    width:100%;
    background-color: $white;
    margin-top: 20px;
    padding-top:20px;
    padding-bottom:20px;
    border-radius: 5px;
    box-shadow: 0 0px 5px 0px rgba(115, 108, 203, 0.23);

    h1{
      font-size:$font-lg;
      padding-top: 5px;
      padding-bottom: 20px;
      color:$dark;
      font-weight: 400;
      border-bottom:1px solid $grey;
      span{
        margin-left: 30px;
      }
    }
  }
  .input-control{
    float: left;
    margin-left:0px;
  }
  .text-input-md {
    margin: 8px 4px;
    padding: 0;
    width:100%;
    border-bottom:0px solid #ccc;
  }
  .document-btn{
    width:40%;
    float: left;
    margin-left:0px;
  }
  .imgBtn{
    width:200px;
    background:$primary;
    border:1px solid $primary;
  }
  .imgBtn:hover:not(.disable-hover) {
    background-color: $primary;
  }

  .product-list .list {
        
    padding: 30px;
    max-width: 0%;
    margin: 10px auto;
    border-radius: 5px;
}
.search
{
    width: 300px;
    float: right;
}
.img
{
    background: white;
    width: 500px;
    height:300px;
    border-radius: 50%;
    line-height: 50px;
    margin-left: 0px;
    margin-top: 10px;
    text-align: center;
    border: 1px solid black;
}
.quantity
{
    float:right;
}
.iconImg
{
    font-size: 20px;
}

.fab-md {
    background-color:#00aa20;
}
.availableQuantity
{
    float: right;
}
.title1
{
    margin-left: 46px;
}
.product-title{
    padding-top: 0px;
    margin-top: 30px;
}
.productname{
    width:100%;
    height:100%;
    background-color: #f2f2f2;
    color:#000;
    border:2px solid #ccc;
    border-radius: 5px;
    float:left;
    margin-top: 11px;
}
.item-detail{
    width:100%;
    background-color: #ffffff;
    float:left;
    margin-top: 10px;
}
.item-desc{
    width:90%;
    background-color: #ffffff;
    float:left;
}
.item-quntity{
    width:10%;
    background-color: #ffffff;
   
    height:40px;
    float:left;
    margin-top: 0px;
}
.text{
    font-size: 18px;
    color:#000000;
    padding-top: 15px;
    float: left;
    margin-left: 0px;
}
.text1{
    font-size: 14px;
    color:#000000;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-right: 30px;
    
}
.text-num{
    font-size: 16px;
    color:#000000;
    float: right;
    margin-top: 0px;
    margin-bottom: 9px;
    margin-right: 15px;
    padding: 5px;
 
}
.list-md .item-block .item-inner {
    border-bottom: 1px solid #ffffff;
}
.productnum{
    width:97%;
    background-color: #f2f2f2;
    color:#000;
    float: left;
    margin-bottom: 5px;
    margin-right: 5px;
    border-radius: 3px;
}
.produt-price{
    width:100%;
    float: left;
}
.product-amount{
    width:100%;
    float: left;
}


.produt-text{
    width:100%;
    font-size: 15px;
    color:#000000;
    padding-top: 10px;
    padding-bottom: 12px;
    padding-left: 20px;
}

.product-selling{
    width:100%;
    float: left;
}

.produt-dec{
    width:100%;
    float: left;
    
}

.produt-add-cost{
    width:100%;
    float:left;
}

.produt-access{
    width:100%;
    float:left;
}

.produt-dec-text{
    font-size: 15px;
    color:#000000;
    text-align: left;
    float:left;
    margin-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
}

.box{
  border:1px solid #000;
height:400px;
}
.border1{
  border:1px solid rgb(133, 57, 57);
  height:200px;
}
.add-btn{
  float: right;
  border-color: $show-btn !important;
  background-color: $show-btn !important;
  margin-left:15px;
}

  .price{
    border: 1px solid $grey;
    float: left;
    width: 100%;
    height: 130px;
    margin-bottom:8px;
  }
  .price-details{
    width:50%;
    float: left;

    p{
      padding-top:6px;
      font-size:14px;
      font-weight: 400;
      padding-bottom:6px;

      span{
        font-size:14px;
        font-weight:600;
      }
    }
  }
.pos{
  width:100%;
  float: left;
  border-bottom: 1px dotted $black;
  padding-bottom: 10px;
  p{
    font-size:16px;
    color:$black;

    span{
      font-size:14px;
      font-weight:600;
    }

  }
}
.pos-date{
  width:20%;
  float:left;
  color:$black;
  padding-top:10px;
  p{
    font-size: 16px;
    text-align: left;
    font-weight: 400;

    span{
      font-size:14px;
      font-weight:600;
    }
  }
}
.bill-no{
  width:80%;
  float: left;
  color:$black;
  padding-top: 10px;
  p{
    font-size: 16px;
    text-align: left;
    float: left;
    font-weight: 400;
  }
  .cus-name{
    font-size: 16px;
    text-align: left;
    font-weight: 400;
    p{
      font-size: 16px;
      text-align: left;
      float: left;
      font-weight: 400;
    }
  }
}
  .cus-name{
    width:100%;
    float: left;
  }
  /*---customr details---*/

.input-box{
  width:100%;
  border-bottom: 1px dotted $black;
  float: left;
  padding-bottom:20px;
}
.search-bar{
  width:33.33%;
  float:left;
  margin-top:20px;
  padding:5px;
}
.searchbar-md {
  padding:0px;
}

.searchbar-md .searchbar-input {
  padding: 6px 45px;
  border-radius: 2px;
  background-position: left 8px center;
  height: auto;
  height: 37px;
  font-size:$font-sm;
  font-weight: 400;
  line-height: 2rem;
  color:$black;
  background-color:$white;
  border:1px solid $grey;
  -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px -0px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px -0px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
}
.searchbar-md .searchbar-input::-moz-placeholder {
  color: #aeaeae;
}
.searchbar-md .searchbar-search-icon {
  left: 16px;
  top: 8px;
  width: 21px;
  height: 23px;
}
.searchbar-md .searchbar-clear-icon {
  right: 3px;
  position: absolute;
  width: 22px;
  height: 80%;
  border:none;
  background-size: 22px;
  border-radius: 30px;
}
.form-control {
  display: block;
  width: 100%;
  height: 37px;
  padding: 0px 5px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
}
.input-control{
  width:33.33%;
  float: left;
  padding: 5px;
}
/*---table row---*/
.details{
  width:100%;
  float: left;
  margin-top:0px;
  padding-top: 20px;
  padding-bottom:20px;

  table { 
		width: 100%; 
    border-collapse: collapse; 
    padding:0px 5px 10px 5px; 
	}
	// /* Zebra striping */
	// tr:nth-of-type(odd) { 
	// 	background:; 
	// }
	th { 
    width:20px;
		background: #f4f4f4; 
		color:#000; 
    font-weight:500; 
  }
	td, th { 
		padding:5px 0px 5px 3px; 
		border: 1px solid $border; 
    text-align: left; 
    font-size: 15px;
  }
  .table-container{
    width:100%;
    padding-bottom: 20px;
    border-bottom:1px dotted $black;
  }
  .table-icon{
    font-size:16px;
    font-weight: 600;
    padding-top:10px;
    padding-left: 8px;
  }
  .table-icons{
    font-size:16px;
    font-weight: 600;
    padding-top:10px;
    padding-left:0px;
    padding-right:3px;
  }
  .dit-btn{
    background-color:$white;
    padding: 2px;
    color:$black;
    width: 25px;
    height: 25px;
    margin-left:18px;
  }
  .dit-btn:hover{
    background-color:$white;
    color:$red;
  }
  
}


.scroll-y .scroll-content {
  overflow-y: auto;
  background: #fff;
}
.card-content-md {
  padding: 8px 8px 8px 8px;
  font-size: 1.4rem;
  line-height: 1.5;
}
.label-md[stacked],
.label-md[floating] {
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 10px;
}
.btn-border{
  background-color: #ccc;

}
/*---row3---*/
.payment-container{
  width:100%;
  color:$black;
  padding-top:15px;
  padding-bottom: 20px;
  border-bottom: 1px dotted $black;
}
.payment-box{
  width:50%;
  float: left;
}
.payment-content{
  width:40%;
  padding:0px;
  float: left;
}
.payment-content1{
  width:40%;
  padding:0px;
  float: left;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  border-bottom:1px solid $grey;
}
  .form-group {
    float: left;
    width:50%;
    margin-left: 20px;
  }
  .col-form-label-lg {
    font-size:16px;
    color:$black;
    font-weight: 500;
    padding-bottom:9px;
    padding-top:9px;
  }
  .form-input {
    display: block;
    width: 100%;
    height: 37px;
    padding: 0px 5px;
    font-size: 14px;
    line-height: 1.42857143;
    color:$black;
    background-color: $white;
    background-image: none;
    border-bottom: 1px solid $grey;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
  }
  
/*--row4--*/
.group-btn{
  width:100%;
  float: left;
}
.save-btn{
  background-color:$btn-color;
  color:$white;
}
.save-btn:hover:not(.disable-hover) {
  background-color:$btn-color;
  color:$white;
}
.print-btn{
  background-color:$primary;
  color:$white;
}
.print-btn:hover:not(.disable-hover) {
  background-color:$primary;
  color:$white;
}

.cal-btn{
  background-color:$dark;
  color:$white;
  float: right;
}
.cal-btn:hover:not(.disable-hover) {
  background-color:$dark;
  color:$white;
}
}