<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
  <br>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-4>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card>
                <ion-card-content>
                  <P>Products</P>
                  <ion-scroll style="height:50vh" scrollX="true" scrollY="true">
                    <ion-list>
                      <div *ngFor="let product of productList" class="productname">
                        <ion-item>
                          <div (click)="itemSelected(product)">
                            <div class="item-detail ">
                              <p color="darkgreen">{{product.productName}}</p>
                              <p color="darkgreen">{{product.availableQuantity}}</p>
                            </div>
                          </div>
                          <ion-buttons>
                            <button ion-button type="button" class="add-btn" ion-button type="button"
                              (click)="addProductsToSell(product)" [disabled]="(product.availableQuantity==0)">
                              Add
                            </button>
                          </ion-buttons>
                        </ion-item>
                      </div>
                    </ion-list>
                  </ion-scroll>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col *ngIf="showProductDetails">
              <ion-card>
                <ion-card-content>
                  <div class="content">
                    <div class="price">
                      <div class="price-details">
                        <p><span>Product Name:</span> {{singleProduct.productName }}</p>
                      </div>
                      <div class="price-details">
                        <p><span>Selling Price:</span> {{singleProduct.totalPrice | currency: ' &#x20A8;'}}</p>
                      </div>
                      <div class="price-details">
                        <p><span>Available Quantity:</span> {{singleProduct.availableQuantity}}</p>
                      </div>
                      <div class="price-details">
                        <p><span>State GST:</span> {{ singleProduct.sGst }}</p>
                      </div>
                      <div class="price-details">
                        <p><span>Central GST:</span> {{ singleProduct.cGst }}</p>
                      </div>
                      <div class="price-details">
                        <p><span>Central GST:</span> {{ singleProduct.barcode }}</p>
                      </div>
                    </div>
                  </div>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col col-8>
        <ion-card>
          <ion-card-content>
            <ion-col>
              <div class="pos">
                <div class="bill-no">
                  <p><span>Bill No : </span> {{ billNo }}</p><br>
                  <div class="cus-name">
                    <p><span>Employee Name : </span>{{ dataStore.loginMetaData.firstName}}
                      {{ dataStore.loginMetaData.lastName }}</p>
                  </div>
                </div>
                <div class="pos-date">
                  <p><span>Date : </span> {{formattedDate}}</p><br>
                  <p><span>Time : </span> {{time}}</p>
                </div>
              </div>
            </ion-col>
            <ion-col>
              <div class="input-box">
                <div class="search-bar">
                  <!-- <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar> -->

                  <ion-searchbar type="text" placeholder="Customer MobileNumber" (ionInput)="getItems($event)"
                    [(ngModel)]="selectedCustomerMobileNumber" id="selectedCustomerMobileNumber"
                    name="selectedCustomerMobileNumber">
                  </ion-searchbar>

                  <div class="cus-name">
                    <ion-list *ngIf="showList">
                      <ion-item *ngFor="let customer of listCustomer" (click)="selectCustomer(customer)">
                        {{ customer.customerMobile }}
                      </ion-item>
                    </ion-list>
                  </div>
                </div>
                <div class="input-control">
                  <ion-item no-lines>
                    <ion-label for="customerName" class="lable" floating>Customer Name</ion-label>
                    <ion-input type="search" id="selectedCustomerName" [(ngModel)]="selectedCustomerName"
                      class="form-control" name="selectedCustomerName">
                    </ion-input>
                  </ion-item>
                </div>
                <!-- <div class="input-control">
                  <ion-item no-lines>
                    <ion-label for="mobileNumber" class="lable" floating>Mobile Number</ion-label>
                    <ion-input type="text" [(ngModel)]="selectedCustomerMobileNumber" id="selectedCustomerMobileNumber"
                      class="form-control" name="selectedCustomerMobileNumber">
                    </ion-input>
                  </ion-item>
                </div> -->
              </div>
            </ion-col>

            <ion-col>
              <div class="details">
                <div class="table-container">
                  <table>
                    <thead>
                      <tr>
                        <th>SNo</th>
                        <th>Item Name</th>
                        <th>Price</th>
                        <th>HSN/SAC</th>
                        <th>Qty</th>
                        <th>SGst</th>
                        <th>CGst</th>
                        <th>Amount</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let product of selectedProducts ; let i = index">
                        <td>{{i+1}}</td>
                        <td>
                          <ion-input type="text" [value]="product.productName" id="productName"
                            [(ngModel)]="product.productName" name="productName">
                          </ion-input>
                        </td>
                        <td>
                          <ion-input type="text" readonly id="price" [value]="product.singleProductPrice"
                            [(ngModel)]="product.singleProductPrice" name="price">
                          </ion-input>
                        </td>
                        <td>
                          <ion-input type="text" readonly id="barcode" [value]="product.barcode"
                            [(ngModel)]="product.barcode" name="barcode">
                          </ion-input>
                        </td>
                        <td>
                          <ion-row>

                            <ion-col>
                              <ion-icon class="table-icon" style="float: left" name="remove-circle"
                                (click)="decrementQty(i)"> </ion-icon>
                            </ion-col>

                            <ion-col>
                              <ion-input type="number" min="0" style="float: left" type="text"
                                [value]="product.selectedProductQuantity" id="productquantity"
                                [(ngModel)]="product.selectedProductQuantity" name="productquantity"
                                (ionChange)="calculateProductDetails(i, product.selectedProductQuantity)">
                              </ion-input>
                            </ion-col>

                            <ion-col>
                              <ion-icon class="table-icons" style="float: left" name="add-circle"
                                (click)="incrementQty(i)"> </ion-icon>
                            </ion-col>

                          </ion-row>
                        </td>
                        <td>
                          <ion-input type="text" readonly [value]="product.sGst" readonly id="sgst"
                            [(ngModel)]="product.sGst" name="sgst">
                          </ion-input>
                        </td>
                        <td>
                          <ion-input type="text" readonly [value]="product.cGst" id="cgst" [(ngModel)]="product.cGst"
                            name="cgst">
                          </ion-input>
                        </td>

                        <td>
                          <ion-input type="number" [placeholder]="product.selectedProductQuantity < 1  ? 0 : 0 "
                            readonly value="product.singleProductTotalAmount" [value]="product.singleProductTotalAmount"
                            id="singleProductTotalAmount" [(ngModel)]="product.singleProductTotalAmount"
                            (ionChange)="calculateGrandTotal()" name="singleProductTotalAmount">
                          </ion-input>
                        </td>
                        <td>
                          <button ion-button class="dit-btn" type="button"
                            (click)="removeProductsToSell(product.productId)" icon-only>
                            <ion-icon class="itemIcon" name="close"></ion-icon>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <ion-col>
                  <div class="payment-container">
                    <ion-row>
                      <div class="payment-box">
                        <ion-col>
                          <div class="form-group">
                            <ion-label class="col-form-label-lg">Total Products:</ion-label>
                          </div>
                          <div class="payment-content">
                            <ion-input type="text" readonly [value]="sellQuantity" id="sellQuantity"
                              [(ngModel)]="sellQuantity" class="form-input " name="sellQuantity">
                            </ion-input>
                          </div>
                        </ion-col>

                        <ion-col>
                          <div class="form-group">
                            <ion-label class="col-form-label-lg"> Total sGst: Rs.</ion-label>
                          </div>
                          <div class="payment-content">
                            <ion-input type="text" readonly [value]="totalsGst" id="totalsGst" [(ngModel)]="totalsGst"
                              class="form-input " name="totalsGst">
                            </ion-input>
                          </div>
                        </ion-col>

                        <ion-col>
                          <div class="form-group">
                            <ion-label class="col-form-label-lg"> Total cGst: Rs. </ion-label>
                          </div>
                          <div class="payment-content">
                            <ion-input type="text" readonly [value]="totalcGst" id="totalcGst" [(ngModel)]="totalcGst"
                              class="form-input " name="totalcGst">
                            </ion-input>
                          </div>
                        </ion-col>
                      </div>

                      <div class="payment-box">
                        <ion-col>
                          <div class="form-group">
                            <ion-label class="col-form-label-lg">Grand Total : </ion-label>
                          </div>
                          <div class="payment-content1">
                            <ion-label>{{ grandTotal }} </ion-label>
                          </div>
                        </ion-col>

                        <ion-col>
                          <div class="form-group">
                            <ion-label class="col-form-label-lg"> Paid amount : </ion-label>
                          </div>
                          <div class="payment-content">
                            <ion-input placeholder="0" type="text" id="amountPaid" [(ngModel)]="amountPaid"
                              class="form-input " name="amountPaid"
                              (ionChange)="calculateAmountPaid(grandTotal, amountPaid)" pattern="^([0-9]*[0-9])$"
                              required maxlength="50">
                            </ion-input>
                          </div>
                        </ion-col>
                        <ion-col>
                          <div class="form-group">
                            <ion-label class="col-form-label-lg"> Balance Amount: </ion-label>
                          </div>
                          <div class="payment-content">
                            <ion-input placeholder="0" readonly type="text" id="balanceAmount"
                              [(ngModel)]="balanceAmount" class="form-input " name="balanceAmount"
                              pattern="^([0-9]*[0-9])$" required maxlength="50">
                            </ion-input>
                          </div>
                        </ion-col>
                      </div>
                    </ion-row>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="group-btn">
                    <div>
                      <button ion-button class="show-btn" type="button" (click)="SaveCart()">Save</button>
                      <!-- <button ion-button (click)="itemDetailPosModal(i);">Open modal </button><br> -->
                      <button ion-button class="print-btn" (click)="printInvoice()">Print </button><br>
                      <button ion-button class="cal-btn" type="button" slot="end" (click)="openCalculator()">
                        <ion-icon slot="icon-only" name="calculator"></ion-icon>
                      </button>
                    </div>
                  </div>
                </ion-col>
              </div>
            </ion-col>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>