$body-bg: #eaeef3;
$white:#fff;
$black:#000;
$border:#dee2e6;
$btn-color:#34bfa3;
$grey:#666666;
$table-border:#ccc;
$table-bg:#e6e6e6;
$table-br:#2f3646;
$red:#e60000;
$branch:#6c757d;
$icon:#999999;
$hover:#f2f2f2;
$icon:#999999;