<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <!-- <app-header [headerTitle]="headerTitle"></app-header> -->
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="branches-body">
    <ion-grid class="grid-1">
      <h1>Branches</h1>
      <ion-row>
          <ion-col col-12>
              <div class="demo-btn">
                  <button  [disabled]="!selectedBranchesCount == 0" text-capitalize ion-button (click)="addNewBranch()" class="show-btn">
                    Add New Branch
                  </button>
                <!-- <ion-col>
                <button [disabled]="selectedBranchesCount != 1" text-capitalize ion-button (click)="editSingleBranch();"
                  class="edit-btn">
                  <p text-capitalize> Edit Branch </p>
                </button>
                </ion-col> -->
                  <button [disabled]="!selectedBranchesCount >= 1 " text-capitalize ion-button (click)="deleteMultipleBranches()" class="dlt-btn">
                     Delete Branches
                  </button>
              </div>
            </ion-col>
      </ion-row>
    </ion-grid>

    <!-- <ion-grid class="grid-2">
      <ion-row>
        <ion-col col-12>
          <ion-list>
            <ion-item class="table">
              <ion-checkbox [(ngModel)]="IsAllChecked" name="isChecked" id="checkedId" class="details" (click)="CheckUncheckAll(IsAllChecked)"></ion-checkbox>
              <ion-label>Name</ion-label>
              <ion-label>Email Address</ion-label>
              <ion-label>Mobile Number</ion-label>
              <ion-label text-center>City</ion-label>
              <ion-label text-center>No.Of Products</ion-label>
              <ion-label class="tools">&nbsp;</ion-label>
            </ion-item>
            <ion-item *ngFor="let branch of branchesList" class="listItem branch-details details">
              <ion-checkbox id="{{branch.branchId}}" type="checkbox" name="check" [(ngModel)]="branch.selected"
                (change)="branchEdit(branch.branchId)" (click)="CheckUncheckHeader(branch.selected, branch.branchId)"></ion-checkbox>
              <ion-label> {{ branch.branchName }} </ion-label>
              <ion-label>{{ branch.email }}</ion-label>
              <ion-label>{{ branch.mobileNumber }}</ion-label>
              <ion-label>{{ branch.city }}</ion-label>
              <ion-label>{{ branch.productsQty }}</ion-label>
              <ion-label>
                <button ion-button class="btn edit2-btn" type="button" (click)="editBranch(branch.branchId)" icon-only>
                  <ion-icon class="icon" name='create'></ion-icon>
                </button>
                <button ion-button class="btn dlt2-btn" type="button" (click)="deleteBranch(branch.branchId)" icon-only>
                  <ion-icon class="icon" name='trash'></ion-icon>
                </button>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid> -->

    <!-- <ngx-datatable class="fullscreen" [ngClass]="tablestyle" [row]="branchesList" [columnMode]="'force'" [sortType]="multi"
      [reorderable]="false">
      <ngx-datatable-column name="BusinessName"></ngx-datatable-column>
      <ngx-datatable-column name="Gender"></ngx-datatable-column>
      <ngx-datatable-column name="Age"></ngx-datatable-column>
      <ngx-datatable-column name="Age"></ngx-datatable-column>
      <ngx-datatable-column name="Age"></ngx-datatable-column>
      <ngx-datatable-column name="Age"></ngx-datatable-column>
    </ngx-datatable> -->
    <ion-grid>
        <ion-row>
            
            <ion-col>
              <ion-list>
                <div class="table-header">
                <div class="table-sub-header">
                  <ngx-datatable padding [ngClass]="tablestyle" [rows]="branchesList" [columnMode]="'force'" [sortType]="multi"
                    [reorderable]="false" [loadingIndicator]="true">
                      <ngx-datatable-column name="id">
                        <ng-template ngx-datatable-header-template>
                          <ion-checkbox [(ngModel)]="IsAllChecked" name="isChecked" id="checkedId" (click)="CheckUncheckAll(IsAllChecked)"></ion-checkbox>
                        </ng-template>
                        <ng-template ngx-datatable-cell-template let-row="row">
                          <ion-checkbox id="{{branchId}}" type="checkbox" name="check" [(ngModel)]="row.branchSelected" (click)="CheckUncheckHeader(row.branchSelected, row.branchId)"></ion-checkbox>
                        </ng-template>
                      </ngx-datatable-column>
                    <ngx-datatable-column class="text" name="Branch Name"></ngx-datatable-column>
                    <ngx-datatable-column class="text" name="Email"></ngx-datatable-column>
                    <ngx-datatable-column class="text" name="Mobile Number"></ngx-datatable-column>
                    <ngx-datatable-column class="text" name="Address"></ngx-datatable-column>
                    <ngx-datatable-column class="text" name="No.Of Products"></ngx-datatable-column>
                    <ngx-datatable-column class="text" name="id" >
                    <ng-template ngx-datatable-header-template class="table-header">
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-row="row">
                      <button ion-button  class="edite-btn" icon-only (click)="editBranch(row.branchId)">
                          <span><ion-icon name="create"></ion-icon></span>
                      </button>
                      <button ion-button  class="dash-btn" icon-only (click)="deleteBranch(row.branchId)">
                          <span><ion-icon name="trash"></ion-icon></span>
                      </button>
                    </ng-template>
                  </ngx-datatable-column>
                </ngx-datatable>
              </div>
            </div>
            </ion-list>
          </ion-col>
        </ion-row>

    </ion-grid>
  </div>
</ion-content>