branches-list {
  @import url('https://fonts.googleapis.com/css?family=Poppins');
  @import 'font';
  @import 'color';

  .body {
    font-family: 'Poppins', sans-serif;
  }

  .branches-body {
    width: 100%;

    h1 {
      font-size: $font-md;
      margin: 2rem 0 1.5rem;
      color: $black;
    }
  }

  .grid{
    padding: 0px 10px 0px 10px;
  }
  .list-md {
    padding:0px;
    background-color: $white;
    margin: 0px 0 0px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    box-shadow: 0 0px 5px 0px rgba(115, 108, 203, 0.23);
  }
  .box{
    border:1px solid #000;
  }

  .scroll-content {
    background: $body-bg;
    padding: 0px;
  }
  .demo-btn{
    width:100%;
    padding-top: 15px;
    padding-bottom: 15px;
    background:$white;
    float: left;
  }
  .show-btn{
    float: left;
    border-color: $show-btn !important;
    background-color: $show-btn !important;
    margin-left:15px;
    color:$white;
  }
  .dlt-btn{
    float: left;
    border-color:$red!important;
    background-color:$red!important;
    margin-left:15px;
    color:$white;
  }
  .add-btn{
    float: left;
    border-color: $show-btn !important;
    background-color: $show-btn !important;
    margin-left:15px;
  }
  .button-md {
    -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px -0px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px -0px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
}
  
  .table {
    height:auto;
    /*--background-color: rgb(218, 223, 228);--*/
    background-color: $border;
    /*--border-bottom: 1px solid $border;
    border-bottom: 1px solid $border;
    border-left: 1px solid $border;--*/
    float: left;
    border:1px solid #000;


    .details {
      padding-left:0px;
      border-radius: 3px;
      border:1px solid #000;
    }
  }

  .item-md.item-block .item-inner {
    padding-right: 0px;
    border-bottom: 0px solid $border;
  }

  .branch-details {
    height:auto;
    /*--background-color: rgb(218, 223, 228);--*/
    background-color: $white;
  }

  .item.item-md .checkbox-md {
    position: static;
    display: block;
    margin: 0px 0px 0px 0px;
    padding-left: 0px;
    text-align: center;
    width:40px;
  }

  .item-block {
    width: 100%;
    min-height: 0.0rem;
  }

  .checkbox-md+.item-inner ion-label {
    padding-left: 5px;
    text-align: center;
    font-size: $font-sm;
    border: 1px solid #000;
    padding-top: 40px;
    padding-bottom: 40px;
    width:40px;

  }

  .tools {
    padding-top: 0px;
    border: 1px solid $table-border;
  }

  .edit-dlt-btn:hover {
    visibility: visible;
  }

  .edit-dlt-btn {
    visibility: hidden;
  }
  .table-header{
    padding: 5px;
  }
  .table-sub-header{
    margin: 10px;
    border:1px solid #ccc;
  }
  .ngx-datatable.bootstrap .datatable-header .datatable-header-cell {
    vertical-align: bottom;
    padding:5px 0px 3px 10px;
    /*--border-bottom:0px solid #ccc;
    border-top:1px solid #ccc;--*/
  }
  .ngx-datatable.bootstrap .datatable-body .datatable-body-row {
    vertical-align: top;
    border-top: 0px solid #d1d4d7;
  }

  .ngx-datatable.bootstrap {
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 14px;
    text-align: left;
  }
  .ngx-datatable.bootstrap .datatable-body .datatable-body-row .datatable-body-cell {
    padding:3px 0px 0px 10px;
    text-align:left;
    vertical-align: top;
   /*-- border-left:1px solid #ccc;
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;--*/
    &:hover{
      background-color: #ccc;
      color:#000;
    }
  }
  .ngx-datatable .datatable-body .datatable-scroll {
    display: inline-block;
    width: 100%;
  }
  
  .button {
    border: 0;
    font-family: inherit;
    font-style: inherit;
    font-variant: inherit;
    line-height: 1;
    background: none;
    text-transform: none;
    cursor: pointer;
    -webkit-appearance: button;
  }
  .checkbox-icon {
    position: relative;
    width: 16px;
    height: 16px;
    background-color: rgb(255, 255, 255);
    transition-duration: 280ms;
    transition-property: background;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 2px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(120, 120, 120);
    margin-top:4px;
    padding: 5px 0px 0px 0px;
  }
  .edite-btn{
  margin: 0px;
  margin-top: 0px;
  background-color: transparent;
  color:#000;

    .edite-icon{
      font-size:28px;
      text-align: center;
      padding-top: 0px;
      margin-left: 0px;  
    }
    
  }
  .edite-btn:hover:not(.disable-hover),
  .edite-icon:hover:not(.disable-hover) {
    background-color: #ccc;
    color:red;
  }
  .dash-btn{
    margin: 0px;
    margin-top: 0px;
    background-color: transparent;
    color:#000;
    .dash-icon{
      font-size:28px;
      text-align: center;
      padding-top: 0px;
      margin-left: 0px;

      .dash-icon:hover{
        color:blue;
      }

    }

  }
  .dash-btn:hover:not(.disable-hover),
  .dash-icon:hover:not(.disable-hover) {
    background-color: #ccc;
    color:red;
  }
 
  .text{
    font-size: 16px;
    color:#ccc;
    padding-top: 5px;
  }
  // .icon {
  //   color: #666666;
  // }
  
  // branches-list .icon:hover {
  //   color: #fff;
  // }
  
  
  
}
