$body-bg: #c1bdba;
$form-bg: #13232f;
$white: #ffffff;
$yellow:#ffad33;
$main: #1ab188;
$main-light: lighten($main,5%);
$main-dark: darken($main,5%);
$blue:#4dd2ff;
$gray-light: #a0b3b0;
$gray: #ddd;
$text-color:#555555;
