page-login {
    @import url("https://fonts.googleapis.com/css?family=Barlow:300,400,500,600,700,800");


*, *:before, *:after {
    box-sizing: border-box;
  }
  
  html {
      overflow-y: scroll; 
  }
  
  body {
    background:$bg-white;
    font-family: 'Barlow', sans-serif;
  }
  .col {
    padding: 0px;
    margin-top: 0px;
    width: 100%;
  }
  .form{
    
        width:320px; 
		    margin:0px auto;  
	    	height:auto; 
		    margin-top:0px;
        overflow:hidden;
        padding: 65px 50px 33px 50px;
        background-color: rgba($white,.9);
        border-radius:$br;
        border:1px solid #ccc;
        /*--box-shadow:0 4px 10px 4px rgba($form-bg,.3);--*/

  }
  .form-avatar {
    display: block;
    width: 50px;
    height: 70px;
    border-radius: 0%;
    overflow: hidden;
    margin: 0 auto;
    padding:0px 0px 0px 0px;
  }
  h3{
    font-size:30px;
    font-weight: $bold;
    text-align: center;
    font-family: 'Barlow', sans-serif;
  }

  .form-input{
    font-family: 'Barlow', sans-serif;
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
	  margin-top:20px;
    display: block;
    width: 100%;
    height: 40px;
    border:none;
    border:1px solid $body-bg;
    border-radius: $br;
    background: transparent;
    padding: 0 5px;
    &:focus {
          outline:0;
          border-color:$main;
    }
  }
  .form-button{
    
    width:100%;
    padding: 0 30px;
    width: 100%;
    margin-top:40px;
    margin-bottom: 30px;
    height: 50px;
    background-color:$yellow;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins-Medium;
    font-size: 16px;
    color: $white;
    line-height: 1.2;
    text-transform: uppercase;
    &:hover, &:focus {
      background:$blue;
    }
  }
  .register-button{
      width:100%;
      background-color: $white;
      font-size:12px;
      font-weight: $normal;
    &:hover{
        background-color: $white;
    }
  }
 

  }
