<ion-header >
  <ion-navbar align-title="center">
    <ion-title >Track The Business</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="align-content: center" padding>
  <form class="form" >
    <img class="form-avatar" src="../../assets/imgs/ttb-logo.png" alt="logo">
    <h3>Login Page</h3>
    <ion-grid>
      <ion-row>
        <ion-col>
          <input class="form-input" type="text" [(ngModel)]="email" name="email" placeholder="Email">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <input class="form-input" type="password" [(ngModel)]="password" name="password" placeholder="Password">
        </ion-col>
      </ion-row>
    </ion-grid>
    <button ion-button (click)="logForm()" class="form-button">Login</button>
    <div><button ion-button clear (click)="registerUser()" type="button" text-capitalize text-justify class="register-button">Don't have account? Sign up Here</button></div>
  </form>
</ion-content>