@import url("https://fonts.googleapis.com/css?family=Barlow:300,400,500,600,700,800");
page-login {
}

page-login *, page-login *:before, page-login *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

page-login html {
  overflow-y: scroll;
}

page-login body {
  background: #c1bdba;
  font-family: 'Barlow', sans-serif;
}

page-login .form {
  width: 400px;
  margin: 0px auto;
  height: auto;
  margin-top: 0px;
  overflow: hidden;
  padding: 65px 55px 33px 55px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
          box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

page-login .form-avatar {
  display: block;
  width: 65px;
  height: 90px;
  border-radius: 0%;
  overflow: hidden;
  margin: 0 auto;
  padding: 0px 0px 0px 0px;
}

page-login h3 {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  font-family: 'Barlow', sans-serif;
}

page-login .form-input {
  font-family: 'Barlow', sans-serif;
  font-size: 15px;
  color: #555555;
  line-height: 1.2;
  margin-top: 20px;
  display: block;
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 2px solid #c1bdba;
  background: transparent;
  padding: 0 5px;
}

page-login .form-input:focus {
  outline: 0;
  border-color: #1ab188;
}

page-login .form-button {
  width: 100%;
  padding: 0 30px;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 30px;
  height: 50px;
  background-color: #ffad33;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Poppins-Medium;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
}

page-login .form-button:hover, page-login .form-button:focus {
  background: #4dd2ff;
}

page-login .register-button {
  width: 100%;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}

page-login .register-button:hover {
  background-color: #ffffff;
}

@media screen and (max-width: 320px) {
  page-login .form {
    width: 100%;
    margin: 0px auto;
    height: auto;
    margin-top: 0px;
    overflow: hidden;
    padding: 65px 55px 33px 55px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 4px;
    -webkit-box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
            box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  }
  page-login h3 {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    font-family: 'Barlow', sans-serif;
  }
  page-login .form-input {
    font-family: 'Barlow', sans-serif;
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
    margin-top: 20px;
    display: block;
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 2px solid #c1bdba;
    background: transparent;
    padding: 0 5px;
  }
  page-login .form-input:focus {
    outline: 0;
    border-color: #1ab188;
  }
  page-login .form-button {
    width: 100%;
    padding: 0 30px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 30px;
    height: 50px;
    background-color: #ffad33;
    border-radius: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
  }
  page-login .form-button:hover, page-login .form-button:focus {
    background: #4dd2ff;
  }
  page-login .register-button {
    width: 100%;
    background-color: #ffffff;
    font-size: 10px;
    font-weight: 400;
  }
  page-login .register-button:hover {
    background-color: #ffffff;
  }
}

@media screen and (max-width: 480px) {
  page-login .form {
    width: 100%;
    margin: 0px auto;
    height: auto;
    margin-top: 0px;
    overflow: hidden;
    padding: 65px 55px 33px 55px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 4px;
    -webkit-box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
            box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  }
  page-login h3 {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    font-family: 'Barlow', sans-serif;
  }
  page-login .form-input {
    font-family: 'Barlow', sans-serif;
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
    margin-top: 20px;
    display: block;
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 2px solid #c1bdba;
    background: transparent;
    padding: 0 5px;
  }
  page-login .form-input:focus {
    outline: 0;
    border-color: #1ab188;
  }
  page-login .form-button {
    width: 100%;
    padding: 0 30px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 30px;
    height: 50px;
    background-color: #ffad33;
    border-radius: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
  }
  page-login .form-button:hover, page-login .form-button:focus {
    background: #4dd2ff;
  }
  page-login .register-button {
    width: 100%;
    background-color: #ffffff;
    font-size: 12px;
    font-weight: 400;
  }
  page-login .register-button:hover {
    background-color: #ffffff;
  }
}

@media screen and (max-width: 640px) {
  page-login .form {
    width: 400px;
    margin: 0px auto;
    height: auto;
    margin-top: 0px;
    overflow: hidden;
    padding: 65px 55px 33px 55px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 4px;
    -webkit-box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
            box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  }
  page-login h3 {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    font-family: 'Barlow', sans-serif;
  }
  page-login .form-input {
    font-family: 'Barlow', sans-serif;
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
    margin-top: 20px;
    display: block;
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 2px solid #c1bdba;
    background: transparent;
    padding: 0 5px;
  }
  page-login .form-input:focus {
    outline: 0;
    border-color: #1ab188;
  }
  page-login .form-button {
    width: 100%;
    padding: 0 30px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 30px;
    height: 50px;
    background-color: #ffad33;
    border-radius: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
  }
  page-login .form-button:hover, page-login .form-button:focus {
    background: #4dd2ff;
  }
  page-login .register-button {
    width: 100%;
    background-color: #ffffff;
    font-size: 12px;
    font-weight: 400;
  }
  page-login .register-button:hover {
    background-color: #ffffff;
  }
}

@media screen and (max-width: 768px) {
  page-login .form {
    width: 400px;
    margin: 0px auto;
    height: auto;
    margin-top: 0px;
    overflow: hidden;
    padding: 65px 55px 33px 55px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 4px;
    -webkit-box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
            box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  }
  page-login h3 {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    font-family: 'Barlow', sans-serif;
  }
  page-login .form-input {
    font-family: 'Barlow', sans-serif;
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
    margin-top: 20px;
    display: block;
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 2px solid #c1bdba;
    background: transparent;
    padding: 0 5px;
  }
  page-login .form-input:focus {
    outline: 0;
    border-color: #1ab188;
  }
  page-login .form-button {
    width: 100%;
    padding: 0 30px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 30px;
    height: 50px;
    background-color: #ffad33;
    border-radius: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
  }
  page-login .form-button:hover, page-login .form-button:focus {
    background: #4dd2ff;
  }
  page-login .register-button {
    width: 100%;
    background-color: #ffffff;
    font-size: 12px;
    font-weight: 400;
  }
  page-login .register-button:hover {
    background-color: #ffffff;
  }
}
/*# sourceMappingURL=login.css.map */