$font-size-sm:1rem;
$font-size-md:1.5rem;
$font-size-lg:1.875rem;
$font-size-xl:2rem;
$font-size-10:0.625rem;
$font-size-12:0.75rem;
$font-size-14:0.875rem;
$font-size-18:1.125rem;
$font-size-20:1.25rem;
$font-size-24:1.5rem;
$thin:300;
$medium:400;
$bold:600;
$line-height: 3rem;
$border-radius-light:2px;
$border-radius:5px;
$border-radius-md:50%;
$font-family-text:   'Barlow', sans-serif;