<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <img class="imglogo" [src]="businessClicked?.imageUrl" alt="BusinessLogo" />
      <label class="add_business"> {{ businessClicked?.businessName }} </label>
    </ion-title>
  </ion-navbar>
  <br>
  <div floating-left>
    <ion-buttons end>      
      <button *ngIf="isWeb" ion-button top right clear (click)="uploadByDocument()">
        Add Multiple Using Document
      </button>
      <button *ngIf="isWeb && addByDocument" ion-button top right clear (click)="cancelUploadByDocument()">
        Cancel
      </button>
      <button *ngIf="usersExist" ion-button end right clear (click)="listUsers()">
        List Users
      </button>
    </ion-buttons>
  </div>
</ion-header>

<ion-content *ngIf="isWeb" padding>
  <div style="padding-left: 38%" padding-bottom align-center>
    <h3>Add Users</h3>
  </div>
  <div *ngIf="!addByDocument">
    <form [formGroup]="form" (ngSubmit)="addUsers(form.value)">
      <div class="addUserSection" formArrayName="user" margin-bottom>
        <section [formGroupName]="i" *ngFor="let user1 of form.controls.user.controls; let i = index">
          <ion-grid class="container">
            <ion-row>
              <ion-col>
                <P>{{ i + 1 }}.</P>
              </ion-col>
              <ion-col pull-2 col-4 class="businessInputs">
                <ion-item margin-bottom no-lines>
                  <ion-label floating>Email </ion-label>
                  <ion-input class="form-control" type="text" maxlength="40" formControlName="email" required pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col col-4 class="businessInputs">
                <ion-item margin-bottom padding-left no-lines>
                  <ion-label floating>User Role</ion-label>
                  <ion-select id="roles" formControlName="roles">
                    <ion-option value="2">Admin</ion-option>
                    <ion-option value="3">Employee</ion-option>
                  </ion-select>
                </ion-item>
              </ion-col>
              <ion-col col-1>
                <button clear ion-button margin-top margin-left icon-only *ngIf="form.controls.user.length > 1" (click)="removeInputField(i)">
                  <ion-icon name="close"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </section>
        <div class="container">
          <button ion-button margin-top color="primary" text-center [disabled]="!form.valid">Send Invitation</button>
          <button ion-button margin-top icon-left type="button" (click)="addNewInputField()">
            <ion-icon name="add"></ion-icon>
            Add more users
          </button>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="addByDocument">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div (click)="fileInputPicker.click();">
            <input type="file" hidden accept=".xlsx, .csv, application/vnd.ms-excel, text/csv, text/plain"
              #fileInputPicker (change)="onDocUpload($event.target.files);">
            <ion-input style="width: 40%" type="text" readonly class="form-control imgInput" no-lines [placeholder]=" docName ? docName : 'Add document..' ">
              <ion-icon name="camera"></ion-icon>
            </ion-input>
            <button class="imgBtn" ion-button>
              Select Document
            </button>
          </div>
        </ion-col>
        <ion-col pull-2>
          <button class="imgBtn" [disabled]=" docName ? false : true " ion-button type="button" (click)="uploadDocument()">
            Upload
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<!-- Non Web-View -->
<ion-content *ngIf="!isWeb" padding>
  <div style="padding-left: 38%" padding-bottom align-center>
    <h3>Add Users</h3>
  </div>
  <form [formGroup]="form" (ngSubmit)="addUsers(form.value)">
    <div class="addUserSection" formArrayName="user" margin-bottom>
      <section [formGroupName]="i" *ngFor="let user1 of form.controls.user.controls; let i = index">
        <ion-grid class="sub-container">
          <ion-row>
            <ion-col col-6 >
              <ion-item margin-bottom no-lines>
          {{ i + 1 }}.
                <ion-label floating> Email </ion-label>
                <ion-input class="form-control" type="text" maxlength="40" formControlName="email" required pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"></ion-input>
              </ion-item>
            </ion-col>

            <ion-col col-5 >
              <ion-item margin-bottom padding-left no-lines>
                <ion-label floating class="form-lable">User Role</ion-label>
                <ion-select id="roles" class="form-select" formControlName="roles">
                  <ion-option value="2">Admin</ion-option>
                  <ion-option value="3">Employee</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col padding-top col-1 class="boreder">
              <button clear ion-button class="boreder" margin-top margin-left icon-only *ngIf="form.controls.user.length > 1"
                (click)="removeInputField(i)">
                <ion-icon name="close"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </section>
      <button ion-button padding-left margin-top color="primary" text-center [disabled]="!form.valid">Send Invitation</button>
      <button ion-button margin-top icon-left type="button" (click)="addNewInputField()">
        <ion-icon name="add"></ion-icon>
        Add more users
      </button>
    </div>
  </form>
</ion-content>
