<ion-header>
    <ion-navbar>
      <ion-buttons end>
        <button ion-button icon-only (click)="dismiss()">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  <ion-content>
    <div style="background-color: aliceblue; height: 100%; width: 100%;">
      <ion-title style="background-color: rgb(189, 187, 187); color: black; height: 40px;">Denomination</ion-title>
      <div>
        <!-- <form> -->
        <ion-row style=" border-bottom: 1px solid #B7B7B7; height: 50px;margin-bottom: 5px;">
          <ion-label style="margin-left: 20px;">2000</ion-label>
          <ion-label>×</ion-label>
          <ion-col>
            <ion-input (ionChange)="calculateDenom(2000)" [(ngModel)]="n2000"
              style=" border: 1px solid #B7B7B7; box-shadow: 1px 0px #B7B7B7;height: 35px; width: 62px;margin-left: -32px;">
            </ion-input>
          </ion-col>
          <ion-input [(ngModel)]="v2000" readonly [value]="v2000">
          </ion-input>
        </ion-row>
  
        <ion-row style="border-bottom: 1px solid #B7B7B7;height: 50px; margin-bottom: 5px; ">
          <ion-label style="margin-left: 20px;">500</ion-label>
          <ion-label>x</ion-label>
          <ion-col>
            <ion-input (ionChange)="calculateDenom(500)" [(ngModel)]="n500"
              style=" border: 1px solid #B7B7B7; box-shadow: 1px 0px #B7B7B7; height: 35px; width: 62px;margin-left: -32px;">
            </ion-input>
          </ion-col>
          <ion-input [(ngModel)]="v500" readonly [value]="v500">
          </ion-input>
        </ion-row>
  
        <ion-row style=" border-bottom: 1px solid #B7B7B7; height: 50px;margin-bottom: 5px; ">
          <ion-label style="margin-left: 20px;">100</ion-label>
          <ion-label>×</ion-label>
          <ion-col>
            <ion-input (ionChange)="calculateDenom(100)" [(ngModel)]="n100"
              style=" border: 1px solid #B7B7B7; box-shadow: 1px 0px #B7B7B7; height: 35px; width: 62px;margin-left: -32px;">
            </ion-input>
          </ion-col>
          <ion-input [(ngModel)]="v100" readonly [value]="v100">
          </ion-input>
        </ion-row>
  
        <ion-row style=" border-bottom: 1px solid #B7B7B7;height: 50px;margin-bottom: 5px; ">
          <ion-label style="margin-left: 20px;">50</ion-label>
          <ion-label>×</ion-label>
          <ion-col>
            <ion-input (ionChange)="calculateDenom(50)" [(ngModel)]="n50"
              style=" border: 1px solid #B7B7B7;  box-shadow: 1px 0px #B7B7B7;height: 35px; width: 62px;margin-left: -32px;">
            </ion-input>
          </ion-col>
          <ion-input [(ngModel)]="v50" readonly [value]="v50">
          </ion-input>
        </ion-row>
  
        <ion-row style=" border-bottom: 1px solid #B7B7B7; height: 50px;margin-bottom: 5px;">
          <ion-label style="margin-left: 20px;">20</ion-label>
          <ion-label style="width: 20px;">×</ion-label>
          <ion-col>
            <ion-input (ionChange)="calculateDenom(20)" [(ngModel)]="n20"
              style=" border: 1px solid #B7B7B7; box-shadow: 1px 0px #B7B7B7; height: 35px; width: 62px;margin-left: -32px;">
            </ion-input>
          </ion-col>
          <ion-input [(ngModel)]="v20" [value]="v20" readonly>
          </ion-input>
        </ion-row>
  
        <ion-row style=" border-bottom: 1px solid #B7B7B7;height: 50px; ">
          <ion-label style="margin-left: 20px;">10</ion-label>
          <ion-label>×</ion-label>
          <ion-col>
            <ion-input (ionChange)="calculateDenom(10)" [(ngModel)]="n10"
              style=" border: 1px solid #B7B7B7; box-shadow: 1px 0px #B7B7B7; height: 35px; width: 62px;margin-left: -32px;">
            </ion-input>
          </ion-col>
          <ion-input [(ngModel)]="v10" [value]="v10" readonly>
          </ion-input>
        </ion-row>
        <ion-row style=" border-bottom: 1px solid #B7B7B7;height: 50px; ">
          <ion-label style="margin-left: 20px;">5</ion-label>
          <ion-label>×</ion-label>
          <ion-col>
            <ion-input (ionChange)="calculateDenom(5)" [(ngModel)]="n5"
              style=" border: 1px solid #B7B7B7; box-shadow: 1px 0px #B7B7B7; height: 35px; width: 62px;margin-left: -32px;">
            </ion-input>
          </ion-col>
          <ion-input [(ngModel)]="v5" [value]="v5" readonly>
          </ion-input>
        </ion-row>
        <ion-row style=" border-bottom: 1px solid #B7B7B7;height: 50px; ">
          <ion-label style="margin-left: 20px;">2</ion-label>
          <ion-label>×</ion-label>
          <ion-col>
            <ion-input (ionChange)="calculateDenom(2)" [(ngModel)]="n2"
              style=" border: 1px solid #B7B7B7; box-shadow: 1px 0px #B7B7B7; height: 35px; width: 62px;margin-left: -32px;">
            </ion-input>
          </ion-col>
          <ion-input [(ngModel)]="v2" [value]="v2" readonly>
          </ion-input>
        </ion-row>
        <ion-row style=" border-bottom: 1px solid #B7B7B7;height: 50px; ">
          <ion-label style="margin-left: 20px;">1</ion-label>
          <ion-label>×</ion-label>
          <ion-col>
            <ion-input (ionChange)="calculateDenom(1)" [(ngModel)]="n1"
              style=" border: 1px solid #B7B7B7; box-shadow: 1px 0px #B7B7B7; height: 35px; width: 62px;margin-left: -32px;">
            </ion-input>
          </ion-col>
          <ion-input [(ngModel)]="v1" [value]="v1" readonly>
          </ion-input>
        </ion-row>
        <!-- </form> -->
      </div>
      <ion-row>
        <ion-label style="padding-left: 142px">Total</ion-label>
        <ion-col>
          <ion-input style="margin-left: -60px;margin-top: -4px;" [(ngModel)]="totalAmount" [value]="totalAmount">
          </ion-input>
        </ion-col>
      </ion-row>
    </div>
  
  </ion-content>