price-tag{

    .body{
        background-color: #fff;
    }
    .toolbar-md-secondary .toolbar-background-md {
        background: #333333;
        color:#fff;
      }
      ion-fab[bottom] {
        bottom: 20px;
      }
    h2 {
        margin-top: 1.8rem;
        font-size: 2.4rem;
        text-align: center;
        color:#fff;
      }
      .close{
        color:#fff;
      }
      .quantity-box{
          width:100%;
          float: left;
      }
      .quantity{
          width:50%;
          float: left;
         
      }
      .quantity-head-text{
          font-size: 20px;
          color: #000;
          padding-top: 10px;
          padding-left: 4px;
      }
      .quantity-range-text{
        font-size: 16px;
        color: #000;
        width:50px;
        padding: 0px;
        background-color:  #333333;
        color:#fff; 
        border-radius: 100px;
        float: right;
        text-align: center;
        padding-top: 0px;
        margin-top: 0px;
        padding-left: 4px;
        margin-left: 5px;
    }
      .quantity-text{
        width:50%;
        padding-top: 6px;
        float: left;
    }
    .form{
        width:100%;
    }
    .form-date{
        float: left;
        width:50%;
    }
    .form-cal{
        width:50%;
        float: left;
    }
    .form-cal-icon{
        float: right;
        padding-top: 13px;
        padding-bottom: 13px;
        padding-right: 30px;
    }
    .apply{
        width:100%;
        padding-top: 30px;
        color:#000;
    }
    .apply-btn{
        width:100%;
        background-color:blue;
        color:#fff;
        &:hover{
            color:#000;
            background-color: orange;
        }
    }
    .mobile-text{
        font-size: 10px;
        color: #000;
        padding-top: 10px;
        padding-left: 4px;
    }
    }