<ion-header>
  <ion-navbar color="secondary">
    <ion-fab right bottom margin-right="20px;">
      <ion-icon name="close" class="close" (click)="close()"></ion-icon>
    </ion-fab>
    <h2>Set Your Selling Price!</h2>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="isWeb" padding class="body">
  <form #f="ngForm" (ngSubmit)="addPriceTag(f)">
    <ion-grid>
      <ion-item no-lines>
          <ion-input hidden type="text" id="buId" ngModel #buId="ngModel" [(ngModel)]="BuId" class="form-control"
          name="buId">
          </ion-input>
          
          <ion-input hidden type="text" id="bId" ngModel #bId="ngModel" [(ngModel)]="BId" class="form-control"
          name="bId">
          </ion-input>
         <ion-label floating>Price Per Unit</ion-label>
       <ion-input type="text" id="unitPrice" ngModel #priceperunit="ngModel" [(ngModel)]="UnitPrice" class="form-control"
          name="priceperunit">
        </ion-input> 
      </ion-item>
      <!-- <ion-item>
                <select>
                  <option value="Rs">RS</option>
                  <option value="%">%</option>
                </select>
              </ion-item> -->
      <ion-item no-lines>
        <ion-label floating>Additional Price</ion-label>
        <ion-input type="text" class="drop" ngModel #aditionalPrice="ngModel" [(ngModel)]="AditionalPrice" id="aditionalPrice"
          name="aditionalPrice">
        </ion-input>
      </ion-item>


      <ion-row>
        <ion-item>
          <ion-col width-50 text-center md-4 col-4>
            <button [disabled]="f.invalid" ion-button full type="submit">Save</button>
          </ion-col>
        </ion-item>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
<!-- =======================
           Non Web 
======================= -->
<ion-content *ngIf="!isWeb" padding>
  <form #f="ngForm" (ngSubmit)="addPriceTag(f)">
    <ion-grid>
      <ion-item no-lines>
        <ion-label floating>Price Per Unit</ion-label>
        <ion-input type="text" id="unitPrice" ngModel #unitPrice="ngModel" [(ngModel)]="UnitPrice" class="form-control"
          name="priceperunit">
        </ion-input>
      </ion-item>
      <ion-item no-lines>
        <ion-label floating>Additional Price</ion-label>
        <ion-input type="text" class="drop" ngModel #aditionalPrice="ngModel" [(ngModel)]="AditionalPrice" id="aditionalPrice"
          name="aditionalPrice">
        </ion-input>
      </ion-item>
      <ion-row>
        <ion-item>
          <ion-col width-50 text-center md-4 col-4>
            <button [disabled]="f.invalid" ion-button full type="submit">Save</button>
          </ion-col>
        </ion-item>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>