<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <!-- <app-header [headerTitle]="headerTitle"></app-header> -->
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-card>
    <div class="hedaer-container">
      <div><img src="../../../assets/imgs/ttb-logo.png"></div>
      <h1>ManageBots Technology Private Limited</h1>
      <address>
        <p>10th floor, Delta block, Sigma Soft Tech Park Business Bay</p>
        <p>7, Whitefield main road, Opp. Varthur Lake, Varthur Kodi,</p>
        <p>Bangalore, Karnataka 560066 </p>
        <p>Phone: 080 - 4372 2508 </p>
      </address>
      <hr>
      <ion-card>
        <ion-row>
          <ion-col>
           <ion-item>
            <p>Invoice#<strong>{{billNo}}</strong></p>
            <br>
            <p>Invoice Date<strong>{{salesDate}}</strong></p>
            <br>
            <p>Term<strong>:Net 2</strong></p>
            <br>
            <p>Due Date<strong>{{dueDate}}</strong></p>
           </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <p>Place Of Supply<strong>{{customerName}}</strong></p>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-card>
      <ion-card>
        <ion-row>
          <ion-col>
            Bill To
            <ion-row>
              <ion-col>
                <strong>{{customerName}}</strong>
                <address>
                  oE8, Isha Misty Green,<br>
                  Chansandra, Whitefield,<br>
                  Bangalore 560067<br>
                  +919886031436<br>
                  India
                </address>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col>
            Ship To
            <ion-row>
              <ion-col>
                <address>
                  oE8, Isha Misty Green,<br>
                  Chansandra, Whitefield,<br>
                  Bangalore 560067<br>
                  +919886031436<br>
                  India
                </address>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card>
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th>Item & Description</th>
            <th>MRP</th>
            <th>HSN/SAC</th>
            <th>QTY</th>
            <th>Rate</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Coconut Oil</td>
            <td>355.00</td>
            <td>15155091</td>
            <td>1.0</td>
            <td>355.00</td>
            <td>355.00</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Fortune Refined Oil</td>
            <td>340.00</td>
            <td>15131900</td>
            <td>1.0</td>
            <td>340.00</td>
            <td>340.00</td>

          </tr>
          <tr>
            <td>3</td>
            <td>Ashirwad Atta</td>
            <td>280.00</td>
            <td>15131090</td>
            <td>1.0</td>
            <td>280.00</td>
            <td>280.00</td>

          </tr>
          <tr>
            <td>4</td>
            <td>Mustered Oil</td>
            <td>140.00</td>
            <td>15132900</td>
            <td>1.0</td>
            <td>140.00</td>
            <td>140.00</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Corn nuts</td>
            <td>195.00</td>
            <td>15132514</td>
            <td>1.0</td>
            <td>195.00</td>
            <td>195.00</td>

          </tr>
          <tr>
            <td>6</td>
            <td>Haldiram chips</td>
            <td>40.00</td>
            <td>15131245</td>
            <td>1.0</td>
            <td>40.00</td>
            <td>40.00</td>
          </tr>
        </tbody>
      </table>
      <div class="box">
        <div>
          <p>Total in Words</p>
          <p><b>Repuees seven hundred thirty five</b></p><br>
        </div>
        <div>
          <p>Thank you for your business with us!</p>
          <div>
            <p><b>Bank details for NEFT/RTGS:</b></p>
            <p>A/C Name:ESSORGANICS</p>
            <p>Bank Name:Corporation Bank</p>
            <p>A/C Number:510101000453421</p>
            <p>IFSC Code:CORP0001278</p>
          </div>
        </div>
      </div>
      <div class="box1">
        <ion-item>
          <ion-row>
            <ion-col class="bold">
              Sub Total(Tax Inclusive):<br>
            </ion-col>
            <ion-col class="bold-one">{{grandTotal}}</ion-col>
            <ion-col class="bold">
              CGST(2.5%):
            </ion-col>
            <ion-col class="bold-two">{{totalCgst}}</ion-col>
            <ion-col class="bold">
              SGST(2.5%):<br>
            </ion-col>
            <ion-col class="bold-three">{{totalSgst}}</ion-col>
            <ion-col class="bold">
              Shipping Charge:<br>
            </ion-col>
            <ion-col class="bold-four">40.00</ion-col>
            <ion-col class="bold">
              Total:<br>
            </ion-col>
            <ion-col class="bold-five">{{grandTotal+totalCgst+totalSgst}}</ion-col>
            <ion-col class="bold">
              Balance Due:<br>
            </ion-col>
            <ion-col class="bold-six">735.00</ion-col>
          </ion-row>
        </ion-item>
      </div>
    </div>
  </ion-card>
</ion-content>