new-invoice
{
    .hedaer-container
    {
        border: 1px solid black;
    }
    .hedaer-container img
    {
        float: left;
        width: 100px;
        height: 100px;
    }
    .hedaer-container h1
    {
        margin-left: 6%;
    }
    .hedaer-container p
    {
        margin-left: 8%;
    }
    .hedaer-container hr
    {
        border: 1px solid black;
    }
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even) {
        background-color: #dddddd;
      }
      .card-header
      {
          float: right;
      }
      .inside-card
      {
          float: right;
          border: 1px solid black;
      }
      .box{
          width:70%;
          float: left;
          border:1px solid #000;
      }
      .box1{
        width:30%;
        float: left;
        border:1px solid #000;
    }
    .bold
    {
     float: left;
     font-weight: bold;
    }
    .bold-one
    {
        float: right;
        margin-left: 70px;
    }
    .bold-two
    {
        float: right;
        margin-left: 83%;
        margin-top: -7%
    }
    .bold-three
    {
        float: right;
        margin-left: 83%;
        margin-top: -7%
    }
    .bold-four
    {
        float: right;
        margin-left: 83%;
        margin-top: -7%
    }
    .bold-five
    {
        float: right;
        margin-left: 83%;
        margin-top: -6%
    }
    .bold-six
    {
        float: right;
        margin-left: 83%;
        margin-top: -6%
    }
    
}