<ion-header>
  <ion-navbar color="secondary">
    <ion-fab right bottom margin-right="20px;">
      <ion-icon name="close" class="close" (click)="closeFilter()"></ion-icon>
    </ion-fab>
    <h2>Filter</h2>
  </ion-navbar>
</ion-header>
<ion-content padding class="body">
  <div class="quantity-box">
    <div class="quantity">
      <h4 class="quantity-head-text">Quantity Range:</h4>
    </div>
    <div class="quantity-text">
      <p class="quantity-range-text"><span >{{ quantityrange.upper }}</span></p>
      <p class="quantity-range-text"><span >{{ quantityrange.lower }}</span></p>
    </div>
  </div>
  <ion-range pin="true" min="1" max="{{maxQty}}" snaps="true" dualKnobs="true" step="1" id="minQty" name="minQty"
    [(ngModel)]="quantityrange" ngModel #minQty="ngModel" color="secondary">
    <ion-label range-left>Min</ion-label>
    <ion-label range-right>Max</ion-label>
  </ion-range>
  <div class="quantity-box">
    <div class="quantity">
      <h4 class="quantity-head-text">Amount Range:</h4>
    </div>
    <div class="quantity-text">
      <p class="quantity-range-text"><span>{{ amountrange.upper }}</span></p>
      <p class="quantity-range-text"><span>{{ amountrange.lower }}</span></p>
    </div>
  </div>
  <ion-range pin="true" min="1" max="{{maxPrice}}" dualKnobs="true" step="1" id="minPrice" name="minPrice" [(ngModel)]="amountrange"
    ngModel #minPrice="ngModel" color="secondary">
    <ion-label range-left>Min</ion-label>
    <ion-label range-right>Max</ion-label>
  </ion-range>
  <form>
    <div>
      <ion-grid>
        <ion-row>
          <ion-col>
            
              <div class="form-date">
                <ion-datetime placeholder="From" displayFormat="DD/MM/YYYY" id="startDate" [(ngModel)]="startDate" name="startDate"></ion-datetime>
              </div>
              <div class="form-cal">
                <ion-icon name="calendar" class="form-cal-icon">
                </ion-icon>
              </div>
          
          </ion-col>
          <ion-col>
            <div class="form-date">
              <ion-datetime placeholder="To" displayFormat="DD/MM/YYYY" id="endDate" [(ngModel)]="endDate" name="endDate"></ion-datetime>
            </div>
            <div class="form-cal">
              <ion-icon name="calendar" class="form-cal-icon">
              </ion-icon>
            </div>
          </ion-col>
        </ion-row>
        <div class="apply">
          <button ion-button class="apply-btn"  (click)="applyFilter()">Apply</button>
        </div>
      </ion-grid>
    </div>
  </form>
</ion-content>
<!-- =======================
           Non Web 
======================= -->
<ion-content *ngIf="isWeb" padding>
  <ion-content padding>
    <div class="quantity-box">
      <div class="quantity">
        <h4 class="mobile-text">Quantity Range:</h4>
      </div>
      <div class="quantity-text">
        <p class="quantity-range-text"><span>{{ quantityrange.lower }}</span></p>
        <p class="quantity-range-text"><span>{{ quantityrange.upper }}</span></p>
      </div>
    </div>
    <ion-range pin="true" min="1" max="{{maxQty}}" dualKnobs="true" step="1" id="minQty" name="minQty" [(ngModel)]="quantityrange"
      ngModel #minQty="ngModel" color="secondary">
      <ion-label range-left>Min</ion-label>
      <ion-label range-right>Max</ion-label>
    </ion-range>
    <div class="quantity-box">
      <div class="quantity">
        <h4 class="mobile-text">Amount Range:</h4>
      </div>
      <div class="quantity-text">
        <p class="quantity-range-text"><span>{{ amountrange.lower }}</span></p>
        <p class="quantity-range-text"><span>{{ amountrange.upper }}</span></p>
      </div>
    </div>
    <ion-range pin="true" min="1" max="{{maxPrice}}" dualKnobs="true" step="1" id="minPrice" name="minPrice"
      [(ngModel)]="amountrange" ngModel #minPrice="ngModel" color="secondary">
      <ion-label range-left>Min</ion-label>
      <ion-label range-right>Max</ion-label>
    </ion-range>
    <form>
      <div>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div class="form-date">
                <ion-datetime placeholder="From" displayFormat="DD/MM/YYYY" id="startDate" [(ngModel)]="startDate" name="startDate"></ion-datetime>
              </div>
              <div class="form-cal">
                <ion-icon name="calendar" class="form-cal-icon">
              </ion-icon>
              </div>
            </ion-col>
            <ion-col>
              <div class="form-date">
                <ion-datetime placeholder="To" displayFormat="DD/MM/YYYY" id="endDate" [(ngModel)]="endDate" name="endDate"></ion-datetime>
              </div>
              <div class="form-cal">
                <ion-icon name="calendar" class="form-cal-icon">
                </ion-icon>
              </div>
            </ion-col>
          </ion-row>
          <div class="apply">
            <button ion-button class="apply-btn"   (click)="applyFilter()">Apply</button>
          </div>
        </ion-grid>
      </div>
    </form>
  </ion-content>