<ion-header>
  <ion-navbar >
    <ion-title>These Customers already Exists..!</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding >
  <ion-grid padding>
    <ion-row padding-left>
      <ion-col>
        <div *ngFor="let customer of cutomerDataList">
          <ion-item no-lines>
              <ion-input class="userInput" readonly type="text" [value]="customer"></ion-input>
          </ion-item>
        </div>
      </ion-col>
      <ion-col>
        <div *ngFor="let customer1 of cutomerNameData">
          <ion-item no-lines>
              <ion-input class="userInput" readonly type="text" [value]="customer1"></ion-input>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <button ion-button clear block (click)="dismiss()">Ok</button>
</ion-content>
