$icon:#f3f4f4;
$search:#787878;
$number:#F37C86;
$btn:#294583;
$notification:#777777;
$user:#e6e6e6;
$bg:#F4F7FC;
$search-inner:#F8FBFF;
$right-border:#EAEEF2;
$branches:#2ed8b6;
$products:#febd69;
$hover:#f3a847;
$order:#4099ff;
$sales:#FF5370;
$btn-bg:#F8F8F8;
$white: #ffffff;
$black: #444444;
$icon-dimension: 40px;
$facebook: #3b5998;
$twitter: #55acee;
$instagram: #125688;
$linkedin: #007bb5;
$rss: #ff6600;
$red:#ff0000;