$break-sm: 320px;
$break-md:480px;
$break-lg:640px;
$break-xl:768px;
$break-xxl:998px;
@media only screen and (min-width:$break-sm) and (max-width:$break-md){
  .header{
    width:100%;
  }
  .header-title{
    width:100%;
    float: left;
  }
}