$font-size-sm:12px;
$font-size-md:18px;
$font-size-lg:24px;
$font-size-x:32px;
$font-size-xx:43px;
$font-size-xxx:60px;
$font-weight-sm:300;
$font-weight-md:400;
$font-weight-lg:600;
$Barlow :   "Barlow", sans-serif;
