<div>
  <div class="header-title">
    <!--<button class="menu-btn">
      <ion-icon class="menu-icon" name="menu"></ion-icon>
    </button>-->
      
    <div class="filter">
      <select float-right class="select" [(ngModel)]="selected">
        <option *ngFor="let option of options" [value]="All">
          {{ option }}
        </option>
      </select>
    </div>
    <div class="search">
      <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
      <ion-list *ngIf="showList">
        <ion-item *ngFor="let item of items">
          {{ item }}
        </ion-item>
      </ion-list>
    </div>
    <div class="search-icon">
      <ion-icon class="icon" name="search"></ion-icon>
    </div>
    <!-- <h1>{{ headerTitle }}</h1> -->
    <button class="profile-btn user" slot="end" (click)="profilePopover($event)">
        <ion-icon  class="nav-icon" slot="icon-only" name="contact"></ion-icon>
      </button>
      <button class="setting-btn" slot="end" (click)="settingPopover($event)">
        <ion-icon class="btn-icon" ios="ios-settings" md="md-settings"></ion-icon>
      </button>
      <button class="demo-btn" slot="end" (click)="settingPopover($event)">
        <ion-icon class="btn-icon" ios="ios-notifications" md="md-notifications"></ion-icon>
      </button>
    </div>
  </div>
