app-header {
  @import 'typograpy';
  @import'color';
  @import 'responsive';
  
  .header{
    width:100%;
    float: left;
  }
  .header-title{
    width:1168px;
    float: left;
    /*--box-shadow: 0 6px 0 0 rgba(0, 0, 0, .01), 0 15px 32px 0 rgba(0, 0, 0, .06);--*/
    
    h1{
      font-size: 20px;
      font-weight:$font-weight-md;
      margin-top: 1.25rem;
      color:$black;
      margin-left: 8px;
      float: left;
    }
    .icons{
      padding: 14px;
      border-radius: 40px;
      margin-left: 5px;
      font-size: 25px;
      margin-right: 10px;
    }
    .nav-icon {
      width:40px;
      height:40px;
      padding: 9px 0px 0px 0px;
      color: $black;
      font-size: 24px;
      margin-top: 0px;
      border-radius: 50%;
      background-color: $right-border;
      transition: all 0.5s ease;
      &:hover{
        padding: 9px 0px 0px 0px;
        border: 0px solid $black;
        box-shadow: 0 0 15px $black;
        transition: all 0.5s ease;
      }
    }
    .demo-btn,
    .setting-btn,{
      width:50px;
      margin: 5px;
      margin-top: 5px;
      background-color:$btn-bg;
      float: right;

      .btn-icon{
        font-size:25px;
        height:38px;
        text-align: center;
        padding-top: 7px;
        margin-left: 0px;
      }
    }
    .profile-btn{
      width:50px;
      margin: 5px;
      margin-top: 5px;
      margin-right:11px;
      background-color:$btn-bg;
      float: right;
  
      .btn-icon{
        font-size:25px;
        height:38px;
        text-align: center;
        float: left;
        padding-top: 7px;
        margin-left: 0px;
      }
    }
  }  
  
  .menu-btn{
    width:50px;
      margin: 5px;
      margin-top: 5px;
      background-color:$btn-bg;
      border:1px solid  $btn-bg ;
      float:left;
      

      .menu-icon{
        font-size:25px;
        text-align: center;
        float: left;
        padding-top: 7px;
        margin-left: 8px;
        &:hover{
          color:blue;
        }
      }

  }
  .search-box{
    width:100%;
    float: left;
    border:1px solid $red;
  }
  .filter{
    width:130px;
    float:left;
    margin-top: 9px;
    margin-left:20px;
  }
  .search{
    width:30%;
    float: left;
    margin-top: 9px;
  }
  .search-icon{
    width:50px;
    float: left;
    margin-top: 9px;
    background-color: $right-border;
    border:1px solid $right-border;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

    .icon{
      font-size:28px;
      height:35px;
      text-align: center;
      float: left;
      padding-top: 5px;
      margin-left: 13px;
    }

  }
  .searchbar-md {
    background: inherit;
    padding: 0px;
  }
  .searchbar-md .searchbar-input {
    padding: 4px 10px;
    border-radius: 0px;
    border-bottom: 1px solid $right-border;
    border-top: 1px solid $right-border;
    background-position: left 8px center;
    height:37px;
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 3rem;
    color: $black;
    background-color:$white;
    -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px -0px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px -0px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
  }
  .searchbar-search-icon { display:none; width:0; height:0; }
  
  .select{
    width:100px;
    height:37px;
    background: $right-border;
    border-bottom: 1px solid $right-border;
    border-top: 1px solid $right-border;
    border-left: 1px solid $right-border;
    border-right:1px solid $right-border;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 0px 2px 1px 5px;
    color:$black;

    .option {
      font-weight: normal;
      display: block;
      white-space: pre;
      min-height: 1.2em;
      font-size: 1.5rem;
      padding: 0px 2px 1px 5px;
  }
  }
 
  
}