<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>TTB Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Business</h3>

  <p>
    {{ appName }}
  </p>
  

</ion-content>
