<ion-header>
    <ion-navbar >
      <ion-title>Update User</ion-title>
      <ion-buttons end>
        <button ion-button icon-only (click)="closeModal()">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-2>
        <ion-label>Email</ion-label>
      </ion-col>
      <ion-col >
        <ion-input readonly [(ngModel)]="userData.email"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2>
        <ion-label>Role</ion-label>
      </ion-col>
      <ion-col >
        <ion-select class="inputSelect" multiple="false" [(ngModel)]="userData.roles">
          <ion-option [selected]="userData.roles == 2" value="2">Admin</ion-option>
          <ion-option [selected]="userData.roles == 3" value="3">Employee</ion-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2>
        <ion-label>Status</ion-label>
      </ion-col>
      <ion-col>
        <ion-label>
          <ion-badge [color]="userData.status == '1' ? 'secondary' : 'danger'">
            {{ userData.status == '1' ? 'Joined' : 'Invited' }}
          </ion-badge>
        </ion-label>
      </ion-col>
    </ion-row>
    <button ion-button type="submit" (click)="dismiss(userData)">Save</button>
  </ion-grid>
</ion-content>
