<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="customerSection">
    <ion-grid padding>
      <ion-row>
        <ion-col style="float: left">
          <ion-item no-lines>
            <ion-label> Customer Name :</ion-label>
          </ion-item>
          <ion-item no-lines>
            <ion-label> Mobile Number :</ion-label>
          </ion-item>
          <ion-item no-lines>
            <ion-label> Customer Address:</ion-label>
          </ion-item>
        </ion-col>
        <ion-col padding-bottom style="float: right">
          <!-- <ion-item no-lines> -->
          <ion-input class="customerInput" type="text"></ion-input>
          <!-- </ion-item> -->
          <!-- <ion-item no-lines> -->
          <ion-input class="customerInput" type="text"></ion-input>
          <!-- </ion-item> -->
          <!-- <ion-item no-lines> -->
          <ion-input class="customerInput" type="text"></ion-input>
          <!-- </ion-item> -->
        </ion-col>
        <!-- </ion-row>
      <ion-row> -->
      </ion-row>
      <!-- <ion-col>
        </ion-col>
      </ion-row> -->
    </ion-grid>

  </div>
  <div padding>
    <div >
      <ion-label>Bill No:{{ billNo }}</ion-label>
    </div>
    <div padding>
      <ion-grid>
        <ion-row>
          <ion-col>
            <p>Product Name</p>
          </ion-col>
          <ion-col pull-1>
            <p>Quantity</p>
          </ion-col>
          <ion-col pull-2>
            <p>Price</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div padding *ngFor="let product of selectedProducts">
      <ion-grid>
        <ion-row>
          <ion-col test-center>
            {{product.productName}}
          </ion-col>
          <ion-col col-2 pull-2 test-center>
            <!-- {{product.availableQuantity}} -->
            <ion-input class="customerInput productQty" type="number" value="0" min="1" [max]="product.availableQuantity"></ion-input>
          </ion-col>
          <ion-col pull-1>
            Rs.{{product.sellingPrice}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    
    <div>
      <ion-col push-1>
        <ion-item no-lines class="totalDiv ">
          <ion-label>Total Amount: Rs.{{ billTotal }}</ion-label>
        </ion-item>
      </ion-col>
    </div>
  </div>
  <div padding>
    <ion-buttons>
      <button ion-button text-capitalize push-1 (click)="sellProducts()">Sell</button>
      <button ion-button text-capitalize push-2 (click)="resetCart()">Reset</button>
      <button ion-button text-capitalize push-3 (click)="saveCart()">Save </button>
      <button ion-button text-capitalize push-4 (click)="sellAndPrint()">Sell & Print</button>
    </ion-buttons>
  </div>
</ion-content>
