<ion-header>
  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>
<ion-content>
  <div>
    <ion-tabs selectedIndex="0" tabsHighlight="true" tabsPlacement="top">
      <ion-tab tabTitle="New Order" [root]="NewOrder"></ion-tab>
      <ion-tab  [show]="sumryCount != 0" tabTitle="Order Summary" [root]="orderSummary"></ion-tab>
      <ion-tab  [show]="hstryCount != 0" tabTitle="Order History" [root]="orderHistory"></ion-tab>
    </ion-tabs>
  </div>
</ion-content>