$font-sm: 1.4rem;
$font-md:1.5rem;
$font-lg:2rem;
$font-xl:30px;
$font-xxl:36px;
$font-mini:1.25rem;
$font-size-sm:	1.625rem;
$font-size:1.25rem;
$font-weidth-sm:300;
$font-weidth-md:500;
$font-weidth-lg:600;
$br:4px;