add-employee{
  .grid {
    padding:0px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .col {
    margin-top: 10px;
    width: 100%;
    padding: 0px 15px 0px 15px;
}
  .scroll-content {
    background: $body-bg;
  }
  .demo-btn{
    width:100%;
    padding-top: 15px;
    padding-bottom:15px;
    background:$white;
    float: left;
  }
  .show-btn{
    float: left;
    border-color: $show-btn !important;
    background-color: $show-btn !important;
    margin-left:15px;
    color:$white;
  }
  .add-btn{
    float: left;
    border-color: $show-btn !important;
    background-color: $show-btn !important;
    color:$white;
    margin-left:15px;
  }
  .cancle-btn{
    float: left;
    border-color: $red !important;
    background-color: $red !important;
    margin-left:15px;
    color:$white;
  }
  .button-md {
    -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px -0px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px -0px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
  }
  .form-container{
    width:100%;
    background-color: $white;
    margin-top: 20px;
    padding-bottom:30px;
    border-radius:5px;
    border:none;
    box-shadow: 0 0px 5px 0px rgba(115, 108, 203, 0.23);
    

    h1{
      font-size:$font-lg;
      padding-top: 15px;
      padding-bottom: 15px;
      color:$dark;
      font-weight: 400;
      border-bottom:1px solid $grey;
      margin-left:0px;
      span{
        margin-left: 18px;
      }
  }  
  .form-control {
    display: block;
    width: 100%;
    height: 37px;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    color:$black;
    background-color:$white;
    background-image: none;
    border: 1px solid $grey;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
  }
  label,
  input,
  select,
  textarea {
    font-family: inherit;
    line-height: normal;
    color: $dark;
    font-size:1.5625rem;
    font-weight:500;
  }
  .help-block{
    color: red;
    font-size: 12px;
  }
    
  .form-select{
      font-family: 'Barlow', sans-serif;
      font-size: 15px;
      color: #555555;
      line-height: 1.2;
      margin-top:0px;
      display: block;
      width: 80%;
      height: 40px;
      border:none;
      border:1px solid #c1bdba;
      border-radius: 4px;
      background: transparent;
      padding: 0 5px;
      &:focus {
            outline:0;
            border-color:#1ab188;
      }
  }
  .item-block {
      align-items: center;
      width: 100%;
      min-height: 0.4rem;
      border: 0;
  }
  .save-btn{
    background-color:$primary;
    border:1px solid $primary;
    padding: 0px 40px 0px 40px;
  }
     /*---add document---*/
  .document{
    width:100%;
    background-color: $white;
    float: left;
    margin-top: 20px;
    padding-top:20px;
    padding-bottom:20px;
    border-radius: 5px;
    box-shadow: 0 0px 5px 0px rgba(115, 108, 203, 0.23);

    h1{
      font-size:$font-lg;
      padding-top: 5px;
      padding-bottom: 20px;
      color:$dark;
      font-weight: 400;
      border-bottom:1px solid $grey;
      span{
        margin-left: 30px;
      }
    }
  }
  .input-control{
    width:40%;
    float: left;
    margin-left:20px;
  }
 .text-input-md {
    margin: 0px 0px;
    padding: 0;
    width: 100%;
    border-radius: 2px;
    border:1px solid #ccc;
  }
  .document-btn{
    width:40%;
    float: left;
    margin-left:0px;
    padding-top: 10px;
  }
  .select-btn{
    width:200px;
     float: left;
    background:$primary;
    border:1px solid $primary;
  }
  .select-btn:hover:not(.disable-hover) {
    background-color:$primary;
  }

}
}