<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-navbar>
    <div class="demo-btn">
        <ion-buttons end>
            <button *ngIf="isWeb && !addByDocument" ion-button top right clear (click)="uploadByDocument()" class="add-btn" >
                Add Multiple Using Document
            </button>
            <button *ngIf="isWeb && addByDocument" ion-button top right clear (click)="cancelUploadByDocument()" class="cancle-btn">
                Cancel
            </button>
            <button ion-button *ngIf="employeeCounts != 0 " (click)="showEmployeeList()" class="show-btn">Show Employee List</button>
        </ion-buttons>
    </div>
</ion-header>
<ion-content padding *ngIf="isWeb">
    <div *ngIf="!addByDocument" class="form-container">
        <h1><span>Add Employee</span></h1>
        <form class="main-form" #f="ngForm" (ngSubmit)="addEmployee(f)">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <label floating>First Name</label>
                        <input class="form-control" type="text" id="firstName" ngModel #firstName="ngModel" [(ngModel)]="firstName2"
                            name="firstName" required minlength="4" maxlength="50" placeholder="First Name">
                        <!-- <ion-input type="hidden" id="bId" ngModel #bId="ngModel" [(ngModel)]="bId2"
                        class="form-control" name="bId"></ion-input> -->
                        <ion-item no-lines>
                            <div class="help-block" *ngIf="firstName.touched && !firstName.valid">
                                <div *ngIf="firstName.errors.required">First Name is required.</div>
                                <div *ngIf="firstName.errors.minlength">First Name should be minimum {{
                                    firstName.errors.minlength.requiredLength }} charecters.</div>
                            </div>
                        </ion-item>
                    </ion-col>
                    <ion-col>
                        <label floating>Last Name</label>
                        <input class="form-control" type="text" id="lastName" ngModel #lastName="ngModel" [(ngModel)]="lastName2"
                            name="lastName" required minlength="4" maxlength="50" placeholder="Last Name">
                        <ion-item no-lines>
                            <div class="help-block" *ngIf="lastName.touched && !lastName.valid">
                                <div *ngIf="lastName.errors.required">Last Name is required.</div>
                                <div *ngIf="lastName.errors.minlength">Last Name should be minimum {{
                                    lastName.errors.minlength.requiredLength }} charecters.</div>
                            </div>
                        </ion-item>
                    </ion-col>
                    <ion-col>
                        <label floating>Email</label>
                        <input class="form-control" type="text" id="email" ngModel #email="ngModel" [(ngModel)]="email2"
                            name="email" required pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
                            placeholder="Email">
                        <ion-item no-lines>
                            <div class="help-block" *ngIf="email.touched && !email.valid">
                                <div *ngIf="email.errors.required">Email is required.</div>
                                <div *ngIf="email.errors.pattern">Email format invalid.</div>
                            </div>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <label floating>Phone Number</label>
                        <input class="form-control" type="text" id="mobile" ngModel #mobile="ngModel" [(ngModel)]="mobile2"
                            name="mobile" required minlength="10" maxlength="13" pattern="[-+]?([0-9]*\.[0-9]+|[0-9]+)"
                            placeholder="Phone Number">
                        <ion-item no-lines>
                            <div *ngIf="mobile.touched && !mobile.valid">
                                <div class="help-block" *ngIf="mobile.errors.required">Mobile number is required.</div>
                                <div class="help-block" *ngIf="mobile.errors.minlength || mobile.errors.pattern">Mobile
                                number is invalid.</div>
                            </div>
                        </ion-item>
                    </ion-col>
                    <ion-col>
                        <label floating>Address 1</label>
                        <input class="form-control" type="text" id="address1" ngModel #address1="ngModel" [(ngModel)]="address3"
                            name="address1" placeholder="Address 1">
                    </ion-col>
                    <ion-col class="border">
                        <label>Address 2</label>
                        <input class="form-control" type="text" id="address2" ngModel #address2="ngModel" [(ngModel)]="address4"
                            name="address2" placeholder="Address 2">
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <label>Country</label>
                        <select class="form-control" id="country" ngModel #country="ngModel" [(ngModel)]="country2" name="country"
                            (change)="getStatesList($event.target.value)">
                            <option disabled selected="selected">Select Country</option>
                            <option *ngFor="let oneCountry of countriesList" [value]="oneCountry.id">{{ oneCountry.name
                                }}</option>
                        </select>
                    </ion-col>
                    <ion-col>
                        <label>State</label>
                        <select class="form-control" id="state" ngModel #state="ngModel" [(ngModel)]="state2" name="state"
                            (change)="getCitiesList($event.target.value)">
                            <option disabled selected="selected">Select State</option>
                            <option *ngFor="let oneState of statesList" [value]="oneState.id">{{ oneState.name }}</option>
                        </select>
                    </ion-col>
                    <ion-col>
                            <label>City</label>
                            <select class="form-control" id="city" ngModel #city="ngModel" [(ngModel)]="city2"
                                name="city">
                                <option disabled selected="selected">Select City</option>
                                <option *ngFor="let oneCity of citiesList" [value]="oneCity.id">{{ oneCity.name }}</option>
                            </select>
                        </ion-col>
                </ion-row>
                <ion-row>
                   
                    <ion-col>
                        <label floating>Zip</label>
                        <input class="form-control" type="text" id="pincode" ngModel #pincode="ngModel" [(ngModel)]="pincode2"
                            name="pincode" placeholder="Zip">
                    </ion-col>
                    <ion-col>
                        <label floating>Employee ID </label>
                        <input class="form-control" type="text" id="employeeId" ngModel #employeeId="ngModel" [(ngModel)]="employeeId2"
                            name="employeeId" required pattern="^[a-zA-Z0-9]+$" placeholder="Employee ID">
                        <ion-item no-lines>
                            <div class="help-block" *ngIf="employeeId.touched && !employeeId.valid">
                                <div *ngIf="employeeId.errors.required">Employee ID is required.</div>
                                <div *ngIf="employeeId.errors.pattern">Employee ID format invalid.</div>
                            </div>
                        </ion-item>
                    </ion-col>
                    <ion-col>
                        <label floating>Role</label>
                        <select class="form-control" id="roles" ngModel #roles="ngModel" [(ngModel)]="roles2" name="roles">
                            <option selected>Select Roles</option>
                            <option value="1">Admin</option>
                            <option value="2">Employee</option>
                        </select>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <label floating>Joined On (Date)</label>
                        <input class="form-control" type="date" id="joinedDate" ngModel #joinedDate="ngModel" [(ngModel)]="joinedDate2"
                            name="joinedDate" placeholder="Joined On">
                    </ion-col>
                    <ion-col>
                        <label>Released On (Date) </label>
                        <input class="form-control" type="date" id="releasedDate" ngModel #releasedDate="ngModel"
                            [(ngModel)]="releasedDate2" name="releasedDate" placeholder="Released On">
                    </ion-col>
                    <ion-col>
                            <label>Date of Birth</label>
                            <input class="form-control" type="date" id="dateOfBirth" ngModel #dateOfBirth="ngModel"
                                [(ngModel)]="dateOfBirth2" name="dateOfBirth" required minlength="3" maxlength="50"
                                placeholder="Date of Birth">
                        </ion-col>
                </ion-row>
                <ion-row>
                   
                    <ion-col>
                        <label>Notes(Text area)</label>
                        <ion-textarea  type="text" id="notes" ngModel #notes="ngModel" [(ngModel)]="notes2"
                            name="notes" placeholder="Notes"></ion-textarea>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col >
                        <!-- [disabled]="branchForm.status == invalid" [disabled]="!branchForm.valid"-->
                        <button class="save-btn" ion-button type="submit">{{ userId == undefined
                            ? 'Save'
                            : 'Update' }}</button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>
    </div>
    <div *ngIf="addByDocument">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <div (click)="fileInputPicker.click();">
                        <input type="file" hidden accept=".xlsx, .csv, application/vnd.ms-excel, text/csv, text/plain"
                            #fileInputPicker (change)="onDocUpload($event.target.files);">
                        <ion-input style="width: 40%" type="text" readonly class="form-control imgInput" no-lines
                            [placeholder]=" docName ? docName : 'Add document..' ">
                            <ion-icon name="camera"></ion-icon>
                        </ion-input>
                        <button class="imgBtn" ion-button>
                            Select Document
                        </button>
                    </div>
                </ion-col>
                <ion-col pull-2>
                    <button class="imgBtn" [disabled]=" docName ? false : true " ion-button type="button" (click)="uploadDocument()">
                        Upload
                    </button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>