<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <!-- <ion-title>Employee List</ion-title> -->
  </ion-navbar>
</ion-header>
<ion-content class="branches-body">
  <ion-grid class="grid-1">
    <h1>Employee</h1>
    <ion-row>
      <ion-col col-12>
        <div class="btn-demo">
          <ion-col>
            <button [disabled]="!selectedEmployeesCount == 0" text-capitalize ion-button (click)="addNewEmployee()"
              class="add-btn">
              <p text-capitalize> Add New Employee </p>
            </button>
          </ion-col>
          <!-- <ion-col>
              <button [disabled]="selectedEmployeesCount != 1" text-capitalize ion-button (click)="editSingleEmployee();" class="edit-btn">
                <p text-capitalize> Edit Employee </p>
              </button>
            </ion-col> -->
          <ion-col>
            <button [disabled]="!selectedEmployeesCount >= 1 " text-capitalize ion-button (click)="deleteMultipleEmployees()"
              class="dlt-btn">
              <p text-capitalize> Delete Employee </p>
            </button>
          </ion-col>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid class="grid-2">
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item class="table">
            <ion-checkbox [(ngModel)]="IsAllChecked" name="isChecked" id="checkedId" (click)="CheckUncheckAll(IsAllChecked)"></ion-checkbox>
            <ion-label>FirstName</ion-label>
            <ion-label>lastName</ion-label>
            <ion-label>Email</ion-label>
            <ion-label>Mobile Number</ion-label>
            <ion-label text-center>Role</ion-label>
            <ion-label>&nbsp;</ion-label>
          </ion-item>

          <ion-item *ngFor="let employee of employeeList" class="listItem branch-details details">
            <ion-checkbox id="{{employee.branchId}}" type="checkbox" name="check" [(ngModel)]="employee.selected"
              (change)="EmployeeEdit(employee.empId)" (click)="CheckUncheckHeader(employee.selected, employee.empId)"></ion-checkbox>
            <ion-label>{{ employee.firstName }}</ion-label>
            <ion-label>{{ employee.lastName }}</ion-label>
            <ion-label>{{ employee.email }}</ion-label>
            <ion-label>{{ employee.mobile }}</ion-label>
            <ion-label text-center>{{ employee.employeeRoles[0].type}}</ion-label>
            <ion-label>
              <button ion-button class="edit2-btn" (click)="editEmployee(employee.empId)" icon-only>
                <ion-icon class="itemIcon" name='create'></ion-icon>
              </button>
              <button ion-button class="dlt2-btn" (click)="deleteEmployee(employee.empId)" icon-only>
                <ion-icon class="itemIcon" name='trash'></ion-icon>
              </button>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>