employee-list {
    @import url('https://fonts.googleapis.com/css?family=Poppins');
    @import 'font';
    @import 'color';
    .body{
      font-family: 'Poppins', sans-serif;
    }
    .branches-body{
      width:100%;
  
      h1 {
        font-size: $font-md;
        margin: 2rem 0 1.5rem;
        color: $black;
      }
    }
    .grid-1 {
      padding: 0px 10px 0px 10px;
    }
    .grid-2 {
      padding: 1px 10px 0px 10px;
    }
    .scroll-content {
      background: $body-bg;
    }
    .btn-demo{
      width:100%;
      background-color: $white;
      float: left;
      padding: 20px 0px 20px 0px;
      border-bottom: 1px solid $border;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
  
  
      .button-md {
        border-radius: 2px;
        overflow: hidden;
        height: 3.6rem;
        font-size: 1.4rem;
        font-weight: 500;
        text-transform: uppercase;
        color: $white;
        background-color: $table-border;
        -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px -0px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px -0px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
      }
      .btn-demo .button-md:hover:not(.disable-hover) {
        background-color: $table-border;
        color:$white;
      }
      
      .dlt-btn,
      .edit-btn,
      .add-btn {
        background-color: transparent;
        margin-left: 15px;
        float: left;
        color:$white;
  
        p {
          float: left;
          font-size: 16px;
          color:white;
          background-color: none;
        }
        
      }
  
      .add-btn {
        border-right-color: transparent;
        background-color: $btn-color;
        color:$white;
      }
      .add-btn:hover {
        background-color:$btn-color;
        color:$white;
      }
  
      .dlt-btn {
        border-left-color: transparent;
        background-color:$red;
      }
      .dlt-btn:hover{
        background-color: $red;
      }
  
      
      .edit-btn:hover,
      .add-btn:hover {
        background-color:$btn-color;
        color:$white;
      }
      
    }
    .item.item-md .checkbox-md {
      position: static;
      display: block;
      margin: 9px 36px 9px 15px;
  }
  
    .listItem:hover {
  
      .edit2-btn,
      .dlt2-btn {
        //   background-color: red !important;
        visibility: visible !important;
      }
    }
  
    .listItem {
  
      .edit2-btn,
      .dlt2-btn {
        //   background-color: blue !important;
        visibility: hidden !important;
        border: none;
          background:$white;
          color: #f2f2f2;
          width:30px;
          height:30px;
	        padding: 0px;
          font-size: 16px;
          border-radius: 5px;
          position: relative;
          box-sizing: border-box;
          transition: all 500ms ease; 
        -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px -0px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px -0px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
      }
    }
    .icon{
      color:$grey;
      &:hover{
        color:$white;
      }
    }
    .edit2-btn,
    .dlt2-btn {
      // background-color: blue !important;
      visibility: hidden !important;
    }
  
    .edit2-btn:hover,
    .dlt2-btn:hover {
      background-color: $white !important;
      visibility: hidden !important;
    }
    
    // .table-box{
    //   width:100%;
    //   border:1px solid #000;
    //   height:400px;
    // }
  
  
    .table{
      height: 50px;  
      /*--background-color: rgb(218, 223, 228);--*/
      background-color: $table-bg;
      border-bottom: 1px solid $table-border;
      text-align: left;
      padding: 10px;
      .details{
        padding-left: 61px;
        border-radius: 3px;
      }
    }
    
    .item-md.item-block .item-inner {
      padding-right: 0px;
      border-bottom: 0px solid $table-border;
  }
  .branch-details{  
    height:50px;
    /*--background-color: rgb(218, 223, 228);--*/
    background-color: $white;
    
  }
   .item.item-md .checkbox-md {
    position: static;
    display: block;
    margin: 0px 16px 0px 0px;
    padding-left: 16px;
    text-align:left;
  }
  .item-block {
    width: 100%;
    min-height: 0.0rem;
    
  }
  .checkbox-md + .item-inner ion-label {
    padding-left: 5px;
    text-align:left;
    font-size:$font-sm;
    padding-top:40px;
    padding-bottom:40px;
  }
  .tools{
    padding-top: 30px;
    border:1px solid $table-border;
  }
  }
  