list-users {
  .imgHeader {
    height: 30px;
    width: 30px;
  }
  .listUsersHeader {
    height: 115px;
    background-color: rgb(250, 250, 250);
  }

  .deleteBtn {
    color: black;
    background-color: transparent;

    &:hover {
      background-color: yellow;
    }
  }

  .deleteIcon {
    color: red;
  }

  .deleteIcon:hover {
    color: white;
  }

  .inputSelect {
    padding-top: -10px;
  }

  .addBtn {
    border-radius: 50%;
  }

  .iconImg {
    font-size: 30px;
  }
  .search {
    width: 96%;
    background-color: transparent;
    border-radius: 4px;
  }
  .searchFab {
    padding-top: -20px;
    padding-bottom: 20px;
  }
  .user-card{
    // height: 10rem;
  }
}
