<ion-header class="listUsersHeader">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <img class="imglogo" [src]="businessClicked?.imageUrl" alt="BusinessLogo" />
      <label class="add_business"> {{ businessClicked?.businessName }} </label>

    </ion-title>
  </ion-navbar>
  <ion-fab class="searchFab" right>
    <ion-icon ion-fab class="iconImg" ios="ios-search" md="md-search" name="search" (click)="searchUser()"></ion-icon>
  </ion-fab>
  <ion-searchbar class="search" *ngIf="enableSearch" [(ngModel)]="myInput" placeholder="Search by email" (ionInput)="getUsers($event)">
  </ion-searchbar>
</ion-header>

<ion-content *ngIf="isWeb" padding>
  <div style="padding-left: 38%" padding-bottom align-center>
    <h3>Users List</h3>
  </div>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col col-2>
          <h5>User Email</h5>
        </ion-col>
        <ion-col col-2>
          <h5>User Role</h5>
        </ion-col>
        <ion-col col-2>
          <h5>Status</h5>
        </ion-col>
      </ion-row>
      <div *ngFor="let user of listUsers">
        <ion-row>
          <ion-col col-2>
            <ion-item no-lines>
              <ion-label> {{ user.email }} </ion-label>
            </ion-item>
          </ion-col>
          <ion-col col-2>
            <ion-select [disabled]="enableEdit" class="inputSelect" padding-bottom multiple="false" [(ngModel)]="user.roles">
              <ion-option [selected]="user.roles == 2" value="2">Admin</ion-option>
              <ion-option [selected]="user.roles == 3" value="3">Employee</ion-option>
            </ion-select>
          </ion-col>
          <ion-col col-1>
            <ion-item no-lines>
              <ion-label>
                <ion-badge [color]="user.status == '1' ? 'secondary' : 'danger'">
                  {{ user.status == '1' ? 'Joined' : 'Invited' }}
                </ion-badge>
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col col-1 offset-1 pull-1>
            <button *ngIf="user.status == '1' " ion-button icon-only (click)="editUser(user)">
              <ion-icon *ngIf="enableEdit" class="editIcon" name="create"></ion-icon>
              <ion-icon *ngIf="!enableEdit" class="editIcon" name="checkmark"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-1 pull-1>
            <button class="deleteBtn" ion-button icon-only (click)="deleteUser(user.userId)">
              <ion-icon class="deleteIcon" name="trash"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
  </div>
  <ion-fab right bottom>
    <ion-icon ion-fab class="iconImg" ios="ios-add" md="md-add" (click)="addUser(businessId)"></ion-icon>
  </ion-fab>
</ion-content>

<ion-content *ngIf="!isWeb">
  <div style="padding-left: 38%" padding-bottom align-center>
    <h3>Users List</h3>
  </div>
  <div>
    <ion-list>
      <!-- <ion-item-sliding> -->
      <ion-card class="user-card" *ngFor="let user of listUsers">
          <label>
            <p>{{ user.email }}</p>
          </label>
        <ion-select [disabled]="enableEdit" class="inputSelect" padding-bottom multiple="false" [(ngModel)]="user.roles">
          <ion-option [selected]="user.roles == 2" value="2">Admin</ion-option>
          <ion-option [selected]="user.roles == 3" value="3">Employee</ion-option>
        </ion-select>
        <ion-badge [color]="user.status == '1' ? 'secondary' : 'danger'">
          {{ user.status == '1' ? 'Joined' : 'Invited' }}
        </ion-badge>
        <ion-buttons end>
          <button *ngIf="user.status == '1' "  class="deleteBtn" ion-button icon-only (click)="editUser(user)">
            <ion-icon class="editIcon" name="create"></ion-icon>
          </button>
          <button class="deleteBtn" ion-button icon-only (click)="deleteUser(user.userId)">
            <ion-icon class="deleteIcon" name="trash"></ion-icon>
          </button>
        </ion-buttons>
      </ion-card>
      <!-- </ion-item-sliding> -->
    </ion-list>
  </div>
  <ion-fab right bottom>
    <ion-icon ion-fab class="iconImg" ios="ios-add" md="md-add" (click)="addUser(businessId)"></ion-icon>
  </ion-fab>
</ion-content>
