<ion-header>
  <ion-navbar>
    <ion-title>Assign Products</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <div *ngFor="let product of productsList">
    <div [ngSwitch]="product.category?.length">
      <div *ngSwitchCase="!0">
        <ul *ngFor="let category of categoriesList" class="listItem" style="margin-left:10px; margin-right:10px;margin-bottom:0px;margin-top:0px;border-radius: 4px;border-color: rgb(95, 90, 90); border: 1px solid !important">
          <ion-checkbox style="float: left" id="{{category.categoryId}}" type="checkbox" name="checkCategory"
            [(ngModel)]="category.categoryChecked" (click)="CheckUncheckCategory(category.categoryChecked, category.categoryId)"></ion-checkbox>
          <ion-label style="float: left; padding-left: 10px; font-weight: bold">{{ category.name }}</ion-label>
          <br>
          <div [ngSwitch]="category.subCategories?.length">
            <div *ngSwitchCase="!0">
              <ul *ngFor="let subCategory of category.subCategories; let i = index " class="list">
                <li class="item" *ngIf="category.subCategories[0].subcategoryId == subCategory.subcategoryId">
                  <ion-checkbox style="float: left" id="{{subCategory.subcategoryId}}" type="checkbox" name="checkSubCategory"
                    [(ngModel)]="subCategory.subCategoryChecked" (click)="CheckUncheckSubCategory(subCategory.subCategoryChecked, subCategory.subcategoryId)"></ion-checkbox>
                  <ion-label style="float: left; padding-left:10px; font-weight: bolder">{{ subCategory.name }}</ion-label>
                  <br>
                  <!-- <ul *ngFor="let product of productsList; let i = index " class="list"> -->
                  <ion-list class="item">
                    <!-- *ngIf="product.category[i].categoryId == category.categoryId" -->
                    <ion-checkbox style="float: left" id="{{product.productId}}" type="checkbox" name="checkProduct"
                      [(ngModel)]="product.productChecked" (click)="CheckUncheckProduct(product.productChecked, product.productId)"></ion-checkbox>
                    <ion-label style="float: left; padding-left:10px">{{ product.productName }}</ion-label>
                  </ion-list>
                  <!-- </ul> -->
                </li>
              </ul>
            </div>
            <div *ngSwitchCase="0">
              <ion-list>
                <ion-item>
                  Hiiiiiiiiiii
                </ion-item>
              </ion-list>
            </div>
          </div>
        </ul>
      </div>
      <div *ngSwitchCase="0">
        <ion-list class="item" padding style="margin-left:10px; margin-right:10px;margin-bottom:0px;margin-top:0px;border-radius: 4px;border-color: rgb(95, 90, 90); border: 1px solid !important">
          <ion-checkbox padding style="float: left" id="{{product.productId}}" type="checkbox" name="checkProduct"
            [(ngModel)]="product.productChecked" (click)="CheckUncheckProduct(product.productChecked, product.productId)"></ion-checkbox>
          <ion-label style="float: left; padding-left:10px">{{ product.productName }}</ion-label>
        </ion-list>
      </div>
      <div *ngSwitchDefault>
        <ion-list class="item" padding style="margin-left:10px; margin-right:10px;margin-bottom:0px;margin-top:0px;border-radius: 4px;border-color: rgb(95, 90, 90); border: 1px solid !important">
          <ion-checkbox style="float: left" id="{{product.productId}}" type="checkbox" name="checkProduct" [(ngModel)]="product.productChecked"
            (click)="CheckUncheckProduct(product.productChecked, product.productId)"></ion-checkbox>
          <ion-label style="float: left; padding-left:10px">{{ product.productName }}</ion-label>
        </ion-list>
      </div>
    </div>
  </div>

  <!-- <ul class="cd-accordion-menu">
      <li class="has-children">
         <input type="checkbox" name ="group-1" id="group-1" checked>
         <label for="group-1">Group 1</label>
   
         <ul>
            <li class="has-children">
               <input type="checkbox" name ="sub-group-1" id="sub-group-1">
               <label for="sub-group-1">Sub Group 1</label>
   
               <ul>
                  <li><a href="#0">Image</a></li>
                  <li><a href="#0">Image</a></li>
                  <li><a href="#0">Image</a></li>
               </ul>
            </li>
            <li><a href="#0">Image</a></li>
            <li><a href="#0">Image</a></li>
         </ul>
      </li>
   
      <li><a href="#0">Image</a></li>
      <li><a href="#0">Image</a></li>
   </ul>  -->
  <!-- cd-accordion-menu -->


  <!-- <ion-item *ngFor="let category of product.category" class="listItem">
      <ion-checkbox id="{{category.categoryId}}" type="checkbox" name="check" [(ngModel)]="category.selected" (click)="CheckUncheckHeader()"></ion-checkbox>
      <ion-label>{{ product.category[0].subCategories[0].name }}</ion-label>
    </ion-item> -->
  <!-- </ion-item> -->
  <ion-grid>
    <ion-row>
      <ion-col col-2>
        <button class="branchBtnSave" ion-button (click)="saveAndAssignProducts()">Save</button>
      </ion-col>
      <ion-col col-2>
        <button class="branchBtnCancel" ion-button type="button" (click)="dismiss()">Cancel</button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-list>
    <ion-item *ngFor="let product of productsList; let i=index" text-wrap (click)="toggleLevel1('idx'+i)" [ngClass]="{active: isLevel1Shown('idx'+i)}">
      <ion-checkbox> {{product.category[0].name}}</ion-checkbox>
      <ion-icon color="success" item-right [name]="isLevel1Shown('idx'+i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
      <ion-list *ngIf="isLevel1Shown('idx'+i)">
        <ion-item *ngFor="let category of product.category; let i2=index" text-wrap (click)="toggleLevel2('idx'+i+'idx'+i2)"
          [ngClass]="{active: isLevel2Shown('idx'+i+'idx'+i2)}">
          <ion-checkbox>{{product.category[0].subCategories[0].name}}</ion-checkbox>
          <ion-icon color="success" item-right [name]="isLevel2Shown('idx'+i+'idx'+i2) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
          <ion-list *ngIf="isLevel2Shown('idx'+i+'idx'+i2)">
            <ion-item *ngFor="let m of s.products" text-wrap>
              <ion-checkbox> {{m.productName}}</ion-checkbox>
            </ion-item>
          </ion-list>
        </ion-item>
      </ion-list>
    </ion-item>
  </ion-list> -->
</ion-content>
