branch-products {

  .branchBtnCancel,
  .branchBtnSave {
    border-radius: 30px;
  }
  .branchBtnSave{
      background-color: rgb(32, 104, 32);
  }
  .branchBtnCancel{
      background-color: rgb(206, 58, 58);
  }
}
