<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <!-- <app-header [headerTitle]="headerTitle"></app-header> -->
  </ion-navbar>
</ion-header>
<ion-content class="branches-body">
  <ion-grid class="grid-1">
    <h1>Products</h1>
    <ion-row>
      <ion-col col-12>
        <div class="btn-demo">
          <ion-col>
            <button [disabled]="!selectedProductCount == 0" text-capitalize ion-button (click)="addNewProduct()"
              class="add-btn">
              <p text-capitalize> Add New Product </p>
            </button>
          </ion-col>
          <!-- <ion-col>
            <button [disabled]="selectedProductCount != 1" text-capitalize ion-button (click)="editSingleProduct();"
              class="edit-btn">
              <p text-capitalize> Edit Product </p>
            </button>
          </ion-col> -->
          <ion-col>
            <button [disabled]="!selectedProductCount >= 1 " text-capitalize ion-button
              (click)="deleteMultipleProduct()" class="dlt-btn">
              <p text-capitalize> Delete Product </p>
            </button>
          </ion-col>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="grid-2">
    <ion-row>
      <ion-col col-12>
        <ion-list>
          <ion-item class="table">

            <ion-checkbox [(ngModel)]="IsAllChecked" name="isChecked" id="checkedId" class="details"
              (click)="CheckUncheckAll(IsAllChecked)"></ion-checkbox>
            <ion-label>Image</ion-label>
            <ion-label text-center>Name</ion-label>
            <ion-label text-center>Description</ion-label>
            <ion-label text-center>Quantity</ion-label>
            <ion-label text-center>UnitPrice</ion-label>
            <ion-label text-center>CGST(%)</ion-label>
            <ion-label text-center>SGST(%)</ion-label>
            <ion-label text-center>AditionalPrice</ion-label>
            <ion-label text-center>SellingPrice</ion-label>

            <ion-label>&nbsp;</ion-label>
          </ion-item>

          <ion-item *ngFor="let product of productsData" class="listItem branch-details details">
            <ion-checkbox id="{{product.productId}}" type="checkbox" name="check" [(ngModel)]="product.selected"
              (change)="branchEdit(product.productId)"
              (click)="CheckUncheckHeader(product.selected, product.productId)"></ion-checkbox>
            <ion-avatar item-start><img class="img" src="{{imageUrl}}{{product.image}}"></ion-avatar>
            <ion-label text-center>{{ product.productName }}</ion-label>
            <ion-label ngbTooltip="ajhjsdahfjdd" title="Hooray!" text-center>{{ product.productDesc }}</ion-label>
            <ion-label text-center>{{ product.availableQuantity }}</ion-label>
            <ion-label text-center>{{ product.price }}</ion-label>
            <ion-label text-center>{{ product.cGst }}</ion-label>
            <ion-label text-center>{{ product.sGst }}</ion-label>
            <ion-label text-center>{{ product.aditionalPrice }}</ion-label>
            <ion-label text-center>{{ product.totalPrice}}</ion-label>
            <ion-label>
              <button ion-button class="edit2-btn" type="button" (click)="editProduct(product.productId)" icon-only>
                <ion-icon class="itemIcon" name='create'></ion-icon>
              </button>
              <button ion-button class="dlt2-btn" type="button" (click)="deleteProduct(product.productId)" icon-only>
                <ion-icon class="itemIcon" name='trash'></ion-icon>
              </button>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>