customer-list {
  
  @import url('https://fonts.googleapis.com/css?family=Poppins');
  @import 'font';
  @import 'color';
  .body{
    font-family: 'Poppins', sans-serif;
  }
  .branches-body{
    width:100%;
    h1 {
      font-size: $font-md;
      margin: 2rem 0 1.5rem;
      color: $black;
    }
  }
  .grid-1 {
    padding: 0px 0px 0px 0px;
  }
  .grid-2 {
    padding: 0px 0px 0px 0px;
  }
  .scroll-content {
    background: $body-bg;
  }
  .btn-demo{
    width:100%;
    background-color: $white;
    float: left;
    padding: 20px 0px 20px 0px;
    border-bottom: 1px solid $border;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;


    .button-md {
      border-radius: 2px;
      overflow: hidden;
      height: 3.6rem;
      font-size: 1.4rem;
      font-weight: 500;
      text-transform: uppercase;
      color: $white;
      background-color: $table-border;
      -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px -0px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
      box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px -0px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
    }
    .btn-demo .button-md:hover:not(.disable-hover) {
      background-color: $table-border;
      color:$white;
    }
    
    .dlt-btn,
    .edit-btn,
    .add-btn {
      background-color: transparent;
      margin-left: 15px;
      float: left;

      p {
        float: left;
        font-size: 16px;
        color:$white;
        background-color: none;
      }
      
    }

    .add-btn {
      border-right-color: transparent;
      background-color:$btn-color;
      color:$white;
    }

    .dlt-btn {
      border-left-color: transparent;
      background-color: $red;
      color:$white;
    }

    
    .edit-btn:hover,
    .add-btn:hover {
      background-color:$btn-color;
      border:1px solid $btn-color;
      color:$white;
    }
    .dlt-btn:hover{
      background-color: $red;
      color:$white;
    }
    
  }
  .item.item-md .checkbox-md {
    position: static;
    display: block;
    margin: 9px 36px 9px 15px;
}

  .listItem:hover {

    .edit2-btn,
    .dlt2-btn {
      //   background-color: red !important;
      visibility: visible !important;
    }
  }

  .listItem {

    .edit2-btn,
    .dlt2-btn {
      //   background-color: blue !important;
      visibility: hidden !important;
      border: none;
      color:$icon;
      background-color:transparent;
	    padding: 0px;
      font-size: 16px;
      border-radius: 5px;
	    position: relative;
	    box-sizing: border-box;
	    transition: all 500ms ease; 
      -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px -0px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
      box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px -0px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
    }
  }
  
  .edit2-btn,
  .dlt2-btn {
    // background-color: blue !important;
    visibility: hidden !important;
  }
  .edit2-btn:hover{
    background-color:$hover!important;
    color:$btn-color;
    visibility: hidden !important;

  }
  
  .dlt2-btn:hover {
    background-color:$hover !important;
    color:$red;
    visibility: hidden !important;
  }
  .table{
    height: 50px;  
    /*--background-color: rgb(218, 223, 228);--*/
    background-color: $border;
    border-bottom: 1px solid $border;
    /*--border-left:1px solid $border;--*/
    .details{
      padding-left: 61px;
      border-radius: 3px;
    }
  }
  .item-md.item-block .item-inner {
    padding-right: 0px;
    border-bottom: 0px solid $border;
}
.branch-details{  
  height:15px;
  /*--background-color: rgb(218, 223, 228);--*/
  background-color: $white;
  border-bottom: 1px solid $border;
  border-right:1px solid $table-border;
  border-left:1px solid $border;
  &:hover{
    background-color: $hover;
  }
}
 .item.item-md .checkbox-md {
  position: static;
  display: block;
  margin: 0px 36px 0px 0px;
  padding-left: 38px;
  text-align:left;
}
.item-block {
  width: 100%;
  min-height: 0.0rem;
}
.checkbox-md + .item-inner {
  padding-left: 5px;
  text-align: center;
  font-size:$font-sm;
  border-left:0px solid $table-border;
  padding-top:40px;
  padding-bottom:40px;
}
.tools{
  padding-top: 30px;
  border:1px solid $table-border;
}
.searchbar-md .searchbar-input {
  height: auto;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem;
  color: rgb(20, 20, 20);
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.14) 0px 0px 0px 0px, rgba(0, 0, 0, 0.2) 0px 0px 0px -0px, rgba(0, 0, 0, 0.12) 0px 0px 0px 0px;
  padding: 6px 45px;
  border-radius: 4px;
  background-position: left 8px center;
  border:1px solid #ccc;
}
.searchbar-md .searchbar-search-icon {
  left: 16px;
  top: 8px;
  width: 21px;
  height: 21px;
}
.searchbar-md .searchbar-clear-icon {
  right: 3px;
  top: 1px;
  padding: 0;
  width: 22px;
  height: 90%;
  background-color:$white;
  background-size: 22px;
}
.search{
  width:300px;
  float: right;
}
}
