<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <!-- <app-header [headerTitle]="headerTitle"></app-header> -->
  </ion-navbar>
</ion-header>

<ion-content padding class="branches-body">
  <ion-grid class="grid-1">
    <h1>Contacts</h1>
    <ion-row>
      <ion-col col-12>
        <div class="btn-demo">
          <ion-searchbar (ionInput)="getItems($event)" class="search"></ion-searchbar>
          <ion-col>
            <button [disabled]="!selectedCustomerCount == 0" text-capitalize ion-button (click)="AddCustomer()"
              class="add-btn">
              <p text-capitalize> Add Contact </p>
            </button>
          </ion-col>
          <!-- <ion-col>
          <button [disabled]="selectedCustomerCount != 1" text-capitalize ion-button (click)="editSingleCustomer()" class="edit-btn">
            <p text-capitalize> Edit Customer </p>
          </button>
        </ion-col> -->
          <ion-col>
            <button [disabled]="!selectedCustomerCount >= 1 " text-capitalize ion-button
              (click)="deleteMultipleCustomer()" class="dlt-btn">
              <p text-capitalize> Delete Contact </p>
            </button>
          </ion-col>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="grid-2">
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item >
            <ion-checkbox [(ngModel)]="IsAllChecked" name="isChecked" id="checkedId"
              (click)="CheckUncheckAll(IsAllChecked)"></ion-checkbox>
            <ion-label>Name</ion-label>
            <ion-label>Mobile number</ion-label>
            <ion-label>Email Id</ion-label>
            <ion-label text-center>Phone(Home)</ion-label>
            <ion-label text-center>Phone(Office)</ion-label>
            <ion-label text-center>Address</ion-label>
            <ion-label>&nbsp;</ion-label>
          </ion-item>
          <ion-item *ngFor="let customer of listCustomer" class=" listItem ">
            <ion-checkbox id="{{customer.custId}}" type="checkbox" name="check" [(ngModel)]="customer.selected"
              (change)="customerEdit(customer.custId)" (click)="CheckUncheckHeader(customer.selected, customer.custId)">
            </ion-checkbox>
            <ion-label>{{ customer.customerName}}</ion-label>
            <ion-label>{{ customer.customerMobile }}</ion-label>
            <ion-label>{{ customer.customerEmailAddress }}</ion-label>
            <ion-label>{{ customer.customerPhoneHome }}</ion-label>
            <ion-label>{{ customer.customerPhoneOffice }}</ion-label>
            <ion-label>{{ customer.customerAddress }}</ion-label>
            <ion-label>
              <button ion-button class="edit2-btn" type="button" (click)="editCustomer(customer.custId)" icon-only>
                <ion-icon class="itemIcon" name='create'></ion-icon>
              </button>
              <button ion-button class="dlt2-btn" type="button" (click)="deleteCustomerInfo(customer.custId)" icon-only>
                <ion-icon class="itemIcon" name='trash'></ion-icon>
              </button>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>