$red:#ff1a1a;
$blue:#3333ff;
$white:#fff;
$regent-grey:#808c99;
$pale-sky:#6b717f;
$midnight-blue:#036;
$text-color: #333;
$black: #000;
$green:#00aa20;
$grey           : #878787;
$regent-st-blue : #add8e6;
$river-bed      : #48525c;
$border-color:#ccc;
$hover-color:#ffa949;
// Color Configs
$primary-color:  $green;
$secondary-color: $white;

  