order-history
{
    .iconImg{
        background-color: $green;
        }
    
        .body
        {
            background-color:$white;
        }
        .edit-btn{
    
          margin-right: 10px;
          background-color:$green;
      }
      .delete-btn{
          margin-left: 10px;
          background-color: $red;
      }
    
      .product-list .list {
          
          padding: 30px;
          max-width: 0%;
          margin: 10px auto;
          border-radius: $border-radius;
      }
      
      .text1{
          font-size: $font-size-20;
          color:#000000;
          padding-bottom: 10px;
      } 
      .img
      {
          background: $white;
          width: 500px;
          height:300px;
          border-radius: 50%;
          line-height: 50px;
          margin-left: 10px;
          margin-top: 10px;
          text-align: center;
          border: 1px solid $black;
      }
      .quantity
      {
          float:right;
      }
      .iconImg
      {
          font-size: $font-size-lg;
      }
    
      .fab-md {
          background-color:$green;
      }
      .availableQuantity
      {
          float: right;
      }
      .title1
      {
          margin-left: 46px;
      }
      .productname{
          width:100%;
          background-color: $white;
          color:#000;
          border:2px solid $border-color;
          border-radius: $border-radius;
          float:left;
          margin-top: 20px;
      }
      .item-detail{
          width:50%;
          background-color:$green;
          float:left;
      }
      .item-quntity{
          width:50%;
          background-color: $green;
          float:left;
      }
      .text{
          font-size: $font-size-md;
          color:$white;
          padding-top: 8px;
          padding-bottom: 7px;
      }
      .name{
          width:50%;
          border:1px solid $black;
          float: left;
      }
      .qty{
          width:50%;
          border:1px solid $black;
          float: right;
      }
      .text1{
          font-size: $font-size-sm;
          color:$white;
          padding-top: 10px;
          margin-right:30px;
          float: right;
      }
      .text-num{
          font-size: $font-size-sm;
          color:$black;
          float: right;
          margin-top: 20px;
          margin-bottom: 19px;
          margin-right: 10px;
          padding: 5px;
          background-color: $white;
          border-radius: $border-radius-md;
      }
      .list-md .item-block .item-inner {
          border-bottom: 1px solid $white;
      }
      .order-box{
        width: 95%;
        background-color: $white;
        margin: auto;
        overflow:hidden;
    }
      .productnum{
          width:100%;
          background-color: $white;
          color:$black;
          float: left;
      }
      .produt-price{
          width:100%;
          float: left;
      }
      .produt-text{
        font-size: $font-size-md;
        color:$black;
        padding-top: 10px;
        width:50%;
        float: left;
        padding-bottom: 12px;
        padding-left: 20px;
    }
      .produt-dec{
          width:50%;
          float: left;
      }
      .produt-dec-text{
          font-size: $font-size-18;
          color:$black;
          text-align: right;
          margin-top: 10px;
          margin-right: 20px;
          padding-bottom: 10px;
      }
      .searchbar-md {
        background: inherit;
        width:280px;
        float: right;
        padding: 0px;
        margin-left: 0px;
      }
      .filter-icon-col{
        margin-left: 0px;
    }
     .filter {
        float: left;
        width: 50px;
        height: 40px;
        margin-left: 0px;
        border:none;
      }
      
      .toolbar-md-secondary .toolbar-background-md{
          background-color: $white;
      }
      /*--mobile view--*/
      .produt-mobil-text{
        font-size:$font-size-20;
        color:$black;
        padding-top: 10px;
        width:50%;
        float: left;
        padding-bottom: 12px;
        padding-left: 20px;
    }
}
