<ion-header *ngIf="isfilter">
  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>OrderSummary</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="body" *ngIf="isWeb">
  <!-- search box -->
  <ion-grid>
    <ion-row>
      <ion-col col-11>
        <ion-searchbar showCancelButton="true" (ionInput)="getorderItems($event)" (ionCancel)="isSearchbarisOpened=false"></ion-searchbar>
      </ion-col>
      <ion-col col-1 class="filter-icon-col">
        <img class="filter" src="./assets/icon/filter-icon.png" (click)="openfilter()" />
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <div class="order-box">
      <div class="productname" *ngFor="let order of orderHistory;">
        <ion-item>
          <div (click)="itemSelected(order)">
            <div class="item-detail">
              <p color="darkgreen" class="text">{{order.productName}}</p>
            </div>
            <div class="item-quntity">
              <p class="text1"> Qty| {{order.orderQuantity}}</p>
            </div>
          </div>
          <div *ngIf="order.showDetails" class="productnum">
            <div>
              <p class="produt-text">{{order.productDesc}}</p>
            </div>
            <br>
            <div class="produt-price">
              <p class="produt-text">Vendor Name:{{order.customerName}}</p>
              <p class="produt-text">Ordered On: {{order.orderDate}}</p>
              <p class="produt-text">Delivery On: {{order.expectedDelivery}}</p>
              <p class="produt-text">Paid: {{order.amountPaid | currency: ' &#x20A8;'}}</p>
              <p class="produt-text">Balance: {{order.amountPending | currency: ' &#x20A8;'}}</p>
            </div>
          </div>
        </ion-item>
      </div>
    </div>
  </ion-list>
  <ion-fab right bottom margin-right="20px;">
    <ion-icon ion-fab class="iconImg" ios="ios-add" md="md-add" (click)="AddNewOrder()"></ion-icon>
  </ion-fab>
</ion-content>




<!-- Non Web -->
<ion-header *ngIf="isfilter">
  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-fab right>
      <img src="./assets/icon/filter-icon.png" (click)="openfilter()" />
    </ion-fab>
    <ion-title>OrderSummary</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="body" *ngIf="!isWeb">
  <!-- search box -->
  <ion-grid>
    <ion-row>
      <ion-col col-11>
        <ion-searchbar showCancelButton="true" (ionInput)="getorderItems($event)" (ionCancel)="isSearchbarisOpened=false"></ion-searchbar>
      </ion-col>
      <ion-col col-1 class="filter-icon-col">
        <img class="filter" src="./assets/icon/filter-icon.png" (click)="openfilter()" />
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <div class="order-box">
      <div class="productname" *ngFor="let order of orderHistory;">
        <ion-item>
          <div (click)="itemSelected(order)">
            <div class="item-detail">
              <p color="darkgreen" class="text">{{order.productName}}</p>
            </div>
            <div class="item-quntity">
              <p class="text1"> Qty| {{order.orderQuantity}}</p>
            </div>
          </div>
          <div *ngIf="order.showDetails" class="productnum">
            <div>
              <p class="produt-mobil-text">{{order.productDesc}}</p>
            </div>
            <br>
            <div class="produt-price">
              <p class="produt-mobil-text">Vendor Name:{{order.customerName}}</p>
              <p class="produt-mobil-text">Ordered On: {{order.orderDate}}</p>
              <p class="produt-mobil-text">Delivery On: {{order.expectedDelivery}}</p>
              <p class="produt-mobil-text">Paid: {{order.amountPaid | currency: ' &#x20A8;'}}</p>
              <p class="produt-mobil-text">Balance: {{order.amountPending | currency: ' &#x20A8;'}}</p>
            </div>
          </div>
        </ion-item>
      </div>
    </div>
  </ion-list>
  <ion-fab right bottom margin-right="20px;">
    <ion-icon ion-fab class="iconImg" ios="ios-add" md="md-add" (click)="AddNewOrder()"></ion-icon>
  </ion-fab>
</ion-content>