$bg-white:#fff;
$white:#ffffff;
$form-bg: #13232f;
$black:#000000;
$text-color:#4d4d4d;
$border-color:#cccccc;
$button-color:#3366ff;
$hover-color:#ffa31a;
$hover-text-color:#000;
$hover-border:#ffa31a;
$primary-color:$white;
$secondary-color:$black;
$show-btn:#34bfa3;