add-customer{

  @import url('https://fonts.googleapis.com/css?family=Barlow:200,300,400,600');
  @import'color';
  @import'typograpy';
    .autocomplete {
        width: 100%;
        ion-searchbar {
            padding: 1px !important;
        }
        }
        .col {
            margin-top: 0px;
            width: 100%;
            padding: 0px 10px 0px 10px;
        }
        .demo-btn{
          width:100%;
          padding-top: 15px;
          padding-bottom: 15px;
          background:$white;
        }
        .show-btn{
          float: left;
          border-color: $show-btn !important;
          background-color: $show-btn !important;
          margin-left:15px;
          color:$white;
        }
        .add-btn{
          float: left;
          border-color: $show-btn !important;
          background-color: $show-btn !important;
          margin-left:15px;
        }
        .button-md {
          -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px -0px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px -0px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
      }
      .form-container{
        width:100%;
        background-color: $white;
        margin-top: 20px;
        padding-bottom:20px;
        border-radius:5px;
        border:none;
        box-shadow: 0 0px 5px 0px rgba(115, 108, 203, 0.23);
        }
        .border{
          margin-top: 50px;
          padding-left: 20px;
          padding-bottom: 30px;

          border:1px solid $border-color;
          border-radius: $border-radius;
        }
        .scroll-content {
          background-color: $body-bg;
        }
       
        
      .form-control {
        display: block;
        width: 100%;
        height: 39px;
        padding: 6px 12px;
        font-size: $font-size-md;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        outline: 0 !important;
        box-shadow: none !important;
        }
        .item-label-stacked .text-input-md, .item-label-floating .text-input-md {
            margin-left: 0px;
            margin-top: 0px;
            margin-bottom: 0px;
            width: calc(100% - 8px);
        }
        .item-block {
            min-height: 0.0rem;
          }
          .item-md {
            width: 100%;
            padding-left: 0px;
            padding-right: 0px;
          }
          .list-md {
            margin: -1px 0 10px;
  }
  .item-input .label-md,
  .item-select .label-md,
  .item-datetime .label-md {
    font-size: $font-size-lg;
    font-family: $font-family-text;
    font-weight: $medium;
    line-height: $line-height;
    padding-left:5px;
    color: $black;
  }
  .item-md.item-input.item-input-has-focus .item-inner,
  .item-md.item-input.input-has-focus .item-inner {
    border-bottom-color: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .list-md .item-input.item-input-has-focus:last-child,
  .list-md .item-input.input-has-focus:last-child {
    border-bottom-color: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .list-md .item-input.item-input-has-focus:last-child .item-inner,
  .list-md .item-input.input-has-focus:last-child .item-inner {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
  .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child,
  .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
    border-bottom-color: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child .item-inner,
  .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child .item-inner {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus):last-child {
    border-bottom-color: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus):last-child .item-inner {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .item-input-has-focus .label-md[stacked],
  .input-has-focus .label-md[stacked],
  .item-input-has-focus .label-md[floating],
  .input-has-focus .label-md[floating] {
    color:$black;
  }
.searchbar-md .searchbar-input {
  padding: 6px 55px;
  border-radius: $border-radius-light;
  background-position: left 8px center;
  height: auto;
  font-size: $font-size-20;
  font-weight: $medium;
  line-height: $line-height;
  color: $text-color;
  background-color: $white;
}

.searchbar-md .searchbar-input::-moz-placeholder {
  color: #aeaeae;
}

.btn{
    width:100%;
    margin-top: 10px;
    float: left;
}
.btn-1{
  width:100%;
  padding-top: 0px;
  float: right;
}
.btn-upload{
  width:100%;
  margin-top: 0px;
  float: left;
}
.add-btn{
  width:300px;
    background-color: $button-color;
    color:$white;
    float: right;
    margin-right: 30px;
    margin-top: 20px;
}
.add-btn-text{
  font-size: $font-size-18;
  color:$white;
  font-weight: $medium;

}
.document-btn{
  width:95px;
  float: left;
  background-color: $button-color;
  color:$white;
}
.upload-btn{
  width:80px;
  float: left;
  background-color: $button-color;
  color:$white;
}
.select-md .select-icon {
  position: relative;
  width: 12px;
  height: 19px;
  float: right;
}
.item-md.item-block .item-inner {
  padding-right: 0px;
  border-bottom: 0px solid #dedede;
}
.btn-group{
  width:100%;
  margin-top: 20px;
}

.save-btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: left;
  border: 1px solid transparent;
  padding: .375rem 4.75rem .25rem 4.75rem;
  font-size: 1.375rem;
  line-height: 1.5;
  border-radius: .25rem;
  color:$white;
  background-color: $primary;
}
.save-btn :hover:not(.disable-hover) {
  background-color: $primary;
}
.cancel-btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem 4.75rem .25rem 4.75rem;
  font-size: 1.375rem;
  line-height: 1.5;
  border-radius: .25rem;
  color:$white;
  background-color:$primary;
}
.cancel-btn:hover:not(.disable-hover) {
  background-color: $primary;
}


  
}