<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
  <br>
  <div floating-left class="demo-btn">
    <ion-buttons end>
      <button *ngIf="isWeb && !addByDocument" ion-button top right clear (click)="uploadByDocument()"  class="show-btn">
        Add Multiple Using Document
      </button>
      <button *ngIf="isWeb && addByDocument" ion-button top right clear (click)="cancelUploadByDocument()">
        Cancel
      </button>
      <button ion-button *ngIf="customerCounts != 0 " (click)="showCutomersList()" class="show-btn">Show Contacts</button>
    </ion-buttons>
  </div>
</ion-header>
<ion-content *ngIf="isWeb" padding>
  <div *ngIf="!addByDocument" class="form-container">
    <form #f="ngForm" (ngSubmit)="addCustomer(f)">
      <div>
        <ion-grid>
          <ion-row>
            <ion-col class="businessInputs">
              <ion-item no-lines>
                <ion-input type="number" hidden id="businessId" ngModel #businessId="ngModel" [(ngModel)]="BusinessId"
                  class="form-control" name="businessId"></ion-input>
              </ion-item>
              <ion-item no-lines>
                <ion-label floating for="customerName" class="lable"> Name*</ion-label>
                <ion-input class="input" type="text" id="customerName" ngModel #customerName="ngModel"
                  [(ngModel)]="CustomerName" class="form-control" name="customerName" required minlength="3"
                  maxlength="50">
                </ion-input>
              </ion-item>
              <ion-item no-lines>
                <div class="errorMsg" *ngIf="customerName.touched && !customerName.valid">
                  <div *ngIf="customerName.errors.required">Name is required.</div>
                  <div *ngIf="customerName.errors.minlength">Name should be minimum {{
                        customerName.errors.minlength.requiredLength }} characters.</div>
                </div>
              </ion-item>
            </ion-col>


            <ion-col class="businessInputs">
              <ion-item no-lines>
                <ion-label floating class="lable">Mobile*</ion-label>
                <ion-input class="input" type="text" id="customerMobile" ngModel #customerMobile="ngModel"
                  [(ngModel)]="CustomerMobile" class="form-control" name="customerMobile" required minlength="10"
                  maxlength="13" pattern="[-+]?([0-9]*\.[0-9]+|[0-9]+)"></ion-input>
              </ion-item>
              <ion-item no-lines>
                <div *ngIf="customerMobile.touched && !customerMobile.valid">
                  <div class="errorMsg" *ngIf="customerMobile.errors.required">Mobile number is required.</div>
                  <div class="errorMsg" *ngIf="customerMobile.errors.minlength || customerMobile.errors.pattern">Mobile
                    number is invalid.</div>
                </div>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="businessInputs">
              <ion-item no-lines stacked>
                <ion-label floating>Email</ion-label>
                <ion-input type="email" id="customerEmailAddress" ngModel #customerEmailAddress="ngModel"
                  [(ngModel)]="CustomerEmailAddress" class="form-control" name="customerEmailAddress"
                  pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"></ion-input>
              </ion-item>
              <ion-item no-lines>
                <div class="errorMsg" *ngIf="customerEmailAddress.touched && !customerEmailAddress.valid">
                  <!-- <div *ngIf="customerEmailAddress.errors.required">Email is required.</div> -->
                  <div *ngIf="customerEmailAddress.errors.pattern">Email format invalid .</div>
                </div>
              </ion-item>
            </ion-col>
            <ion-col class="businessInputs">
              <ion-item no-lines>
                <ion-label floating>Phone(Home)</ion-label>
                <ion-input type="text" id="customerPhoneHome" ngModel #customerPhoneHome="ngModel"
                  [(ngModel)]="CustomerPhoneHome" class="form-control" name="customerPhoneHome" minlength="8"
                  maxlength="10" pattern="^[0-9]*[0-9]$"></ion-input>
              </ion-item>
              <ion-item no-lines>
                <div class="errorMsg" *ngIf="customerPhoneHome.touched && !customerPhoneHome.valid">
                  <div *ngIf="customerPhoneHome.errors.minlength">Home Number should be minimum {{
                      customerPhoneHome.errors.minlength.requiredLength
                        }} charecters.</div>
                </div>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="businessInputs">
              <ion-item no-lines>
                <ion-label floating>Phone(Ofice)</ion-label>
                <ion-input type="text" id="customerPhoneOffice" ngModel #customerPhoneOffice="ngModel"
                  [(ngModel)]="CustomerPhoneOffice" class="form-control" name="customerPhoneOffice" minlength="8"
                  maxlength="10" pattern="^[0-9]*[0-9]$"></ion-input>
              </ion-item>
              <ion-item no-lines>
                <div class="errorMsg" *ngIf="customerPhoneOffice.touched && !customerPhoneOffice.valid">
                  <div *ngIf="customerPhoneOffice.errors.minlength">Office Number should be minimum {{
                        customerPhoneOffice.errors.minlength.requiredLength }} digits.</div>
                </div>
              </ion-item>
            </ion-col>
            <ion-col class="businessInputs">
              <ion-item no-lines>
                <ion-label floating>Address</ion-label>
                <ion-input type="text" id="customerAddress" ngModel #customerAddress="ngModel"
                  [(ngModel)]="CustomerAddress" class="form-control" name="customerAddress"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label floating for="Types">Types</ion-label>
                <ion-select interface="popover" id="customerType" ngModel #customerType="ngModel"
                  [(ngModel)]="CustomerType" class="form-control" name="customerType" required>
                  <ion-option value="suppliers">Supplier</ion-option>
                  <ion-option value="customers">Customer</ion-option>
                  <ion-option value="employees">Employee</ion-option>
                </ion-select>
                <div class="errorMsg" *ngIf="customerType.touched && !customerType.valid">
                  <div *ngIf="customerType.errors.required">Customer Type is required.</div>
                </div>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col text-center col-6>
              <div class="btn">
                <button class="save-btn" [disabled]="!f.valid" ion-button type="submit">{{ custId == undefined
                      ? 'Save'
                      : 'Update' }}</button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </form>
  </div>
  <div *ngIf="addByDocument">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div (click)="fileInputPicker.click();">
            <input type="file" hidden accept=".xlsx, .csv, application/vnd.ms-excel, text/csv, text/plain"
              #fileInputPicker (change)="onDocUpload($event.target.files);">
            <ion-input style="width: 40%" type="text" readonly class="form-control imgInput" no-lines
              [placeholder]=" docName ? docName : 'Add document..' ">
              <ion-icon name="camera"></ion-icon>
            </ion-input>
            <button class="document-btn" ion-button>
              Select Document
            </button>
          </div>
        </ion-col>
        <ion-col pull-2>
          <button class="upload-btn" [disabled]=" docName ? false : true " ion-button type="button"
            (click)="uploadDocument()">
            Upload
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>