add-subcategory
{
    .form-input{
        font-family: 'Barlow', sans-serif;
        font-size: 15px;
        color: #555555;
        line-height: 1.2;
        margin-top:20px;
        display: block;
        width: 90%;
        height: 40px;
        border:none;
        border:1px solid $body-bg;
        border-radius: $br;
        background: transparent;
        padding: 0 5px;
        &:focus {
              outline:0;
              border-color:$main;
        }
      }
    .savebttn{
      padding-top: 15%;
    }
}