<ion-header>
    <ion-navbar color="secondary">
        <ion-fab right bottom margin-right="20px;">
            <ion-icon name="close" class="close" (click)="close()"></ion-icon>
        </ion-fab>
        <ion-title align-title="center">Add Sub Category</ion-title>
    </ion-navbar>
</ion-header>
<ion-content class="home" padding>
    <form #f="ngForm" (ngSubmit)="AddSubCategory(f)" class="main-form">
        <ion-item>
            <label>Sub Category Name</label>
            <ion-input type="text" id="subCategoryName" ngModel #subCategoryName="ngModel" [(ngModel)]="subCategoryName2"
                name="subCategoryName" placeholder="Sub Category Name" class="form-input"></ion-input>
        </ion-item>
        <div class="savebttn">
            <button ion-button round>Save</button>
        </div>
    </form>
</ion-content>