@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,700,800');
 
/** lighter */
@font-face {
    font-family: "poppinsLight";
    src: url("https://fonts.googleapis.com/css?family=Poppins:300");
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    }
    /** light */
@font-face {
    font-family: "poppinsRegular";
    src: url("https://fonts.googleapis.com/css?family=Poppins:300i");
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    }

    /** regular */
@font-face {
    font-family: "poppins";
    src: url("https://fonts.googleapis.com/css?family=Poppins:400");
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    }

    /** bold */
@font-face {
    font-family: "poppinsBold";
    src: url("https://fonts.googleapis.com/css?family=Poppins:700");
    font-weight: bold;
    font-style: normal;
    font-variant: normal;
    }

     /** bold */
@font-face {
    font-family: "poppinsBolder";
    src: url("https://fonts.googleapis.com/css?family=Poppins:800");
    font-weight: bold;
    font-style: normal;
    font-variant: normal;
    }
    
   
    $mbts-primary-font-family: poppins;
    $mbts-secondary-font-family: poppinsRegular;
    $mbts-tertiary-font-family: poppinsBold;
    
    $mbts-base-tablet-font-size: 1.7rem;
    $mbts-base-tablet-line-height: 1.85rem;
    $mbts-base-mobile-font-size: 1.5rem;
    $mbts-base-mobile-line-height: 1.7rem;
