$menuBg: map-get($colors, dark);
$menuItemBg: map-get($mbts-colors, darker);
$splitter: map-get($mbts-colors, darkerslit);

.menu-inner {
    width:200px !important;
    ion-header {
        background: $menuBg !important;   
    }
    .menu-header {
        background: $menuBg !important;  
        padding: 0 2rem; 
        .item-inner {
            border-bottom: 0px !important;
        }
    }
    ion-item {
        background: $menuBg !important;   
        color: white
    }
    .header-md::after {
        display: none;
    }
    .img {
        background: white;
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        line-height: 6rem;
        margin-top: 1rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .imglogo {
        height: 38px;
        }
      .dropdownbtn {
        float: right;
        width: 1rem;
        background: #2a3142 !important;
      }
      .dropdownbtn_icon {
        float: right;
        background: $menuBg !important;
      }
      .bussiness_lable {
        width: 90%;
        float: left;
        background: $menuBg !important;
        margin-left: 0px;
        font-size: 1.5rem;
        font-weight: 300;
        margin-right: 0px;
      }
      .scroll-content {
          padding: 0 !important;
          background: $menuBg;
          .menubutton:first-child {
            border-top: 1px solid $splitter !important;
          }
          .menubutton:last-child {
            .item-inner {border-bottom: 0px solid $splitter !important;}
          }
          
          }
      
    .menubutton{
        display: block;
        color: #999;
        background: $menuBg;
        font-size: 1.5rem;
        ion-icon {
            font-size:1.5rem;
            margin-right: 1rem;
            font-weight: 300; 
            
        }
        span{
            font-size: 1.5rem;
            font-weight: 300; 
        }
        .input-wrapper {
            padding: 0 2rem;
        }   
        &:hover{
            color:white;
        }
    }
    .menubutton:hover{
        background-color: $menuItemBg;
    }
      .activeHightlight {
        background-color: $menuItemBg;
      }
      .item-inner {
        border-bottom: 1px solid $splitter !important;

      }   
      
      
    .add-business {
        width:46%;
        background: white!important;
        padding-left: 4px;
        margin-right: 0px;
        float: left;
        font-size: 1rem;

        .add-btn {
            width: 3%;
            float: left;
            background: none;
            margin-left: 0px;
          }
          .createbtn {
            width: 3%;
            float: left;
            background: none;
            margin-left: 2rem;
          }
          

    }
    .addbtn {
        background-color:primary;
        width:100px;
        margin-left: 45px;
      }
      
    .sidebar{
        background: #fff !important;
        width: 95%;
        margin-left: 4px;
    } 
      


     
}