<ion-split-pane [when]="getSplitPane()">
  <ion-menu [content]="content" (ionOpen)="refreshBusinessList()">
    <ion-header>
      <div class="menu-header">
        <div class="img">
          <img class="imglogo" [src]="dataStore.selectedBusiness?.imageUrl" />
        </div>
        <div>
          <ion-item (click)="toggle()">
            <div>
              <div class="add_business ">
                <label class="bussiness_lable" style="background:#ccc;"> {{ dataStore.selectedBusiness?.businessName
                  }} </label>
              </div>
              <div class="dropdownbtn">
                <ion-icon class="dropdownbtn_icon" name="arrow-dropdown" *ngIf="!businessItemsShown"></ion-icon>
                <ion-icon class="dropdownbtn_icon" name="arrow-dropup" *ngIf="businessItemsShown"></ion-icon>
              </div>
            </div>
          </ion-item>
        </div>
      </div>
    </ion-header>
    <ion-content padding *ngIf="businessItemsShown">
      <ion-item *ngFor="let bName of businesslist ; let i = index " class="sidebar">
        <p class="add-business">
          <button class="add-btn" (click)='businessSelect(i);'>{{bName.businessName}}</button></p>
        <button class="createbtn">
          <ion-icon name="person-add" (click)="addusers(bName.businessId)"></ion-icon>
        </button>
        <button class="createbtn">
          <ion-icon name="create" (click)="businessEdit(i)"></ion-icon>
        </button>
      </ion-item>
      <ion-item class="sidebar">
        <button ion-button block class="addbtn" (click)="addnewbusiness()" [disabled]="!(businesslist.length<5)">Add
          Business
        </button>
      </ion-item>
    </ion-content>
    <ion-content padding *ngIf="!businessItemsShown">
      <button class="menubutton" menuClose ion-item *ngFor="let p of pages" [class.activeHightlight]="checkActive(p)"
        (click)="openPage(p)">
        <ion-icon name="{{p.icon}}"></ion-icon><span>{{p.title}}</span>
      </button>
    </ion-content>
    <!-- Footer -->
  </ion-menu>
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main></ion-nav>
</ion-split-pane>
<ion-header class="appHeader">
  <app-header *ngIf="headerTitle != 'Sign Out' && dataStore.currentHeaderTitle != '' " [headerTitle]="dataStore.currentHeaderTitle"></app-header>
</ion-header>