// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.



@import 'fonts';
@import 'colors';
@import 'styles';

@import "../../node_modules/ionic2-auto-complete/auto-complete";
@import url('https://fonts.googleapis.com/css?family=Poppins');

@import 'themes/bootstrap';
@import 'themes/dark';
@import 'assets/icons';

body {
  font-family: 'Poppins', sans-serif;

}

ion-app {
  font-family: 'Poppins', sans-serif !important;
}

.active {
  background-color: #4CAF50;
}

ion-app.md [padding] {
  padding: 0px;
}

p {
  float: left;
  font-size: 18px;
  color: #000000;
  background-color: none;
  padding-left: 5px;
}

.button2 {
  width: 3%;
  float: left;
  background: none;
  margin-left: 0px;
}

.createbtn {
  width: 3%;
  float: left;
  background: none;
  margin-left: 32px;
}




::-webkit-scrollbar {
  display: none;
}


.item-md {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}




.down {
  background-color: #72d8ff;
  width: 100%;
}



.check {
  width: 60%;
  padding-left: 13px;
  margin-right: 30px;
  float: left;
}

.add {
  margin-left: 0px;
  padding-left: 15px;
  color: #000;
}

.add p {
  margin-left: 0px;
  padding-left: 10px;
  color: #000;
}


.col {
  padding: 0px;
  margin-top: 0px;
  width: 100%;
}

.item-md.item-block .item-inner {
  padding-right: 0px;
  border-bottom: 1px solid #dedede;
}

.label-md {
  margin: 0px;
}

.errorMsg {
  color: red;
  font-size: 15px;
}

.dropdownbtn {
  background-color: #2a3142;
}
// For menu Width----- 

.split-pane-ios.split-pane-visible>.split-pane-side {
  max-width: 200px !important;
  border-right: $hairlines-width solid $list-ios-border-color;

}

.split-pane-md.split-pane-visible>.split-pane-side {
  max-width: 200px !important;
  border-right: 1px solid $list-md-border-color;
  border-left: 0;
  min-width: 200px !important;
}

.split-pane-wp.split-pane-visible>.split-pane-side {
  max-width: 200px !important;
  border-right: 1px solid $list-wp-border-color;


}

.appHeader {
  height: relative;
  width: relative;
  border-bottom-color: transparent;
  margin-left: 35px;
  margin-right: 0%;
  padding-left: 12%;
  padding-right: 5%;
  float: right;

  background-image: none;

}

ion-header::after {
  background-image: none !important;
}

@media only screen and (orientation: landscape)  {
  .pos-modal {
    .product{
      background-color: #ccc;
      border:1px solid #ccc;
      border-radius:2px;
      margin-top:25px;
    }

   .modal-wrapper {
     position: absolute;
     top: 0 !important;
     left: 0 !important;
     display: block;
     width: 100% !important;
     height: 100% !important;
   } 
   .prodcut-details{
     border:1px solid blue;
     float: left;
     p{
       font-size:18px;
       color:#000;
       padding-left: 15px;
       margin-bottom: 0px;
     }
   }
   .box{
     border:1px solid #000000;
     float: left;

     h1{
       font-size:18px;
       color:#000;
       border:1px solid #000;
     }
   }
 }
}


@media only screen and (orientation: landscape)  {
  .calculator-modal {
   .modal-wrapper {
     position: absolute;
     top: 0 !important;
     left: 80%!important;
     right: 0 !important;
     display: block;
     width: 20% !important;
     height: 100% !important;
   } 
  }}



