<ion-header padding>
  <ion-navbar>
    <ion-title>Track The Business</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form class="form">
    <img class="form-avatar" src="../../assets/imgs/ttb-logo.png" alt="logo">
    <h3>Register here</h3>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-input class="form-input" type="text" [(ngModel)]="userName" name="userName" id="userName" placeholder="User Name">
          </ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input class="form-input" type="email" [(ngModel)]="email" name="email" placeholder="Email">
          </ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input class="form-input" type="text" [(ngModel)]="phoneNumber" name="phoneNumbr" id="phoneNumber"
            placeholder="Phone Number">
          </ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input class="form-input" type="text" [(ngModel)]="city" name="city" id="city" placeholder="City">
          </ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input class="form-input" type="text" [(ngModel)]="pincode" name="pincode" id="pincode" placeholder="Pincode">
          </ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button ion-button (click)="registerAccount()" class="form-button">Register</button>
          <button ion-button clear (click)="loginPage()" type="button">Already Registerd ? Login Here.</button>
          <button ion-button (click)="openSignUp()" type="button">SignUp here..</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
