invoice-list {
  @import'color';
  @import'font';

  .body{
    width:100%;
    background-color:$body-bg;
  }
  
  .scroll-content {
    background-color: $body-bg;
  }
  .demo-btn{
    width:100%;
    border-bottom:1px solid $grey;
    padding-bottom: 18px;
  }
  .button-md {
    border-radius: 2px;
    overflow: hidden;
    height: 3.6rem;
    font-size:$font-sm;
    font-weight: 500;
    text-transform: uppercase;
    -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px -0px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px -0px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
    margin: 0.4rem 0.2rem;
    padding: 0 1.1em;
  }
  .show-btn{
    background-color:$btn-color;
    color:$white;
  }
  .show-btn:hover:not(.disable-hover) {
    background-color:$btn-color;
    color:$white;
  }
  .button-clear-md {
    border-color: transparent;
    color: $black;
    font-size:$font-sm;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border:1px solid $grey;
    opacity: 1;
  }
  .form-container{
    width:100%;
    background-color: $white;
    margin-top: 20px;
    padding-bottom:30px;
    border-radius:5px;
    border:none;
    box-shadow: 0 0px 5px 0px rgba(115, 108, 203, 0.23);

    h1{
      font-size:$font-lg;
      padding-top: 15px;
      padding-bottom: 15px;
      color:$dark;
      font-weight: 400;
      border-bottom:1px solid $grey;
      span{
        margin-left: 18px;
      }
     
    }
    .lable{
      font-size: $font-size-sm;
      font-weight: 400;
      color:#000;
      margin-left: 15px;
      padding-right:20px;
    }
    .text-input-md {
      margin-top: 0px;
      margin-bottom: 5px;
      margin-left:15px;
      float: left;
      border-bottom: 1px solid #ccc;
      width: 95%;
    }
    .errorMsg {
      color:$red;
      font-size:$font-mini;
      margin-left: 15px;
    }
    .item-input-has-focus .label-md[stacked],
    .input-has-focus .label-md[stacked],
    .item-input-has-focus .label-md[floating],
    .input-has-focus .label-md[floating] {
      color:$black;
    }
  
  }

  .select{
    width:200px;
    padding: 5px;
    margin-top: 30px;
    border:1px solid $grey;
    border-radius: 4px;
  }
  
  
  .item-md.item-input.item-input-has-focus .item-inner,
  .item-md.item-input.input-has-focus .item-inner {
    border-bottom-color:none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .list-md .item-input.item-input-has-focus:last-child,
  .list-md .item-input.input-has-focus:last-child {
    border-bottom-color: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .list-md .item-input.item-input-has-focus:last-child .item-inner,
  .list-md .item-input.input-has-focus:last-child .item-inner {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
  .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: none;
      -webkit-box-shadow: none;
    box-shadow: none;
  }

  .list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child,
  .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
    border-bottom-color: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child .item-inner,
  .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child .item-inner {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color:none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus):last-child {
    border-bottom-color: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .group-btn{
    width:100%;
    margin-top:23px;
  }
  .assign-btn {
    width:200px;
    background-color:$primary;
    border-radius: 3px;
    margin-left:15px;
  }

  .assign-btn:hover:not(.disable-hover) {
    background-color: $primary;
  }
  .save-btn {
    width:100px;
    background-color:$indigo;
    border-radius: 3px;
    margin-left:20px;
    padding:5px;
  }
  

  .delete-btn {
    background-color: rgb(230, 13, 13);
    border-radius: 30px;
  }

  ion-header::after {
    background-image: none;
  }
  .item-block {
    width: 100%;
    min-height: 0.4rem;
  }
  .branchInputs{
    width:300px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top:0px;
    margin-bottom:0px;

    p{
      font-size:$font-size-sm;
      font-weight: 400;
      color:$black;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 33px;
    }
  }
  
   .label-md {
    font-size: $font-md;
    font-family: Barlow, sans-serif;
    font-weight: 400;
    line-height: 3rem;
    color:$black;
  }
/*---add document---*/
  .document{
    width:100%;
    background-color: $white;
    margin-top: 20px;
    padding-top:20px;
    padding-bottom:20px;
    border-radius: 5px;
    box-shadow: 0 0px 5px 0px rgba(115, 108, 203, 0.23);

    h1{
      font-size:$font-lg;
      padding-top: 5px;
      padding-bottom: 20px;
      color:$dark;
      font-weight: 400;
      border-bottom:1px solid $grey;
      span{
        margin-left: 30px;
      }
    }
  }
  .input-control{
    width:40%;
    float: left;
    margin-left:20px;
  }
  .text-input-md {
    margin: 13px 8px;
    padding: 0;
    width:90%;
    border-bottom:1px solid #ccc;
  }
  .document-btn{
    width:40%;
    float: left;
    margin-left:0px;
  }
  .imgBtn{
    width:200px;
    background:$primary;
    border:1px solid $primary;
  }
  .imgBtn:hover:not(.disable-hover) {
    background-color: $primary;
  }

  .product-list .list {
        
    padding: 30px;
    max-width: 0%;
    margin: 10px auto;
    border-radius: 5px;
}
.search
{
    width: 300px;
    float: right;
}
.img
{
    background: white;
    width: 500px;
    height:300px;
    border-radius: 50%;
    line-height: 50px;
    margin-left: 0px;
    margin-top: 10px;
    text-align: center;
    border: 1px solid black;
}
.quantity
{
    float:right;
}
.iconImg
{
    font-size: 20px;
}

.fab-md {
    background-color:#00aa20;
}
.availableQuantity
{
    float: right;
}
.title1
{
    margin-left: 46px;
}
.product-title{
    padding-top: 0px;
    margin-top: 30px;
}
.productname{
    width:100%;
    background-color: #f2f2f2;
    color:#000;
    border:2px solid #ccc;
    border-radius: 5px;
    float:left;
    margin-top: 20px;
}
.item-detail{
    width:100%;
    background-color: #ffffff;
    float:left;
    margin-top: 10px;
}
.item-desc{
    width:90%;
    background-color: #ffffff;
    float:left;
}
.item-quntity{
    width:10%;
    background-color: #ffffff;
   
    height:40px;
    float:left;
    margin-top: 0px;
}
.text{
    font-size: 18px;
    color:#000000;
    padding-top: 15px;
    float: left;
    margin-left: 0px;
}
.text1{
    font-size: 14px;
    color:#000000;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-right: 30px;
    
}
.text-num{
    font-size: 16px;
    color:#000000;
    float: right;
    margin-top: 0px;
    margin-bottom: 9px;
    margin-right: 15px;
    padding: 5px;
    background-color: #29d17d;
    border-radius: 50%;
}
.list-md .item-block .item-inner {
    border-bottom: 1px solid #ffffff;
}
.productnum{
    width:99%;
    background-color: #f2f2f2;
    color:#000;
    float: left;
    margin-bottom: 5px;
    margin-right: 5px;
    border-radius: 3px;
}
.produt-price{
    width:100%;
    float: left;
}
.product-amount{
    width:100%;
    float: left;
}


.produt-text{
    width:100%;
    font-size: 15px;
    color:#000000;
    padding-top: 10px;
    padding-bottom: 12px;
    padding-left: 20px;
}

.product-selling{
    width:100%;
    float: left;
}

.produt-dec{
    width:100%;
    float: left;
    
}

.produt-add-cost{
    width:100%;
    float:left;
}

.produt-access{
    width:100%;
    float:left;
}

.produt-dec-text{
    font-size: 15px;
    color:#000000;
    text-align: left;
    float:left;
    margin-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
}

}