<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>
<ion-content class="body" *ngIf="isWeb">
  <div class="branches-body">
    <ion-grid class="grid-1">
      <h1>Invoice Summary</h1>
      <ion-row>
        <ion-col col-12>
          <div class="btn-demo">
            <ion-col>
              <button [disabled]="!selectedOrdersCount == 0" text-capitalize ion-button (click)="AddNewOrder()"
                class="add-btn">
                <p text-capitalize> Add New sell </p>
              </button>
            </ion-col>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="grid-2">
      <ion-row>
        <ion-col col-12>
          <ion-list>
            <ion-item class="table">
              <ion-label col-2>SNo.</ion-label>
              <ion-label col-2>Date&Time</ion-label>
              <ion-label col-2>Invoie Number </ion-label>
              <ion-label col-2>Associate Name</ion-label>
              <ion-label col-2>Cutomer Name <br>Cutomer Number</ion-label>
              <ion-label col-2>Action</ion-label>
            </ion-item>
            <ion-item *ngFor="let invoice of invoiceList ; let i = index " class="listItem branch-details details">
              <ion-label col-2> {{i+1}} </ion-label>
              <ion-label col-2>{{invoice.salesDate }}</ion-label>
              <ion-label col-2>{{invoice.billNo}}</ion-label>
              <ion-label col-2>{{invoice.userName }}</ion-label>
              <!-- <ion-label col-2>{{invoice.customer.customerName }}</ion-label>
                <ion-label col-2>{{invoice.customer.customerMobile  }}</ion-label> -->
              <ion-label>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>