<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
  <div floating-left class="demo-btn">
      <ion-buttons end>
        <button *ngIf="isWeb && !addByDocument" ion-button top right clear (click)="uploadByDocument()" class="add-btn">
          Add Multiple Using Document
        </button>
        <button *ngIf="isWeb && addByDocument" ion-button top right clear (click)="cancelUploadByDocument()"class="dlt-btn" >
          Cancel
        </button>
        <button ion-button *ngIf="branchesCount != 0 " (click)="showBranchesList()" class="show-btn">Show Branches</button>
      </ion-buttons>
    </div>
</ion-header>

<ion-content *ngIf="isWeb" padding>
  <div *ngIf="!addByDocument" class="form-container">
    <h1><span>Add Branch</span></h1>
    <form #f="ngForm" [formGroup]="branchForm" name="branchForm" (ngSubmit)="addBranch(f)">
      <div class="container">
        <ion-grid>
          <ion-row>
            <ion-col class="branchInputs">
              <ion-item no-lines>
                <ion-label for="branchName" class="lable" floating>Name</ion-label>
                <ion-input class="input" type="text" id="branchName" [(ngModel)]="branchName" formControlName="branchName"
                  class="form-control" name="branchName">
                </ion-input>
              </ion-item>
              <div *ngIf="branchNameCtrl.invalid && branchNameCtrl.touched" class="errorMsg">
                <div *ngIf="branchNameCtrl.errors.required">
                  Branch name is required.
                </div>
                <div *ngIf="branchNameCtrl.errors.minlength">
                  Branch name must be atleast 3 characters long.
                </div>
              </div>
            </ion-col>
            <ion-col class="branchInputs">
              <ion-item no-lines>
                <ion-label for="email" class="lable" floating>Email Address</ion-label>
                <ion-input type="email" id="email" formControlName="email" [(ngModel)]="email" class="form-control"
                  name="email"></ion-input>
              </ion-item>
              <div *ngIf="emailCtrl.invalid && emailCtrl.touched" class="errorMsg">
                <div *ngIf="emailCtrl.errors.required">
                  Email is required.
                </div>
                <!--<div *ngIf="emailCtrl.errors.email">
                        Email format is invalid.
                    </div>-->
                  </div>
                </ion-col>
                <ion-col class="branchInputs">
                  <ion-item no-lines>
                    <ion-label class="lable" floating>Mobile Number</ion-label>
                      <ion-input class="input" type="text" id="mobileNumber" formControlName="mobileNumber" [(ngModel)]="mobileNumber"
                        class="form-control" name="phone"></ion-input>
                  </ion-item>
                  <div *ngIf="mobileNumberCtrl.invalid && mobileNumberCtrl.touched" class="errorMsg">
                    <div *ngIf="mobileNumberCtrl.errors.required">
                      Mobile Number is required.
                    </div>
                    <div *ngIf="mobileNumberCtrl.errors.Number">
                      Mobile Number format is invalid.
                    </div>
                  </div>
                </ion-col>
              </ion-row>

          <ion-row>
            <!-- <ion-col class="branchInputs">
                  <ion-item no-lines>
                    <ion-label>GST</ion-label>
                      <ion-input type="text" id="gst" formControlName="gst" [(ngModel)]="gst" name="gst"></ion-input>
                  </ion-item>
                  <div *ngIf="gstCtrl.invalid && gstCtrl.touched" class="errorMsg">
                    <div *ngIf="gstCtrl.errors.required">
                      GST Number is required.
                    </div>
                    <div *ngIf="gstCtrl.errors.pattern">
                      GST Number format is invalid.
                    </div>
                  </div>
                </ion-col> -->
                
                <ion-col class="branchInputs">
                  <ion-item no-lines>
                    <ion-label class="lable" floating>Address</ion-label>
                      <ion-input type="text" id="address" formControlName="address" [(ngModel)]="address" class="form-control"
                        name="address">
                      </ion-input>
                  </ion-item>
                  <div *ngIf="addressCtrl.invalid && addressCtrl.touched" class="errorMsg">
                    <div *ngIf="addressCtrl.errors.required">
                      Address is required.
                    </div>
                    <div *ngIf="addressCtrl.errors.pattern">
                      Address format is invalid.
                    </div>
                  </div>
              </ion-col>
          </ion-row>


          <ion-row>
            <ion-col class="branchInputs border">
                <ion-item no-lines>
                  
                  <!--<p>Country</p>-->
                    <select placeholder="Select Country" id="country" formControlName="country" [(ngModel)]="country" class="form-control select"
                        name="country" (change)="getStatesList($event.target.value)">
                        <option class="option">Select Country</option>
                      <option disabled selected="selected">Select Country</option>
                     
                      <option *ngFor="let oneCountry of countriesList" [value]="oneCountry.id">{{ oneCountry.name }}</option>
                    </select>
                </ion-item>
              </ion-col>
            <ion-col class="branchInputs border">
              <ion-item no-lines>
                <!--<p>State</p>-->
                <select placeholder="Select State" id="state" formControlName="state" [(ngModel)]="state" class="form-control select"
                  name="state" (change)="getCitiesList($event.target.value)">
                  <option class="option">Select State</option>
                  <option disabled selected="selected">Select State</option>
                  <option *ngFor="let oneState of statesList" [value]="oneState.id">{{ oneState.name }}</option>
                </select>
              </ion-item>
            </ion-col>
            <ion-col class="branchInputs border">
              <ion-item no-lines>
                <!--<p>City</p>-->
                <select placeholder="Select City" id="city" formControlName="city" [(ngModel)]="city" class="form-control select"
                  name="city">
                  <option class="option">Select City</option>
                  <option disabled selected="selected">Select City</option>
                  <option *ngFor="let oneCity of citiesList" [value]="oneCity.id">{{ oneCity.name }}</option>
                </select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="branchInputs">
              <ion-item no-lines>
                <ion-label class="lable" floating>Pincode</ion-label>
                <ion-input type="text" id="pincode" formControlName="pincode" [(ngModel)]="pincode" class="form-control"
                  name="pincode"></ion-input>
              </ion-item>
              <div *ngIf="pincodeCtrl.invalid && pincodeCtrl.touched" class="errorMsg">
                <div *ngIf="pincodeCtrl.errors.required">
                  pincode is required.
                </div>
                <div *ngIf="pincodeCtrl.errors.pattern">
                  Pincode format is invalid.
                </div>
                <div *ngIf="pincodeCtrl.errors.minLength || pincodeCtrl.errors.maxLength">
                  Pincode length should between 5 to 7 digits.
                </div>
              </div>
            </ion-col>
            <ion-col class="branchInputs">
              <ion-item no-lines>
                <ion-label class="lable" floating>Landmark</ion-label>
                <ion-input type="text" id="landmark" formControlName="landmark" [(ngModel)]="landmark" class="form-control"
                  name="landmark"></ion-input>
              </ion-item>
              <div *ngIf="landmarkCtrl.invalid && landmarkCtrl.touched" class="errorMsg">
                <div *ngIf="landmarkCtrl.errors.required">
                  Landmark is required.
                </div>
                <div *ngIf="landmarkCtrl.errors.pattern">
                  Landmark format is invalid.
                </div>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <div class="group-btn">
              <ion-col text-center>
                <!-- [disabled]="!f.valid" -->
                <button *ngIf="productsCount != 0 " class="assign-btn" ion-button type="button" (click)="assignProducts()">Save
                  & Assign Products
                </button>
              </ion-col>
              <ion-col text-center>
                <button class="save-btn" [disabled]="!f.valid" ion-button type="submit">{{ branchId == undefined
                  ? 'Save'
                  : 'Update' }}</button>
              </ion-col>
              <ion-col text-center>
                <button [hidden]="!branchId" ion-button class="delete-btn" type="button" (click)="deleteBranch()">Delete</button>
              </ion-col>
            </div>
          </ion-row>
        </ion-grid>
      </div>
    </form>
  </div>
  <div *ngIf="addByDocument">
    <ion-grid>
      <ion-row>
        <div class="document">
          <h1><span>Add Document</span></h1>
          <ion-col>
            <div (click)="fileInputPicker.click();">
              <div class="input-control">
                <input type="file" hidden accept=".xlsx, .csv, application/vnd.ms-excel, text/csv, text/plain"
                  #fileInputPicker (change)="onDocUpload($event.target.files);">
                <ion-input type="text" readonly class="form-control" no-lines [placeholder]=" docName ? docName : 'Add document..' ">
                  <ion-icon name="camera"></ion-icon>
                </ion-input>
              </div>
              <div class="document-btn">
                <button class="imgBtn" ion-button>
                  Select Document
                </button>
              </div>
            </div>
            <button class="imgBtn" [disabled]=" docName ? false : true " ion-button type="button" (click)="uploadDocument()">
              Upload
            </button>
          </ion-col>
        </div>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<!--non web-->
<ion-content *ngIf="!isWeb" padding>
    <div *ngIf="!addByDocument" class="form-container">
      <h1><span>Add Branch</span></h1>
      <form #f="ngForm" [formGroup]="branchForm" name="branchForm" (ngSubmit)="addBranch(f)">
        <div class="container">
          <ion-grid>
            <ion-row>
              <ion-col class="branchInputs">
                <ion-item no-lines>
                  <ion-label for="branchName" class="lable" floating>Name</ion-label>
                  <ion-input class="input" type="text" id="branchName" [(ngModel)]="branchName" formControlName="branchName"
                    class="form-control" name="branchName">
                  </ion-input>
                </ion-item>
                <div *ngIf="branchNameCtrl.invalid && branchNameCtrl.touched" class="errorMsg">
                  <div *ngIf="branchNameCtrl.errors.required">
                    Branch name is required.
                  </div>
                  <div *ngIf="branchNameCtrl.errors.minlength">
                    Branch name must be atleast 3 characters long.
                  </div>
                </div>
              </ion-col>
              <ion-col class="branchInputs">
                <ion-item no-lines>
                  <ion-label for="email" class="lable" floating>Email Address</ion-label>
                  <ion-input type="email" id="email" formControlName="email" [(ngModel)]="email" class="form-control"
                    name="email"></ion-input>
                </ion-item>
                <div *ngIf="emailCtrl.invalid && emailCtrl.touched" class="errorMsg">
                  <div *ngIf="emailCtrl.errors.required">
                    Email is required.
                  </div>
                  <!--<div *ngIf="emailCtrl.errors.email">
                          Email format is invalid.
                      </div>-->
                    </div>
                  </ion-col>
                  <ion-col class="branchInputs">
                    <ion-item no-lines>
                      <ion-label class="lable" floating>Mobile Number</ion-label>
                        <ion-input class="input" type="text" id="mobileNumber" formControlName="mobileNumber" [(ngModel)]="mobileNumber"
                          class="form-control" name="phone"></ion-input>
                    </ion-item>
                    <div *ngIf="mobileNumberCtrl.invalid && mobileNumberCtrl.touched" class="errorMsg">
                      <div *ngIf="mobileNumberCtrl.errors.required">
                        Mobile Number is required.
                      </div>
                      <div *ngIf="mobileNumberCtrl.errors.Number">
                        Mobile Number format is invalid.
                      </div>
                    </div>
                  </ion-col>
                </ion-row>
  
            
              <!-- <ion-col class="branchInputs">
                    <ion-item no-lines>
                      <ion-label>GST</ion-label>
                        <ion-input type="text" id="gst" formControlName="gst" [(ngModel)]="gst" name="gst"></ion-input>
                    </ion-item>
                    <div *ngIf="gstCtrl.invalid && gstCtrl.touched" class="errorMsg">
                      <div *ngIf="gstCtrl.errors.required">
                        GST Number is required.
                      </div>
                      <div *ngIf="gstCtrl.errors.pattern">
                        GST Number format is invalid.
                      </div>
                    </div>
                  </ion-col> -->
                  
                  <ion-col class="branchInputs">
                    <ion-item no-lines>
                      <ion-label class="lable" floating>Address</ion-label>
                        <ion-input type="text" id="address" formControlName="address" [(ngModel)]="address" class="form-control"
                          name="address">
                        </ion-input>
                    </ion-item>
                    <div *ngIf="addressCtrl.invalid && addressCtrl.touched" class="errorMsg">
                      <div *ngIf="addressCtrl.errors.required">
                        Address is required.
                      </div>
                      <div *ngIf="addressCtrl.errors.pattern">
                        Address format is invalid.
                      </div>
                    </div>
                </ion-col>

  
  
            <ion-row>
              <ion-col class="branchInputs border">
                  <ion-item no-lines>
                    
                    <!--<p>Country</p>-->
                      <select placeholder="Select Country" id="country" formControlName="country" [(ngModel)]="country" class="form-control select"
                          name="country" (change)="getStatesList($event.target.value)">
                          <option class="option">Select Country</option>
                        <option disabled selected="selected">Select Country</option>
                       
                        <option *ngFor="let oneCountry of countriesList" [value]="oneCountry.id">{{ oneCountry.name }}</option>
                      </select>
                  </ion-item>
                </ion-col>
              <ion-col class="branchInputs border">
                <ion-item no-lines>
                  <!--<p>State</p>-->
                  <select placeholder="Select State" id="state" formControlName="state" [(ngModel)]="state" class="form-control select"
                    name="state" (change)="getCitiesList($event.target.value)">
                    <option class="option">Select State</option>
                    <option disabled selected="selected">Select State</option>
                    <option *ngFor="let oneState of statesList" [value]="oneState.id">{{ oneState.name }}</option>
                  </select>
                </ion-item>
              </ion-col>
              <ion-col class="branchInputs border">
                <ion-item no-lines>
                  <!--<p>City</p>-->
                  <select placeholder="Select City" id="city" formControlName="city" [(ngModel)]="city" class="form-control select"
                    name="city">
                    <option class="option">Select City</option>
                    <option disabled selected="selected">Select City</option>
                    <option *ngFor="let oneCity of citiesList" [value]="oneCity.id">{{ oneCity.name }}</option>
                  </select>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="branchInputs">
                <ion-item no-lines>
                  <ion-label class="lable" floating>Pincode</ion-label>
                  <ion-input type="text" id="pincode" formControlName="pincode" [(ngModel)]="pincode" class="form-control"
                    name="pincode"></ion-input>
                </ion-item>
                <div *ngIf="pincodeCtrl.invalid && pincodeCtrl.touched" class="errorMsg">
                  <div *ngIf="pincodeCtrl.errors.required">
                    pincode is required.
                  </div>
                  <div *ngIf="pincodeCtrl.errors.pattern">
                    Pincode format is invalid.
                  </div>
                  <div *ngIf="pincodeCtrl.errors.minLength || pincodeCtrl.errors.maxLength">
                    Pincode length should between 5 to 7 digits.
                  </div>
                </div>
              </ion-col>
              <ion-col class="branchInputs">
                <ion-item no-lines>
                  <ion-label class="lable" floating>Landmark</ion-label>
                  <ion-input type="text" id="landmark" formControlName="landmark" [(ngModel)]="landmark" class="form-control"
                    name="landmark"></ion-input>
                </ion-item>
                <div *ngIf="landmarkCtrl.invalid && landmarkCtrl.touched" class="errorMsg">
                  <div *ngIf="landmarkCtrl.errors.required">
                    Landmark is required.
                  </div>
                  <div *ngIf="landmarkCtrl.errors.pattern">
                    Landmark format is invalid.
                  </div>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <div class="group-btn">
                <ion-col text-center>
                  <!-- [disabled]="!f.valid" -->
                  <button *ngIf="productsCount != 0 " class="assign-btn" ion-button type="button" (click)="assignProducts()">Save
                    & Assign Products
                  </button>
  
                </ion-col>
                <ion-col text-center>
                  <button class="save-btn" [disabled]="!f.valid" ion-button type="submit">{{ branchId == undefined
                    ? 'Save'
                    : 'Update' }}</button>
                </ion-col>
                <ion-col text-center>
                  <button [hidden]="!branchId" ion-button class="delete-btn" type="button" (click)="deleteBranch()">Delete</button>
                </ion-col>
              </div>
            </ion-row>
          </ion-grid>
        </div>
      </form>
    </div>
    <div *ngIf="addByDocument">
      <ion-grid>
        <ion-row>
          <div class="document">
            <h1><span>Add Document</span></h1>
            <ion-col>
              <div (click)="fileInputPicker.click();">
                <div class="input-control">
                  <input type="file" hidden accept=".xlsx, .csv, application/vnd.ms-excel, text/csv, text/plain"
                    #fileInputPicker (change)="onDocUpload($event.target.files);">
                  <ion-input type="text" readonly class="form-control" no-lines [placeholder]=" docName ? docName : 'Add document..' ">
                    <ion-icon name="camera"></ion-icon>
                  </ion-input>
                </div>
                <div class="document-btn">
                  <button class="imgBtn" ion-button>
                    Select Document
                  </button>
                </div>
              </div>
              <button class="imgBtn" [disabled]=" docName ? false : true " ion-button type="button" (click)="uploadDocument()">
                Upload
              </button>
            </ion-col>
          </div>
        </ion-row>
      </ion-grid>
    </div>

    <!-- <div *ngIf="addByDocument">
      <ion-grid>
        <ion-row>
          <div class="document">
            <h1><span>Add Document</span></h1>
            <ion-col>
              <div (click)="fileInputPicker.click();">
                <div class="input-control">
                  <input type="file" hidden accept=".xlsx, .csv, application/vnd.ms-excel, text/csv, text/plain"
                    #fileInputPicker (change)="onDocUpload($event.target.files);">
                  <ion-input  type="text" readonly class="form-control" no-lines [placeholder]=" docName ? docName : 'Add document..' ">
                    <ion-icon name="camera"></ion-icon>
                  </ion-input>
                </div>
                <div class="document-btn">
                  <button class="imgBtn" ion-button>
                    Select Document
                  </button>
                </div>
              </div>
              <button class="imgBtn" [disabled]=" docName ? false : true " ion-button type="button" (click)="uploadDocument()">
                Upload
              </button>
            </ion-col>
          </div>
        </ion-row>
      </ion-grid>
    </div> -->
  </ion-content>