add-branch {
  @import'color';
  @import'font';

  .body{
    width:100%;
    background-color:$body-bg;
  }
  .col {
    padding: 10px;
    margin-top: 0px;
    width: 100%;
}
.grid {
  padding: 5px 15px 5px 15px; 
}
  
  .scroll-content {
    background-color: $body-bg;
    padding:10px;
  }
  .demo-btn{
    width:100%;
    padding-top: 15px;
    padding-bottom: 15px;
    background:$white;
  }
  .show-btn{
    float: left;
    border-color: $show-btn !important;
    background-color: $show-btn !important;
    margin-left:15px;
    color:$white;
  }
  .add-btn{
    float: left;
    border-color: $show-btn !important;
    background-color: $show-btn !important;
    margin-left:15px;
  }
  .cancle-btn{
    float: left;
    border-color: $red !important;
    background-color: $red !important;
    margin-left:15px;
    color:$white;
  }
  .button-md {
    -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px -0px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px -0px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
}
  .form-container{
    width:100%;
    background-color: $white;
    margin-top: 10px;
    padding-bottom:30px;
    border-radius:5px;
    border:none;
    box-shadow: 0 0px 5px 0px rgba(115, 108, 203, 0.23);

    h1{
      font-size:$font-lg;
      padding-top: 15px;
      padding-bottom: 15px;
      color:$dark;
      font-weight: 400;
      border-bottom:1px solid $grey;
      span{
        margin-left: 18px;
      }
     
    }
    .lable{
      font-size: $font-size-sm;
      font-weight: 400;
      color:$black;
      padding-left:7px;
      padding-right:20px;
      padding-top: 0px;
    }
    .text-input-md {
      margin-left: 0px;
      margin-top: 0px;
      margin-bottom:0px;
      padding-top: 0px;
      padding-bottom:0px;
      height: 3.6rem;
      padding: 0px;
      width: calc(100% - 8px);
    }
    .errorMsg {
      color:$red;
      font-size:$font-mini;
      margin-left: 15px;
    }
    .item-input-has-focus .label-md[stacked],
    .input-has-focus .label-md[stacked],
    .item-input-has-focus .label-md[floating],
    .input-has-focus .label-md[floating] {
      color:$black;
    }
  
  }

  .select{
    width:100%;
    margin-top: 20px;
    margin-left: 0px;
    border-radius: 0px;
    display: inherit;
    padding: 0 10px;
    color:$black;
    font-size:16px;
    border: 1px solid #e5e9ec;
    border-radius: 40px;
    .option{
      margin-left: 0px;
      color:$black;
    }
  }
  
  
  .item-md.item-input.item-input-has-focus .item-inner,
  .item-md.item-input.input-has-focus .item-inner {
    border-bottom-color:none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .list-md .item-input.item-input-has-focus:last-child,
  .list-md .item-input.input-has-focus:last-child {
    border-bottom-color: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .list-md .item-input.item-input-has-focus:last-child .item-inner,
  .list-md .item-input.input-has-focus:last-child .item-inner {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
  .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: none;
      -webkit-box-shadow: none;
    box-shadow: none;
  }

  .list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child,
  .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
    border-bottom-color: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child .item-inner,
  .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child .item-inner {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color:none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus):last-child {
    border-bottom-color: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .group-btn{
    width:100%;
    margin-top:23px;
  }
  .assign-btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1.375rem;
    line-height: 1.5;
    border-radius: .25rem;
    color:$white;
    background-color:$primary;
  }
  .assign-btn:hover:not(.disable-hover) {
    background-color: $primary;
  }
  .save-btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem 2.75rem .25rem 2.75rem;
    font-size: 1.5rem;
    line-height: 1.5;
    border-radius: .25rem;
    color:$white;
    background-color: $indigo;
  }
  .save-btn :hover:not(.disable-hover) {
    background-color: $indigo;
    color:$black;
  }
  

  .delete-btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem 2.75rem .25rem 2.75rem;
    font-size: 1.375rem;
    line-height: 1.5;
    border-radius: .25rem;
    color:$white;
    background-color:$red;
  }
  .delete-btn :hover:not(.disable-hover) {
    background-color:$red;
  }

  ion-header::after {
    background-image: none;
  }
  .item-block {
    width: 100%;
    min-height: 0.0rem;
  }
  .branchInputs{
    width:0px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top:0px;
    margin-bottom:0px;

    p{
      font-size:$font-size-sm;
      font-weight: 400;
      color:$black;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 33px;
    }
  }
  
   .label-md {
    font-size: $font-md;
    font-family: Barlow, sans-serif;
    font-weight: 400;
    line-height: 1.875rem;
    color:$black;
  }
/*---add document---*/
  .document{
    width:100%;
    background-color: $white;
    margin-top: 20px;
    padding-top:20px;
    padding-bottom:20px;
    border-radius: 5px;
    box-shadow: 0 0px 5px 0px rgba(115, 108, 203, 0.23);

    h1{
      font-size:$font-lg;
      padding-top: 5px;
      padding-bottom: 20px;
      color:$dark;
      font-weight: 400;
      border-bottom:1px solid $grey;
      span{
        margin-left: 30px;
      }
    }
  }
  .input-control{
    width:48%;
    float: left;
    margin-left:15px;
  }
  .text-input-md {
    margin: 0px 0px;
    padding: 0;
    width:100%;
  }
  .document-btn{
    float: left;
    border-color: $show-btn !important;
    background-color: $show-btn !important;
    margin-left:15px;
    color:$white;
  }
  .uploade-btn{
    float: left;
    border-color:$primary!important;
    background-color:$primary !important;
    margin-left:15px;
    color:$white;
  }
  /*--.border{
    border:1px solid #000;
  }--*/

  .form-control{
  display: block;
  width: 100%;
  height: 39px;
  padding: 0px 0px;
  font-size: 1.75rem;
  font-weight: 400;
  color:$black;
  line-height: 1.42857143;
  color:$black;
  background-color:$white;
  background-image: none;
  border: 1px solid $grey;
  border-radius: 4px;
}
}