<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
  <br>
  <div floating-left class="demo-btn">
    <ion-buttons end>
      <button *ngIf="isWeb && !addByDocument" ion-button top right clear (click)="uploadByDocument()">
        Add Multiple Using Document
      </button>
      <button *ngIf="isWeb && addByDocument" ion-button top right clear (click)="cancelUploadByDocument()">
        Cancel
      </button>
      <button ion-button *ngIf="productsCount != 0 " (click)="showProductList()" class="show-btn">Show Product
        List</button>
    </ion-buttons>
  </div>
</ion-header>
<!--======= For Web View =======-->
<ion-content padding class="main" *ngIf="isWeb">
  <div *ngIf="!addByDocument" class="form-container">
    <form #f="ngForm" (ngSubmit)="addProduct(f)">
      <h1>Product Details</h1>
      <ion-grid>
        <ion-row class="row">
          <ion-col class="border">
            <label for="productName">Product Name</label>
            <ion-input class="form-control" type="text" ngModel #productName="ngModel"
              [readonly]="productId2 == '' || productId2 == null ? false : true " [(ngModel)]="productName2"
              name="productName" required minlength="3" maxlength="50" (change)="validateProductName(productName.model)"
              placeholder="Product Name">
            </ion-input>
            <!-- <ion-input type="hidden" id="productId2" ngModel #productId="ngModel" [(ngModel)]="productId2" class="form-control"
              name="productId"></ion-input>-->
            <ion-item no-lines>
              <div class="help-block" *ngIf="productName.touched && !productName.valid">
                <div *ngIf="productName.errors.required">Product Name is required.</div>
                <div *ngIf="productName.errors.minlength">Product Name should be minimum {{
                  productName.errors.minlength.requiredLength }} charecters.</div>
              </div>
              <div class="help-block">
                <div *ngIf="productName.touched && productName.valid && nameValidate">Product Name is Already Exist.
                </div>
              </div>
            </ion-item>
          </ion-col>

          <ion-col class="border">
            <label>
              Category
              <select class="form-control" type="text" id="categoryName" ngModel #categoryName="ngModel"
                [(ngModel)]="categoryName2" name="categoryName" placeholder="Category"
                (change)="onChanged1($event.target.value)">
                <option value=""><button (click)="addModelCategory()">Add New</button></option>
                <!-- <input *ngIf='edited' type="text"> -->
                <option *ngFor="let category of categoriesList" [value]="category.categoryId">{{category.name}}</option>
              </select>
            </label>
          </ion-col>

          <ion-col class="border">
            <label>
              Sub Category
              <select class="form-control" type="text" id="subcategoryName" ngModel #subcategoryName="ngModel"
                [(ngModel)]="subcategoryName2" name="subcategoryName" placeholder="Sub Category"
                (change)="onChanged2()">
                <option value="AddNew">Add New</option>
                <!-- <input *ngIf='edited' type="text"> --> <br>
                <option *ngFor="let subCategory of subCategoriesList" [value]="subCategory.subcategoryId">
                  {{subCategory.name}}</option>
              </select>
            </label>
          </ion-col>

          <ion-col class="border">
            <label>Description</label>
            <ion-input class="form-control" type="text" id="productDesc" ngModel #productDesc="ngModel"
              [(ngModel)]="productDesc2" name="productDesc" placeholder="Description"></ion-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="border">
            <label>SKU</label>
            <ion-input class="form-control" type="text" id="barcode" ngModel #barcode="ngModel" [(ngModel)]="barcode2"
              name="barcode" placeholder="SKU"></ion-input>
          </ion-col>

          <ion-col class="border">
            <label>Available Quantity</label>
            <ion-input class="form-control" type="text" id="availableQuantity" ngModel #availableQuantity="ngModel"
              [(ngModel)]="availableQuantity2" name="availableQuantity" required minlength="1" maxlength="10"
              pattern="^((?!(0))[0-9]*[0-9])$" placeholder="Available Quantity"></ion-input>
            <ion-item no-lines>
              <div class="help-block" *ngIf="availableQuantity.touched && !availableQuantity.valid">
                <div *ngIf="availableQuantity.errors.required">Available Quantity is required.</div>
                <div *ngIf="availableQuantity.errors.minlength">Available Quantity not valid .</div>
                <div *ngIf="availableQuantity.errors.pattern">Available Quantity invalid .</div>
              </div>
            </ion-item>
          </ion-col>

          <ion-col class="border">
            <label>Photo </label>
            <div (click)="fileInputPicker.click();">
              <img class="imgBtn" src="../assets/imgs/camera.png" />
              <input type="file" hidden accept="image/png,image/jpeg" #fileInputPicker
                (change)="onFileUpload($event.target.files);">
              <ion-input type="text" readonly class="form-text" no-lines
                [placeholder]=" logoName ? logoName : 'Add Product Image' ">
              </ion-input>
            </div>
            <p class="errorMsg" *ngIf="logoSize > 256 ">
              Product Image should be less than 256 KB
            </p>
          </ion-col>

          <ion-col class="border">
            <label>Original Price</label>
            <ion-input class="form-control" type="text" id="price" ngModel #price="ngModel" [(ngModel)]="price2"
              name="price" required minlength="1" maxlength="10" pattern="[0-9]+(\.[0-9][0-9]?)?"
              (ngModelChange)="calculateSellingPrice($event)" placeholder="Original Price"></ion-input>
            <ion-item no-lines>
              <div class="help-block" *ngIf="price.touched && !price.valid">
                <div *ngIf="price.errors.required">Original Price is required.</div>
                <div *ngIf="price.errors.minlength">Original Price not valid .</div>
                <div *ngIf="price.errors.pattern">Original Price invalid .</div>
              </div>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="border">
            <label>
              <select class="form-select">
                <option selected>%</option>
              </select>
            </label>
          </ion-col>

          <ion-col class="border">
            <label>State Gst</label>
            <ion-input class="form-control" type="text" id="sGst" ngModel #sGst="ngModel" [(ngModel)]="sGst2"
              name="sGst" (ngModelChange)="calculateSellingPrice($event)" placeholder="State Gst"></ion-input>
          </ion-col>

          <ion-col class="border">
            <label>
              <select class="form-select">
                <option selected>%</option>
              </select>
            </label>
          </ion-col>

          <ion-col class="border">
            <label>Central Gst</label>
            <ion-input class="form-control" type="text" id="cGst" ngModel #cGst="ngModel" [(ngModel)]="cGst2"
              name="cGst" (ngModelChange)="calculateSellingPrice($event)" placeholder="Central Gst"></ion-input>
          </ion-col>

          <ion-col class="border">
            <label>
              <select class="form-select" (change)="myfunction1($event.target.value)">
                <option value="rupees">Rs</option>
                <option selected value="percentile">%</option>
                <option value="dollor">$</option>
              </select>
            </label>
          </ion-col>

          <ion-col class="border">
            <label>Additional Price</label>
            <ion-input class="form-control" type="text" id="aditionalPrice" ngModel #aditionalPrice="ngModel"
              [(ngModel)]="aditionalPrice2" name="aditionalPrice" pattern="[0-9]+(\.[0-9][0-9]?)?"
              (ngModelChange)="calculateSellingPrice($event)" placeholder="Additional Price"></ion-input>
          </ion-col>

          <ion-col class="border">
            <label>MRP</label>
            <ion-label class="form-control"> {{ totalPrice }} </ion-label>
          </ion-col>

          <ion-col class="border">
            <label>Rewards</label>
            <ion-input class="form-input1" type="text" id="productReword" ngModel #productReword="ngModel"
              [(ngModel)]="productReword2" name="productReword" placeholder="Rewards" minlength="0" maxlength="2">
            </ion-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="border">
            <div class="savebttn">
              <button [disabled]="f.invalid || logoSize > 256 " class="savebutton" ion-button round>{{ productId ==
                undefined
                ? 'Save'
                : 'Update' }}</button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
  <div *ngIf="addByDocument">
    <div (click)="fileInputPicker.click();">
      <input type="file" hidden accept=".xlsx, .csv, application/vnd.ms-excel, text/csv, text/plain" #fileInputPicker
        (change)="onDocUpload($event.target.files);">
      <ion-input style="width: 40%" type="float" readonly class="form-control imgInput" no-lines
        [placeholder]=" docName ? docName : 'Add document..' ">
        <ion-icon name="camera"></ion-icon>
      </ion-input>
      <button ion-button>
        Select Document
      </button>
    </div>
    <button [disabled]=" docName ? false : true " ion-button clear type="button" (click)="uploadDocument()">
      Upload Document
    </button>
  </div>
</ion-content>

<!-- ======= For Mobile View ======= -->
<!-- <ion-content padding class="main" *ngIf="isWeb">
    <div *ngIf="!addByDocument" class="form-container">
      <form #f="ngForm" (ngSubmit)="addProduct(f)">
        <h1><span>Product Details</span></h1>
        <ion-grid>
          <ion-row class="row">
            <ion-col class="border">
              <label for="productName">Product Name</label>
              <ion-input class="form-control" type="text" ngModel #productName="ngModel" [readonly]="productId2 == '' || productId2 == null ? false : true "
                [(ngModel)]="productName2" name="productName" required minlength="3" maxlength="50" (change)="validateProductName(productName.model)"
                placeholder="Product Name">
              </ion-input>
              <ion-item no-lines>
                <div class="help-block" *ngIf="productName.touched && !productName.valid">
                  <div *ngIf="productName.errors.required">Product Name is required.</div>
                  <div *ngIf="productName.errors.minlength">Product Name should be minimum {{
                    productName.errors.minlength.requiredLength }} charecters.</div>
                </div>
                <div class="help-block">
                  <div *ngIf="productName.touched && productName.valid && nameValidate">Product Name is Already Exist.</div>
                </div>
              </ion-item>
            </ion-col>
  
            <ion-col class="border">
              <label>
                Category
                <select class="form-control" type="text" id="categoryName" ngModel #categoryName="ngModel" [(ngModel)]="categoryName2"
                  name="categoryName" placeholder="Category" (change)="onChanged1($event.target.value)">
                  <option value=""><button (click)="addModelCategory()">Add New</button></option>
                  <option *ngFor="let category of categoriesList" [value]="category.categoryId">{{category.name}}</option>
                </select>
              </label>
            </ion-col>
  
            <ion-col class="border">
              <label>
                Sub Category
                <select class="form-control" type="text" id="subcategoryName" ngModel #subcategoryName="ngModel"
                  [(ngModel)]="subcategoryName2" name="subcategoryName" placeholder="Sub Category" (change)="onChanged2()">
                  <option value="AddNew"><button (click)="addModelSubCategory()">Add New</button></option>
                  <option *ngFor="let subCategory of subCategoriesList" [value]="subCategory.subcategoryId">{{subCategory.name}}</option>
                </select>
              </label>
            </ion-col>
  
            <ion-col class="border">
              <label>Description</label>
              <ion-input class="form-control" type="text" id="productDesc" ngModel #productDesc="ngModel" [(ngModel)]="productDesc2"
                name="productDesc" placeholder="Description"></ion-input>
            </ion-col>
          </ion-row>
  
          <ion-row>
            <ion-col class="border">
              <label>SKU</label>
              <ion-input class="form-control" type="text" id="barcode" ngModel #barcode="ngModel" [(ngModel)]="barcode2"
                name="barcode" placeholder="SKU"></ion-input>
            </ion-col>
  
            <ion-col class="border">
              <label>Available Quantity</label>
              <ion-input class="form-control" type="text" id="availableQuantity" ngModel #availableQuantity="ngModel"
                [(ngModel)]="availableQuantity2" name="availableQuantity" required minlength="1" maxlength="10" pattern="^((?!(0))[0-9]*[0-9])$"
                placeholder="Available Quantity"></ion-input>
              <ion-item no-lines>
                <div class="help-block" *ngIf="availableQuantity.touched && !availableQuantity.valid">
                  <div *ngIf="availableQuantity.errors.required">Available Quantity is required.</div>
                  <div *ngIf="availableQuantity.errors.minlength">Available Quantity not valid .</div>
                  <div *ngIf="availableQuantity.errors.pattern">Available Quantity invalid .</div>
                </div>
              </ion-item>
            </ion-col>
  
            <ion-col class="border">
              <label>Photo </label>
              <div (click)="fileInputPicker.click();">
                <img class="imgBtn" src="../assets/imgs/camera.png" />
                <input type="file" hidden accept="image/png,image/jpeg" #fileInputPicker (change)="onFileUpload($event.target.files);">
                <ion-input type="text" readonly class="form-text" no-lines [placeholder]=" logoName ? logoName : 'Add Product Image' ">
                </ion-input>
              </div>
              <p class="errorMsg" *ngIf="logoSize > 256 ">
                Product Image should be less than 256 KB
              </p>
            </ion-col>
  
            <ion-col class="border">
              <label>Original Price</label>
              <ion-input class="form-control" type="text" id="price" ngModel #price="ngModel" [(ngModel)]="price2" name="price"
                required minlength="1" maxlength="10" pattern="[0-9]+(\.[0-9][0-9]?)?" (ngModelChange)="calculateSellingPrice($event)"
                placeholder="Original Price"></ion-input>
              <ion-item no-lines>
                <div class="help-block" *ngIf="price.touched && !price.valid">
                  <div *ngIf="price.errors.required">Original Price is required.</div>
                  <div *ngIf="price.errors.minlength">Original Price not valid .</div>
                  <div *ngIf="price.errors.pattern">Original Price invalid .</div>
                </div>
              </ion-item>
            </ion-col>
          </ion-row>
  
          <ion-row>
            <ion-col class="border">
              <label>
                  State Gst
                <select class="form-select">
                  <option selected>%</option>
                </select>
              </label>
            </ion-col>
  
            <ion-col class="border">
              <label>State Gst</label>
              <ion-input class="form-control" type="text" id="sGst" ngModel #sGst="ngModel" [(ngModel)]="sGst2" name="sGst"
                (ngModelChange)="calculateSellingPrice($event)" placeholder="State Gst"></ion-input>
            </ion-col>
  
            <ion-col class="border">
              <label>
                  Central Gst
                <select class="form-select">
                  <option selected>%</option>
                </select>
              </label>
            </ion-col>
  
            <ion-col class="border">
              <label>Central Gst</label>
              <ion-input class="form-control" type="text" id="cGst" ngModel #cGst="ngModel" [(ngModel)]="cGst2" name="cGst"
                (ngModelChange)="calculateSellingPrice($event)" placeholder="Central Gst"></ion-input>
            </ion-col>
  
            <ion-col class="border">
              <label>
                  Additional Price
                <select class="form-select" (change)="myfunction1($event.target.value)">
                  <option value="rupees">Rs</option>
                  <option selected value="percentile">%</option>
                  <option value="dollor">$</option>
                </select>
              </label>
            </ion-col>
  
            <ion-col class="border">
              <label>Additional Price</label>
              <ion-input class="form-control" type="text" id="aditionalPrice" ngModel #aditionalPrice="ngModel" [(ngModel)]="aditionalPrice2"
                name="aditionalPrice" pattern="[0-9]+(\.[0-9][0-9]?)?" (ngModelChange)="calculateSellingPrice($event)"
                placeholder="Additional Price"></ion-input>
            </ion-col>
  
            <ion-col class="border">
              <label>MRP</label>
              <ion-label class="form-control"> {{ totalPrice }} </ion-label>
            </ion-col>
  
            <ion-col class="border">
              <label>Rewards</label>
              <ion-input class="form-input1" type="text" id="productReword" ngModel #productReword="ngModel" [(ngModel)]="productReword2"
                name="productReword" placeholder="Rewards" minlength="0" maxlength="2"></ion-input>
            </ion-col>
          </ion-row>
          
          <ion-row>
            <ion-col class="border">
              <div class="savebttn">
                <button [disabled]="f.invalid || logoSize > 256 " class="savebutton" ion-button round>{{ productId2 ==
                  undefined
                  ? 'Save'
                  : 'Update' }}</button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </div>
    <div *ngIf="addByDocument">
        <div class="document">
            <h1><span>Add Document</span></h1>
                <div (click)="fileInputPicker.click();">
                  <div class="input-control">
                    <input type="file" hidden accept=".xlsx, .csv, application/vnd.ms-excel, text/csv, text/plain" #fileInputPicker
                        (change)="onDocUpload($event.target.files);">
                    <ion-input  type="float" readonly class="form-control imgInput" no-lines [placeholder]=" docName ? docName : 'Add document..' ">
                      <ion-icon name="camera"></ion-icon>
                    </ion-input>
                  </div>
                  <div class="document-btn">
                    <button ion-button class="select-btn">
                        Select Document
                    </button>
                
                    <button [disabled]=" docName ? false : true " ion-button clear type="button" class="select-btn" (click)="uploadDocument()">
                      Upload Document
                    </button>
                  </div>
              </div>
        </div>
      </div>
  </ion-content>
   -->