add-product
{
    .body{
        background-color: #f4eae6;
    }
    .scroll-content {
        background-color: $body-bg;
      }
      .demo-btn{
        width:100%;
        padding-bottom: 14px;
        float: left;
      }
      .button-md {
        border-radius: 2px;
        overflow: hidden;
        height: 3.6rem;
        font-size:$font-sm;
        font-weight: 500;
        text-transform: uppercase;
        -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px -0px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px -0px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
        margin: 0.4rem 0.2rem;
        padding: 0 1.1em;
      }
      .show-btn{
        background-color:$btn-color;
        color:$white;
      }
      .show-btn:hover:not(.disable-hover) {
        background-color:$btn-color;
        color:$white;
      }
      .button-clear-md {
        border-color: transparent;
        color: $black;
        font-size:$font-sm;
        background-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        border:1px solid $grey;
        opacity: 1;
      }
    .form-container{
          width:100%;
          margin-top: 0px;
          background-color: $white;
          border-radius: 4px;
          box-shadow: 0 0px 5px 0px rgba(115, 108, 203, 0.23);

          h1{
            font-size:$font-lg;
            padding-top: 15px;
            padding-bottom: 15px;
            color:$dark;
            font-weight: 400;
            border-bottom:1px solid $grey;
            margin-left:0px;
            span{
              margin-left: 18px;
            }
        }  
    }
    
    .row{
        margin-top: 18px;
    }
    label,
    input,
    select,
    textarea {
        font-family: inherit;
        line-height: normal;
        color: $dark;
    font-size: $font-mini;
    font-weight: $font-weidth-sm;
    }
    /*---add document---*/
  .document{
    width:100%;
    background-color: $white;
    float: left;
    margin-top: 20px;
    padding-top:20px;
    padding-bottom:20px;
    border-radius: 5px;
    box-shadow: 0 0px 5px 0px rgba(115, 108, 203, 0.23);

    h1{
      font-size:$font-lg;
      padding-top: 5px;
      padding-bottom: 20px;
      color:$dark;
      font-weight: 400;
      border-bottom:1px solid $grey;
      span{
        margin-left: 30px;
      }
    }
  }
  .input-control{
    width:40%;
    float: left;
    margin-left:20px;
  }
  .form-control {
        display: block;
        width: 100%;
        height: 37px;
        padding: 0px 0px;
        font-size: 14px;
        line-height: 1.42857143;
        color:$black;
        background-color:$white;
        background-image: none;
        border: 1px solid $grey;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        outline: 0 !important;
        box-shadow: none !important;
    }
  .text-input-md {
    margin: 13px 8px;
    padding: 0;
    border-bottom:1px solid $black;
  }
  .document-btn{
    width:40%;
    float: left;
    margin-left:0px;
  }
  .select-btn{
    width:200px;
     float: left;
    background:$primary;
    border:1px solid $primary;
  }
  .select-btn:hover:not(.disable-hover) {
    background-color:$white;
  }



    .title1
    {
        margin-left:0px;
    }

    .box
    {
        background:rgba($white,.9);
        padding: 40px;
        max-width:90%;
        margin:10px auto;
        border-radius:5px;;
        box-shadow:0 4px 10px 4px rgba($grey,.3);
    }

    .productInfo
    {
        font-size: 10px;
    }
    .img
    {
        float: left;
        margin-left: 70px;
        padding-left: 25px;
        background:$white;
        width: 70px;
        height: 70px;
        border-radius: 70%;
        line-height: 70px;
        margin-left: 20px;
        margin-top: 25px;
        margin-bottom: 10px;
        text-align: center;
    }
    .label1
    {
        margin-left: 50px;
        padding-left: 16px;
        color: $gray;
        font-size: 10px;
    }
    .sell
    {
        margin-left: 14px;
    }

    .button1{
        width:0px;
        height: 40px;
        font-size: 20px;
        float: left;
        background-color: $primary;
        border-radius:5px;
        color:$white;
        &:hover{
            background-color:$hover;
            color:$white; 
        }
        
    }
    
    input[type="file"] {
        visibility: hidden;
    }
    .help-block
    {
        color: $red;
        font-size: 12px;
    }
    .upload-btn-wrapper 
    {
        position: relative;
        float:right;
        overflow: hidden;
        display: inline-block;
      }
    
      .btn {
        border: 2px solid $grey;
        color: $black ;
        background-color:$white;
        padding: 8px 20px;
        border-radius: 8px;
        font-size: 20px;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-right: 30px;
        font-weight: bold;
      }
      
    .upload-btn-wrapper input[type=file] 
    {
        font-size:8px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }
    .logoname
    {
        padding-left: 10px;
    }
      
      .text-input-md {
        margin: 8px 8px;
        padding: 0;
        width: calc(100% - 8px - 8px);
        border-bottom: 0px solid $grey;
    }
    .col {
        padding: 0px 10px 0px 10px;
        margin-top: 0px;
        width: 100%;
      }
    .item-input .ion-input, .item-input .ion-textarea {
      position: static;
    }
    .ion-input, .ion-textarea {
      position: relative;
      display: block;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      width: 50%;
    }
    .label-md[floating] {
      margin-left: 10;
      margin-bottom: 0;
    }
    .lable{
      margin-left: 10px;
      padding-left:10px;
      color:$black;
    }
    .add-product .item[no-lines], .add-product .item.item[no-lines] .item-inner {
        border-width: 0px;
        border-style: initial;
        border-color: initial;
        border-bottom: none;
        -o-border-image: initial;
        border-image: initial;
    }
    .add-product .label-md {
        width: 50%;
        margin: 0px;
    }
    .item-input ion-label {
        -webkit-box-flex: initial;
        max-width: 200px;
        pointer-events: none;
        flex: initial;
    }
    .label-md {
        margin: 13px 8px 13px 0px;
    }
   
    ion-label {
        display: block;
        -webkit-box-flex: 1;
        font-size: 15px;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 0px;
        overflow: hidden;
        flex: 1 1 0%;
    }
    
    .add-product .item-md {
        width: 50%;
        padding-left: 0px;
        padding-right: 0px;
    }
    .item-inner {
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    -o-border-image: initial;
    border-image: initial;
}
    .label-md {
      margin: 0px;
      width: 100%;
    }
    .item-input ion-label {
        -webkit-box-flex: initial;
        -webkit-flex: initial;
        -ms-flex: initial;
        flex: initial;
        max-width: 110px;
        pointer-events: none;
    }

    .label-md {
        width: 100%;
        margin-top: 0px;
        padding-top: 8px;
        padding-left: 5px;
    }

    .ion-label {
      margin: 0;
      color:$black;
      display: block;
      overflow: hidden;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      padding-left: 20px;
      flex: 1;
      font-size: 15px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .item-input .label-md, .item-select .label-md, .item-datetime .label-md {
        color:$black;
    }
    form, input, optgroup, select {
        margin: 0;
        font: inherit;
        border-radius: 5px;
        color: inherit;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 5px;
    }
    
    button[disabled], [ion-button][disabled] {
        cursor: default;
        opacity: .4;
        pointer-events: none;
        margin-left: 2px;
    }
    
    
    .button {
      text-align: center;
      -moz-appearance: none;
      -ms-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      position: relative;
      z-index: 0;
      display: inline-block;
      text-overflow: ellipsis;
      text-transform: none;
      white-space: nowrap;
      cursor: pointer;
      vertical-align: top;
      vertical-align: -webkit-baseline-middle;
      -webkit-transition: background-color, opacity 100ms linear;
      transition: background-color, opacity 100ms linear;
      -webkit-font-kerning: none;
      font-kerning: none;
      float: right;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      contain: content;
    }
    
    .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
         border-bottom-color:$white;
        box-shadow:  0px -1px 0px 0px inset;
    }
    
    .item[no-lines], .item.item[no-lines] .item-inner {
        border-width: 0px;
        border-style: initial;
        border-color: initial;
        border-image: initial;
    }
    
    .item-md.item-block .item-inner {
        padding-right: 8px; 
    }
    
    .item-inner {
        margin: 0px;
        padding: 0px;
        overflow: hidden;
        flex: 1 1 0%;
        border-width: 0px;
        border-style: initial;
        border-color: initial;
        border-image: initial;
    }
    .productInputs{
        border:none;
    }

    
    .savebtn{
        background-color: $btn-color;

    }
    .lable{
        width:100%;
        border:1px solid $grey;
        float: right;
    }
    .ion-label-1{
        margin: 0;
        color:$black;
        display: block;
        overflow: hidden;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        padding-left: 20px;
        flex: 1;
        font-size: 15px;
        float: right;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    .seling
    {
        width: 16%;
        float: left;
        padding-left: 0px;
        color:$black;
        font-size: 15px;
        margin-top: 13px;
        
    }
    .selingnum{
        width: 30%;
        float: left;
        font-size: 15px;
        margin-top: 13px;
    }
    .imgLbl{
        padding-top: 25px;
        width: 100%;
    }
    .imgBtn{
        padding-top:0.6875rem;
        padding-right: 0.625rem;
        float: right;
      }
    .seling1
    {
        width: 33%;
        float: left;
        padding-left: 0px;
        color:$black;
        font-size: 15px;
        margin-top: 5px;

    }
    .seling2
    {
        width: 50%;
        float: left;
        color: $black;
        font-size: 15px;
        padding-left: 0px;
        margin-top: 5px;

        
    }
    .imgbtn{
         float:left;
        font-size: 15px;
        margin-top: 30px;
        padding-left: 0px;
        margin-right:0px;
    }

    .item-md.item-input.item-input-has-focus .item-inner,
.item-md.item-input.input-has-focus .item-inner {
  border-bottom-color:none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.list-md .item-input.item-input-has-focus:last-child,
.list-md .item-input.input-has-focus:last-child {
  border-bottom-color:none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.list-md .item-input.item-input-has-focus:last-child .item-inner,
.list-md .item-input.input-has-focus:last-child .item-inner {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
  border-bottom-color: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child,
.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
  border-bottom-color: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child .item-inner,
.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child .item-inner {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
  border-bottom-color: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus):last-child {
  border-bottom-color: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus):last-child .item-inner {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.item-block {
    width: 100%;
    min-height: 0.4rem;
    border: 0;
  }
  .toolbar-md-darkgreen .toolbar-background-md {
    background: #4d4dff;
  }
  .toolbar-background-md {
    border-color: rgb(178, 178, 178);
    background: rgb(248, 248, 248);
}
 .ion-label {
    margin: 0;
    color: red;
    display: block;
    overflow: hidden;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    padding-left: 0px;
    flex: 1;
    font-size: inherit;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  // new Style for new page
  .form
  {
      width: 100%;
  }
 /*-- .main-form
  {
    padding: 1em;
    padding-bottom: 10rem;
    border: solid thin;
    margin: 1em 0;
    background: white;
  }--*/
  .addnew
  {
    color: blue;
    background-color: white;
    width: 42%;
  }
  
    .form-select
    {
      font-family: 'Barlow', sans-serif;
      font-size: 15px;
      color: #555555;
      line-height: 1.2;
      margin-top:0px;
      display: block;
      width: 100%;
      height: 37px;
      border:none;
      border:1px solid #c1bdba;
      border-radius: 4px;
      background: transparent;
      padding: 0 5px;
    }
    .help-block
    {
        color: $red;
        font-size: 12px;
        padding: 0px;
    }
    .savebttn
    {
      padding-top: 1%;
    }
    .savebutton{
      background-color:$primary;
      padding-left: 5%;
      padding-right: 5%;
      float: left;
    }
    .resetbutton
    {
      background-color: #32CC99;
      padding-left: 5%;
      padding-right: 5%;
      float: left;
    }
    .form-text{
        font-family: 'Barlow', sans-serif;
        font-size: 15px;
        color: #555555;
        line-height: 1.2;
        margin-top:0px;
        display: block;
        width: 100%;
        height: 37px;
        border:none;
        border:1px solid #c1bdba;
        border-radius: 4px;
        background: transparent;
        padding: 0 5px;
        padding-right: 40px;
        &:focus {
            outline:0;
            border-color:#1ab188;
        }
    }
 
}