<ion-header>
    <ion-navbar >
      <ion-title>These Product Name already Exists..!</ion-title>
      <ion-buttons end>
        <button ion-button icon-only (click)="dismiss()">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  <ion-content padding >
    <ion-grid padding>
      <ion-row padding-left>
        <ion-col>
          <div *ngFor="let product of productList">
            <ion-item no-lines>
                <ion-input class="ProductInput" readonly type="text" [value]="product"></ion-input>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <button ion-button clear block (click)="dismiss()">Ok</button>
  </ion-content>
  