existing-product
{
        .ion-modal {
          height: 20%;
          width: 20%;
        }
      
        .imgHeader {
          height: 30px;
          width: 30px;
        }
      
        input[type="file"] {
          visibility: hidden;
          background-color: #000000;
        }
      
        .logoArea {
          border-radius: 50%;
          height: 4rem;
          width: 4rem;
        }
      
        .form-control {
          width: 100%;
          border: 1px solid #ccc;
          float: left;
          background-color: #F2F2F2;
        }
      
        .ion-input,
        .ion-textarea {
          //   -moz-border-bottom-colors: transparent;
          border-bottom-color: white;
          border-color: white;
          position: relative;
          display: block;
          -webkit-box-flex: 1;
          -webkit-flex: 1;
          -ms-flex: 1;
          flex: 1;
          width: 0%;
          float: left;
          background-color: #F2F2F2;
          border: 1px solid #000;
        }
      
        .text-input-md {
          margin-left: 0;
          margin-top: 8px;
          margin-bottom: 8px;
          width: calc(100% - 8px);
        }
      
        .input-cover {
          left: 0;
          top: 0;
          position: absolute;
          width: 50%;
          height: 100%;
          -ms-touch-action: manipulation;
          touch-action: manipulation;
        }
      
        :focus,
        :active {
          outline: none;
        }
      
        .item-md {
          width: 100%;
          padding-left: 0px;
          padding-right: 0px;
        }
      
        .item-input .ion-input,
        .item-input .ion-textarea {
          position: static;
        }
      
        .ion-input,
        .ion-textarea {
          position: relative;
          display: block;
          -webkit-box-flex: 1;
          -webkit-flex: 1;
          -ms-flex: 1;
          flex: 1;
          width: 50%;
        }
      
        .label-md[floating] {
          margin-left: 10;
          margin-bottom: 0;
        }
      
        .lable {
          margin-left: 10px;
          padding-left: 10px;
          color: #000000;
        }
      
        .label-md[floating] {
          -webkit-transform: translate3d(0, 27px, 0);
          transform: translate3d(0, 27px, 0);
          -webkit-transform-origin: left top;
          transform-origin: left top;
          -webkit-transition: -webkit-transform 150ms ease-in-out;
          transition: -webkit-transform 150ms ease-in-out;
          transition: transform 150ms ease-in-out;
          transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
        }
      
        .item-input .label-md,
        .item-select .label-md,
        .item-datetime .label-md {
          color: #000;
        }
      
        .button {
          text-align: center;
          -moz-appearance: none;
          -ms-appearance: none;
          -webkit-appearance: none;
          appearance: none;
          position: relative;
          z-index: 0;
          display: inline-block;
          text-overflow: ellipsis;
          text-transform: none;
          white-space: nowrap;
          cursor: pointer;
          vertical-align: top;
          vertical-align: -webkit-baseline-middle;
          -webkit-transition: background-color, opacity 100ms linear;
          transition: background-color, opacity 100ms linear;
          -webkit-font-kerning: none;
          font-kerning: none;
          // float: right;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          contain: content;
        }
      
        .addUserSection {
          height: 10px;
        }
        .ProductInput{
          //   color: red;
        }
      
}