<ion-header>
    <ion-navbar color="secondary">
        <ion-fab right bottom margin-right="20px;">
            <ion-icon name="close" class="close" (click)="close()"></ion-icon>
        </ion-fab>
        <ion-title align-title="center">Add Category</ion-title>
    </ion-navbar>
</ion-header>
<ion-content class="home" padding>
    <form #f="ngForm" (ngSubmit)="addCategory(f)" class="main-form">
        <ion-item>
            <label>Category Name</label>
            <ion-input type="text" id="categoryName" ngModel #categoryName="ngModel" [(ngModel)]="categoryName2" name="categoryName"
                placeholder="Category Name" class="form-input"></ion-input>
        </ion-item>
        <div class="savebttn">
            <button ion-button round>Save</button>
        </div>
    </form>
</ion-content>