<div style="top:65px;" class="drop">
  <div class="demo">
    <ion-list  >
      <button ion-item (click)="close()">Edit Profile</button>
      <button ion-item (click)="signoutConfirm()">SignOut</button>
    </ion-list>
  </div>
