header-Popover {
    .demo{
        background-color:grey;
        border:1px solid black;
        border-radius: 30px;
    }
    .list-md {
      margin: 8px 8px 8px 8px;
  }    
      
  .popover-md .popover-content {
    border-radius: 2px;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    width: 100px;
    min-width: 0;
    min-height: 0;
    max-height: 90%;
    color: #000;
    background: #fff;
    -webkit-box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.3); 
}

}