
$red:#ff1a1a;
$blue:#3333ff;
$white:#fff;
$regent-grey:#808c99;
$pale-sky:#6b717f;
$midnight-blue:#036;
$text-color: #333;
$black: #000;
$grey:#ccc;
$add-btn:#34bfa3;
$save-btn:#36a2f5;
$black:#000;
$white:#fff;
$grey:#ccc;
$btn-color:#34bfa3;
$dark:#444444;
$primary:#36a2f5;
$indigo:#6610f2;
$red:#e60000;
$body-bg:#eaeef3;
$border:#ccc;

  