new-order{
@import'color';
@import'typography';
 .help-block
    {
        color:$red;
        font-size: $font-size;
        margin-left: 0px;
    }
    .grid {
      padding: 0px;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      
    }

    .form-container{
      width:100%;
      background-color: $white;
      margin-top: 0px;
      border-radius:5px;
      border:none;
      box-shadow: 0 0px 5px 0px rgba(115, 108, 203, 0.23);
  
      h1{
        font-size:$font-lg;
        padding-top: 20px;
        padding-bottom: 20px;
        color:$dark;
        font-weight: 400;
        border-bottom:1px solid $border;
        span{
          margin-left: 18px;
        }
       
      }

    }

.body{
    background-color: $white;
    padding-top: 30px;
    margin-top:30px;
    padding-bottom: 30px;
    border-radius: 5px;
    border:none;
    box-shadow: 0 0px 5px 0px rgba(115, 108, 203, 0.23);
}
.scroll-content {
  background: $body-bg;
}
.productInputs{
    border:1px solid $border;
}
.form-cal-icon{
  float: right;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 30px;
}
.form-control{
    display: block;
    width: 100%;
    height: 39px;
    padding: 6px 12px;
    font-size:$font-md;
    line-height: 1.42857143;
    color:$black;
    background-color:$white;
    background-image: none;
    border: 1px solid $border;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
}
.red{
    color:$red;
    margin-left: 0px;
}

.text{
    font-size: $font-size-sm;
    color: $black;
}
.drop{
    width:200px;
    background-color: $white;
    margin-left: 30px;
}

.order-date{
  color: $black;
}
.col {
    padding:5px 10px 5px 10px;
    margin-top: 0px;
    width: 100%;
  }

  .button-md {
    font-size:$font-sm;
    -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px -0px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px -0px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
    margin: 0.4rem 0.2rem;
    padding: 0 1.1em;
  }
  
  .demo-btn{
    width:100%;
    background-color: $white;
    padding-bottom:10px;
    padding-top: 10px;
  }
  .order-btn{
    width:180px;
    margin-left:23px;
    border-color: $add-btn !important;
    background-color: $add-btn !important;
    font-size:15px;
  }
  .save-btn{
    width:180px;
    margin-left:23px;
    border-color: $save-btn !important;
    background-color: $save-btn !important;
    font-size:15px;
    border-radius:2px;
  }
  .button-clear-md {
    border-color: transparent;
    color: $black;
    font-size:$font-sm;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border:1px solid $border;
    opacity: 1;
  }

  .item-label-floating .text-input-md {
    margin-left: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    width: calc(100% - 8px);
}

.item-ios.item-label-stacked .text-input,
.item-ios.item-label-floating .text-input {
  margin-left: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  width: calc(100% - 8px);
}
.item-input .label-md,
.item-select .label-md,
.item-datetime .label-md {
  padding-left: 15px;
  font-size: rem;
  font-size: 1.75rem;
  font-family: Barlow, sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
  color:$black;
}

  .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: none;
    box-shadow: none;
}
.item-md.item-input.item-input-has-focus .item-inner,
.item-md.item-input.input-has-focus .item-inner {
  border-bottom-color: none;
  -webkit-box-shadow:  none;
  box-shadow:  none;
}

.list-md .item-input.item-input-has-focus:last-child,
.list-md .item-input.input-has-focus:last-child {
  border-bottom-color:  none;
  -webkit-box-shadow:  none;
  box-shadow:  none;
}

.list-md .item-input.item-input-has-focus:last-child .item-inner,
.list-md .item-input.input-has-focus:last-child .item-inner {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
  border-bottom-color: none;
  -webkit-box-shadow:  none;
  box-shadow:  none;
}

.list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child,
.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
  border-bottom-color:  none;
  -webkit-box-shadow:  none;
  box-shadow:  none;
}
.label-md[stacked],
.label-md[floating] {
  margin-left: 0px;
  margin-bottom: 0;
  font-size:$font-size-md ;
  padding-left: 10px;
  color:$black;
}

.toolbar-md-secondary .toolbar-background-md {
  background: none;
}

  .item-label-stacked .input-wrapper, .item-label-floating .input-wrapper {
    -webkit-box-flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    flex: 1 1 0%;
    width:100%;
    float:none;
    color:$black;
}
.item-input-has-focus .label-md[stacked],
.input-has-focus .label-md[stacked],
.item-input-has-focus .label-md[floating],
.input-has-focus .label-md[floating] {
  color: $black;
}
.item-block {
   
    align-items: center;
    width: 100%;
    min-height: 0.0rem;
    border: 0;
  }
  .text-input-md {
    margin: 0px 0px;
    padding: 0;
    width: 100%;
  }
  .item-md.item-block .item-inner {
    padding-right: 0px;
    border-bottom: none;
  }
  .pending-amount{
    width:100%;
    font-size:1.25rem;
    padding-top: 15px;
    padding-bottom:3px;
  }
  .input-control{
    border:0px solid $grey;
  }
  
  // .amount{
  //   width:50%;
  //   padding-bottom: 0px;
  //   float: left;
  //   color: $black;
  //   height: 40px;
  //   padding-top: 16px;
  //   padding-left: 10px;
  //   border-bottom:1px solid $grey;
  // }
  // .Pending{
  //   width:50%;
  //   float: left;
  //   height: 40px;
  //   text-align: left;
  //   border-bottom:1px solid $grey;
  //   padding-top: 22px;
  //   padding-bottom: 0px;
  // }
  
  .form-date{
    float: left;
    width:10%;
}
.form-cal{
  width:10%;
  float: left;
}
.form-cal-icon{
  float: right;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 30px;
}
.ordered{
  width:90%;
  float: left;
}
.ordered-date{
  width:50%;
  float: left;
}
.ordered-icon{
  width:45%;
  float: left;
}
.icons{
  padding-top: 15px;
  float: right;
}


.delivery{
  width:100%;
  float: left;
  padding-bottom: 15px;
}
.delivery-date{
  width:80%;
  float: left; 
}
.delivery-icon{
  width:15%;
  float: left;
}
.delivery-icons{
  padding-top: 15px;
  float: right;
}
.form-input {
  display: block;
  width: 96%;
  height: 39px;
  padding: 6px 12px;
  font-size: 1.5rem;
  line-height: 1.42857143;
  color: #000;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
}
.pending-input{
  border:0px solid $grey;
  padding-top: 10px;
}
}