
<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-navbar>
    <div class="demo-btn">
      <button ion-button  *ngIf="ordersummaryCount != 0 " (click)="showOrdersList()" class="order-btn">Order Summary</button>
    </div>
  </ion-header>
  
<ion-content *ngIf="isWeb" padding>
  <form #f="ngForm" (ngSubmit)="newOrder(f)">
    <ion-grid>
      <div class="form-container">
          <h1><span>New Order</span></h1>
        <ion-row>
          <ion-col>
            <ion-item no-lines class="input">
              <ion-label floating class="text">Product Name</ion-label>
              <ion-input type="text" class="order-input" id="productName" ngModel #productName="ngModel" [(ngModel)]="ProductName"
                [readonly]="orderId == ''||OrderId == null ? false : true " class="form-control" name="productName"
                required minlength="3" maxlength="50">
              </ion-input>
            </ion-item>
            <ion-item no-lines>
              <div class="help-block" *ngIf="productName.touched && !productName.valid">
                <div *ngIf="productName.errors.required">Product Name is required.</div>
                <div *ngIf="productName.errors.minlength">Product Name should be minimum
                  {{productName.errors.minlength.requiredLength }} characters.</div>
              </div>
            </ion-item>

            <ion-input hidden type="text" class="order-input" id="orderId" ngModel #orderId="ngModel" [(ngModel)]="OrderId"
              class="form-control" name="orderId">
            </ion-input>

            <ion-input hidden type="text" id="productId" ngModel #productId="ngModel" [(ngModel)]="ProductId" class="form-control"
              name="productId">
            </ion-input>

            <ion-input hidden type="text" id="buId" ngModel #buId="ngModel" [(ngModel)]="BuId" class="form-control"
            name="buId">
            </ion-input>
            
            <ion-input hidden type="text" id="bId" ngModel #bId="ngModel" [(ngModel)]="BId" class="form-control"
            name="bId">
            </ion-input>

        
            <ion-input hidden type="text" id="customerId" ngModel #customerId="ngModel" [(ngModel)]="CustomerId" class="form-control"
              name="customerId">
            </ion-input>

            <ion-input hidden type="text" id="unitPrice" ngModel #unitPrice="ngModel" [(ngModel)]="UnitPrice" class="form-control"
              name="unitPrice">
            </ion-input>
            <ion-input hidden type="text" id="aditionalPrice" ngModel #aditionalPrice="ngModel" [(ngModel)]="AditionalPrice"
              class="form-control" name="aditionalPrice">
            </ion-input>

          </ion-col>
          <ion-col>
            <ion-item no-lines>
              <ion-label floating>Description</ion-label>
              <ion-input type="text" id="productDesc" ngModel #productDesc="ngModel" [(ngModel)]="ProductDesc"
                [readonly]="orderId == '' || OrderId == null ? false : true " class="form-control" name="productDesc">
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item no-lines>
              <ion-label floating>Quantity</ion-label>
              <ion-input type="text" id="orderQuantity" ngModel #orderQuantity="ngModel" [(ngModel)]="OrderQuantity"
                class="form-control" name="orderQuantity" required minlength="1" maxlength="50" pattern="^((?!(0))[0-9]*[0-9])$">
              </ion-input>
            </ion-item>
            <ion-item no-lines>
              <div class="help-block" *ngIf="orderQuantity.touched && !orderQuantity.valid">
                <div *ngIf="orderQuantity.errors.required">Quantity is required.</div>
                <div *ngIf="orderQuantity.errors.minlength">Quantity should be More then Zero. </div>
                <div *ngIf="orderQuantity.errors.pattern">Quantity is invalid. </div>
              </div>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item item-end no-lines>
              <ion-label floating>Vendor Name</ion-label>
              <ion-input type="text" id="customerName" ngModel #customerName="ngModel" [readonly]="orderId == '' || OrderId == null ? false : true "
                [(ngModel)]="CustomerName" class="form-control" name="customerName" required minlength="3" maxlength="50"></ion-input>
            </ion-item>
            <ion-item no-lines>
              <div class="help-block" *ngIf="customerName.touched && !customerName.valid">
                <div *ngIf="customerName.errors.required">Vendor Name is required.</div>
                <div *ngIf="customerName.errors.minlength">Vendor Name should be minimum
                  {{customerName.errors.minlength.requiredLength }} characters.</div>
              </div>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item no-lines>
              <ion-label floating>Vendor Mobile Number</ion-label>
              <ion-input type="text" id="customerMobile" ngModel #customerMobile="ngModel" [readonly]="orderId == '' || OrderId == null ? false : true "
                [(ngModel)]="CustomerMobile" class="form-control" name="customerMobile" required minlength="10"
                maxlength="13" pattern="[-+]?([0-9]*\.[0-9]+|[0-9]+)">
              </ion-input>
            </ion-item>
            <ion-item class="help-block" no-lines>
              <div *ngIf="customerMobile.touched && !customerMobile.valid">
                <div *ngIf="customerMobile.errors.required" class="red">Mobile number is required.</div>
                <div *ngIf="customerMobile.errors.minlength" class="red">Mobile number should be 10 digits .</div>
                <div *ngIf="customerMobile.errors.maxlength" class="red">Please check mobile number.</div>
                <div *ngIf="customerMobile.errors.pattern" class="red">Mobile number invalid .</div>
              </div>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item no-lines>
              <ion-label floating class="seling">Total Amount</ion-label>
              <ion-input type="text" id="totalAmount" ngModel #totalAmount="ngModel" [(ngModel)]="TotalAmount" class="form-control"
                name="totalAmount" (ngModelChange)="calculatePrice($event)" required minlength="1" maxlength="10"
                pattern="^((?!(0))[0-9]*[0-9])$">
              </ion-input>
            </ion-item>
            <ion-item class="help-block" no-lines>
              <div *ngIf="totalAmount.touched && !totalAmount.valid">
                <div *ngIf="totalAmount.errors.required" class="red">Total Amount is required.</div>
                <div *ngIf="totalAmount.errors.pattern" class="red">Price invalid </div>
              </div>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item no-lines>
              <ion-label floating>Amount Paid</ion-label>
              <ion-input type="text" id="amountPaid"  ngModel #amountPaid="ngModel" [(ngModel)]="AmountPaid" class="form-control"
                name="amountPaid" (ngModelChange)="calculatePrice($event)" pattern="^([0-9]*[0-9])$" required
                 maxlength="50">
              </ion-input>
            </ion-item>
            <ion-item class="help-block" no-lines>
              <div *ngIf="amountPaid.touched">
                <div *ngIf="amountPaidExceed" class="red">Paid Amount exceed more than Total Amount!!</div>
              </div>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item no-lines class="pending-amount border">
              <ion-label>Pending Amount</ion-label>
              <ion-input type="text" id="amountPending" onmouseup="return false" ngModel #amountPending="ngModel"
                [(ngModel)]="AmountPending" class="form-control input-control" name="amountPending" readonly 
                maxlength="50" pattern="^([0-9]*[0-9])$">
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item no-lines>
              <ion-label floating >Order Status</ion-label>
              <ion-select class="drop" interface="action-sheet" ngModel #orderStatus="ngModel" [(ngModel)]="OrderStatus1"
                id="orderStatus" name="orderStatus" (ionChange)="logChosen()">
                <ion-option *ngFor="let OrderStatus1 of setDefaultStatus()">{{OrderStatus1}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col>
            <div class="ordered">
              <div class="ordered-date">
                <ion-datetime placeholder="Ordered On" displayFormat="DD/MM/YYYY" id="orderDate" [(ngModel)]="OrderDate"
                  required name="orderDate"></ion-datetime>
              </div>
              <div class="ordered-icon">
                <ion-icon class="icons" name="calendar">
                </ion-icon>
              </div>
            </div>
          </ion-col>
          <ion-col>
            <div class="ordered">
              <div class="ordered-date">
                <ion-datetime placeholder="Delivery On" displayFormat="DD/MM/YYYY" id="expectedDelivery" [(ngModel)]="ExpectedDelivery"
                  required name="expectedDelivery"></ion-datetime>
              </div>
              <div class="ordered-icon">
                <ion-icon class="icons" name="calendar">
                </ion-icon>
              </div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-item>
            <ion-col width-50 text-center  col-4>
              <button class="save-btn" [disabled]="f.invalid" ion-button full type="submit">Save</button>
            </ion-col>
          </ion-item>
        </ion-row>
      </div>
    </ion-grid>
  </form>
</ion-content>

<!-- Non web View -->
<ion-content *ngIf="!isWeb" padding>
  <form #f="ngForm" (ngSubmit)="newOrder(f)">
    <div>
      <ion-grid>
        <div class="form-container">
          <h1><span>New Order</span></h1>
          <ion-row>
            <ion-item no-lines >
              <ion-label floating>Product Name</ion-label>
              <ion-input type="text" id="productName" ngModel #productName="ngModel" [(ngModel)]="ProductName" [readonly]="orderId == '' || OrderId == null ? false : true "
                class="form-input" name="productName" required minlength="3" maxlength="50">
              </ion-input>
            </ion-item>
            <ion-item no-lines>
              <div class="help-block" *ngIf="productName.touched && !productName.valid">
                <div *ngIf="productName.errors.required">Product Name is required.</div>
                <div *ngIf="productName.errors.minlength">Product Name should be minimum {{
                productName.errors.minlength.requiredLength}} characters.</div>
              </div>
            </ion-item>
            <ion-input hidden type="text" id="orderId" ngModel #orderId="ngModel" [(ngModel)]="OrderId" class="form-input"
              name="orderId">
            </ion-input>
            <ion-input hidden type="text" id="productId" ngModel #productId="ngModel" [(ngModel)]="ProductId" class="form-input"
              name="productId">
            </ion-input>
            <ion-input hidden type="text" id="businessId" ngModel #businessId="ngModel" [(ngModel)]="BusinessId" class="form-input"
              name="businessId">
            </ion-input>
            <ion-input hidden type="text" id="custId" ngModel #custId="ngModel" [(ngModel)]="CustomerId" class="form-input"
              name="custId">
            </ion-input>
            <ion-item no-lines>
              <ion-label floating>Description</ion-label>
              <ion-input type="text" id="productDesc" ngModel #productDesc="ngModel" [readonly]="orderId == '' || OrderId == null ? false : true "
              [(ngModel)]="ProductDesc" class="form-input" name="productDesc" minlength="3" maxlength="50"></ion-input>
            </ion-item>
            <ion-item no-lines>
              <div class="help-block" *ngIf="productDesc.touched && !productDesc.valid">
                <div *ngIf="productDesc.errors.required">Product Description is required.</div>
                <div *ngIf="productDesc.errors.minlength">Product Description should be minimum {{
                  productDesc.errors.minlength.requiredLength }} characters.</div>
              </div>
            </ion-item>
          </ion-row>
          <ion-row>
            <ion-item no-lines>
              <ion-label floating>Quantity</ion-label>
              <ion-input type="number" id="orderQuantity" ngModel #orderQuantity="ngModel" [(ngModel)]="OrderQuantity"
                class="form-input" name="orderQuantity" required minlength="1" maxlength="5" pattern="^((?!(0))[0-9]*[0-9])$">
              </ion-input>
            </ion-item>
            <ion-item no-lines>
              <div class="help-block" *ngIf="orderQuantity.touched && !orderQuantity.valid">
                <div *ngIf="orderQuantity.errors.required">Quantity is required.</div>
                <div *ngIf="orderQuantity.errors.minlength">Quantity should be More then Zero. </div>
                <div *ngIf="orderQuantity.errors.pattern">Quantity is in invalid. </div>
              </div>
            </ion-item>
            <ion-item item-end no-lines>
              <ion-label floating>Vendor Name</ion-label>
              <ion-input type="text" id="customerName" ngModel #customerName="ngModel" [readonly]="orderId == '' || OrderId == null ? false : true "
                [(ngModel)]="CustomerName" class="form-input" name="customerName" required minlength="3" maxlength="50"></ion-input>
            </ion-item>
            <ion-item no-lines>
              <div class="help-block" *ngIf="customerName.touched && !customerName.valid">
                <div *ngIf="customerName.errors.required">Vendor Name is required.</div>
                <div *ngIf="customerName.errors.minlength">Vendor Nameshould be minimum
                  {{customerName.errors.minlength.requiredLength }} characters.</div>
              </div>
            </ion-item>
          </ion-row>
          <ion-row>
            <ion-item no-lines>
              <ion-label floating>Vendor Mobile Number</ion-label>
              <ion-input type="number" id="customerMobile" ngModel #customerMobile="ngModel" [readonly]="orderId == '' || OrderId == null ? false : true "
                [(ngModel)]="CustomerMobile" class="form-input" name="customerMobile" required minlength="10" maxlength="13"
                pattern="[-+]?([0-9]*\.[0-9]+|[0-9]+)">
              </ion-input>
            </ion-item>

            <ion-item class="help-block" no-lines>
              <div *ngIf="customerMobile.touched && !customerMobile.valid">
                <div *ngIf="customerMobile.errors.required" class="red">Mobile number is required.</div>
                <div *ngIf="customerMobile.errors.minlength" class="red">Mobile number should be 10 digits .</div>
                <div *ngIf="customerMobile.errors.maxlength" class="red">Please check mobile number.</div>
                <div *ngIf="customerMobile.errors.pattern" class="red">Mobile number invalid .</div>
              </div>
            </ion-item>

            <ion-item no-lines>
              <ion-label floating>Total Amount</ion-label>
              <ion-input type="number" id="totalAmount" ngModel #totalAmount="ngModel" [(ngModel)]="TotalAmount" class="form-input"
                 name="totalAmount" (ngModelChange)="calculatePrice($event)" required minlength="1" maxlength="50" pattern="^((?!(0))[0-9]*[0-9])$">
              </ion-input>
            </ion-item>
            <ion-item class="help-block" no-lines>
              <div *ngIf="totalAmount.touched && !totalAmount.valid">
                <div *ngIf="totalAmount.errors.required" class="red">Total Amount is required.</div>
                <div *ngIf="totalAmount.errors.pattern" class="red">Price invalid </div>
              </div>
            </ion-item>
            <ion-item no-lines>
              <ion-label floating>Amount Paid</ion-label>
              <ion-input type="number" id="amountPaid" ngModel #amountPaid="ngModel" [(ngModel)]="AmountPaid" class="form-input"
                name="amountPaid" (ngModelChange)="calculatePrice($event)" required  maxlength="50" pattern="^([0-9]*[0-9])$">
              </ion-input>
            </ion-item>
            <ion-item class="help-block" no-lines>
              <div *ngIf="amountPaid.touched">
                <div *ngIf="amountPaidExceed" class="red">Paid Amount exceed more than Total Amount!!</div>
              </div>
            </ion-item>
            <ion-item no-lines class=" pending-input">
              <ion-label>Pending Amount</ion-label>
              <ion-input type="number" id="amountPending"  ngModel #amountPending="ngModel" [(ngModel)]="AmountPending"
                class="form-input pending-input" name="amountPending" [readonly]="isReadonly">
              </ion-input>
            </ion-item>
          </ion-row>
          <ion-row>
            <ion-item no-lines>
              <ion-label floating float-left>Order Status</ion-label>
              <ion-select class="drop" interface="action-sheet" ngModel #orderStatus="ngModel" [(ngModel)]="OrderStatus1"
                id="orderStatus" name="orderStatus" (ionChange)="logChosen()">
                <ion-option *ngFor="let OrderStatus1 of setDefaultStatus()">{{OrderStatus1}}</ion-option>
              </ion-select>
            </ion-item>
            <ion-col>
              <div class="delivery">
                <div class="delivery-date">
                  <ion-datetime placeholder="Ordered On" displayFormat="DD/MM/YYYY" id="orderDate" [(ngModel)]="OrderDate"
                  required name="orderDate"></ion-datetime>
                </div>
                <div class="delivery-icon">
                  <ion-icon class="delivery-icons" name="calendar"></ion-icon>
                </div>
              </div>
            </ion-col>
            <ion-col>
              <div class="delivery">
                <div class="delivery-date">
                  <ion-datetime placeholder="Delivery On" displayFormat="DD/MM/YYYY" id="expectedDelivery" [(ngModel)]="ExpectedDelivery"
                    required name="expectedDelivery"></ion-datetime>
                </div>
                <div class="delivery-icon">
                  <ion-icon class="delivery-icons" name="calendar"></ion-icon>
                </div>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-item>
              <ion-col width-50 text-center md-4 col-4>
                <button [disabled]="f.invalid" class="save-btn" ion-button full type="submit">Save</button>
              </ion-col>
            </ion-item>
          </ion-row>
        </div>
      </ion-grid>
    </div>
  </form>
</ion-content>