pos-model {
  .body{
    height: 100%;
    width: 100%;

  }
  .pname{
    padding-right: 20px;
    color: red;
    background-color: greenyellow;
  }

  .customerSection {
    height: relative;
    width: 80%;
  }

  //   .customerInput {
  //     border: 2px;
  //     border-color: black;
  //     border-radius: 2px;
  //   }
  .ion-input {
    position: relative;
    display: block;
    // -webkit-box-flex: 1;
    // -webkit-flex: 1;
    // -ms-flex: 1;
    // color: $black;
    // flex: 1;
    // width: 0%;
    // float: left;
    background-color: red;
    border: 1px solid black !important;
    border-color: black;
  }

  /*--.totalDiv {
    padding-left: 22%;
    // background-color: red;
    // border: 1px solid black !important;
    // border-color: black;

  }*/

  .customerInput {
    height: 40px;
    border: 1px solid black !important;
    border-color: black;
    border-bottom-color: white;
    border-radius: 4px;
    padding-bottom: 4px;
    padding-top: 2px;
    margin-bottom: 2px;
  }

  .productQty {
    // padding-right: 20px;
    padding-left: -20px;
    padding-bottom: 5px;
  }

  .item-md {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 25px;
    border: 1px solid #000;
  }
  
  .pill {
    width:100%;
    border:5px solid red;
  }
  
}
