<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-navbar>
    <br>
  </ion-header>
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col col-3>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-card>
                  <ion-card-content>
                    <P>Products</P>
                    <ion-scroll style="height:50vh" scrollX="true" scrollY="true">
                      <ion-list>
                        <div *ngFor="let product of productList" class="productname">
                          <ion-item>
                            <div (click)="itemSelected(product)">
                              <div class="item-detail ">
                                <p color="darkgreen">{{product.productName}}</p>
                              </div>
                            </div>
                            <ion-buttons>
                              <button ion-button type="button" class="btn-border" color="darkgreen" ion-button
                                type="button" (click)="addProductsToSell(product)"
                                [disabled]="(product.availableQuantity==0)">
                                Add
                              </button>
                            </ion-buttons>
                          </ion-item>
                        </div>
                      </ion-list>
                    </ion-scroll>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col *ngIf="showProductDetails">
                <ion-card>
                  <ion-card-content>
                    <div class="content">
                      <div>
                        <div class="price">
                          <p>Product Name: {{singleProduct.productName }}</p>
                          <p>Selling Price: {{singleProduct.totalPrice | currency: ' &#x20A8;'}}</p>
                          <p>Available Quantity:{{singleProduct.availableQuantity}}</p>
                          <p>State GST:{{ singleProduct.sGst }}</p>
                          <p>Central GST:{{ singleProduct.cGst }}</p>
                          <p>Central GST:{{ singleProduct.barcode }}</p>
                        </div>
                      </div>
                    </div>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
        <ion-col col-9>
          <ion-card>
            <ion-card-content>
              <div class="pos">
                <ion-label> Bill No.</ion-label>
                <ion-label> {{ billNo }}</ion-label>
                <div class="pos-date">
                  <p>Date: {{formattedDate}}</p><br>
                  <p> Time: {{time}}</p>
                </div>
                <div class="pos-date">
                  <ion-label> Employee Name:Ritu</ion-label>
                </div>
              </div>
              <div class="container">
                <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
                <div class="cus-name">
                  <ion-list *ngIf="showList">
                    <ion-item *ngFor="let customer of listCustomer" (click)="selectCustomer(customer)">
                      {{ customer.customerMobile }}
                    </ion-item>
                  </ion-list>
                </div>
                <ion-item no-lines>
                  <ion-label for="customerName" class="lable" floating>Customer Name</ion-label>
                  <ion-input class="input" type="search" id="selectedCustomerName" [(ngModel)]="selectedCustomerName"
                    class="form-control" name="selectedCustomerName">
                  </ion-input>
                </ion-item>
                <ion-item no-lines>
                  <ion-label for="mobileNumber" class="lable" floating>Mobile Number</ion-label>
                  <ion-input class="input" type="text" [(ngModel)]="selectedCustomerMobileNumber"
                    id="selectedCustomerMobileNumber" class="form-control" name="selectedCustomerMobileNumber">
                  </ion-input>
                </ion-item>
                <div class="details">
                  <ion-item>
                    <ion-row>
                      <ion-col col-1>SNo</ion-col>
                      <ion-col col-2>Item Name</ion-col>
                      <ion-col col-2>Price</ion-col>
                      <ion-col col-2>HSN/SAC</ion-col>
                      <ion-col col-2 text-center>Qty</ion-col>
                      <ion-col col-1>SGst</ion-col>
                      <ion-col col-1>CGst</ion-col>
                      <ion-col col-2>Amount</ion-col>
                      <ion-col col-1>Action</ion-col>
                    </ion-row>
                  </ion-item>
                  <ion-list padding *ngFor="let product of selectedProducts ; let i = index">
                    <ion-row>
                      <ion-col col-1>
                        {{i+1}}
                      </ion-col>
                      <ion-col col-2>
                        <ion-input type="text" [value]="product.productName" id="productName"
                          [(ngModel)]="product.productName" class="form-control" name="productName">
                        </ion-input>
                      </ion-col>
                      <ion-col col-2>
                        <ion-input type="text" readonly id="price" [value]="product.singleProductPrice"
                          [(ngModel)]="product.singleProductPrice" class="form-control" name="price">
                        </ion-input>
                      </ion-col>
                      <ion-col col-2>
                        <ion-input type="text" readonly id="barcode" [value]="product.barcode"
                          [(ngModel)]="product.barcode" class="form-control" name="barcode">
                        </ion-input>
                      </ion-col>
                      <ion-col col-2>
                        <ion-row>
                          <ion-col>
                            <ion-icon style="float: left" name="remove-circle" (click)="decrementQty(i)"> </ion-icon>
                          </ion-col>
                          <ion-col>
                            <ion-input type="number" min="0" style="float: left" type="text"
                              [value]="product.selectedProductQuantity" id="productquantity"
                              [(ngModel)]="product.selectedProductQuantity" class="form-control" name="productquantity"
                              (ionChange)="calculateProductDetails(i, product.selectedProductQuantity)">
                            </ion-input>
                          </ion-col>
                          <ion-col>
                            <ion-icon style="float: left" name="add-circle" (click)="incrementQty(i)"> </ion-icon>
                          </ion-col>
                        </ion-row>
                      </ion-col>
                      <ion-col col-1>
                        <ion-input type="text" readonly [value]="product.sGst" readonly id="sgst"
                          [(ngModel)]="product.sGst" class="form-control" name="sgst">
                        </ion-input>
                      </ion-col>
                      <ion-col col-1>
                        <ion-input type="text" readonly [value]="product.cGst" id="cgst" [(ngModel)]="product.cGst"
                          class="form-control" name="cgst">
                        </ion-input>
                      </ion-col>
                      <ion-col col-2>
                        <ion-input type="number" [placeholder]="product.selectedProductQuantity < 1  ? 0 : 0 " readonly
                          value="product.singleProductTotalAmount" [value]="product.singleProductTotalAmount"
                          id="singleProductTotalAmount" [(ngModel)]="product.singleProductTotalAmount"
                          class="form-control" (ionChange)="calculateGrandTotal()" name="singleProductTotalAmount">
                        </ion-input>
                      </ion-col>
                      <ion-col col-1>
                        <button ion-button class="edit2-btn" type="button"
                          (click)="removeProductsToSell(product.productId)" icon-only>
                          <ion-icon class="itemIcon" name="close"></ion-icon>
                        </button>
                      </ion-col>
                    </ion-row>
                  </ion-list>
                </div>
                <hr>
                <div>
                  <ion-row>
                    <ion-col col-2>
                      <ion-label>Grand Total : </ion-label>
                      <ion-label>{{ grandTotal }} </ion-label>
                    </ion-col>
                    <ion-col col-2>
                      <ion-label> Paid amount : </ion-label>
                      <ion-input placeholder="0" type="text" id="amountPaid" [(ngModel)]="amountPaid" class="form-control"
                        name="amountPaid" (ionChange)="calculateAmountPaid(grandTotal, amountPaid)"
                        pattern="^([0-9]*[0-9])$" required maxlength="50">
                      </ion-input>
                    </ion-col>
                    <ion-col col-2>
                      <ion-label> Balance Amount: </ion-label>
                      <ion-input placeholder="0" readonly type="text" id="balanceAmount" [(ngModel)]="balanceAmount"
                        class="form-control" name="balanceAmount" pattern="^([0-9]*[0-9])$" required maxlength="50">
                      </ion-input>
                    </ion-col>
                  </ion-row>
                  <div>
                    <ion-row>
                      <ion-col col-2>
                        <ion-label>Total Products:</ion-label>
                        <ion-input type="text" readonly [value]="sellQuantity" id="sellQuantity"
                          [(ngModel)]="sellQuantity" class="form-control" name="sellQuantity"></ion-input>
                      </ion-col>
                      <ion-col col-2>
                        <ion-label> Total sGst: Rs.</ion-label>
                        <ion-input type="text" readonly [value]="totalsGst" id="totalsGst" [(ngModel)]="totalsGst"
                          class="form-control" name="totalsGst"></ion-input>
                      </ion-col>
                      <ion-col col-2>
                        <ion-label> Total cGst: Rs. </ion-label>
                        <ion-input type="text" readonly [value]="totalcGst" id="totalcGst" [(ngModel)]="totalcGst"
                          class="form-control" name="totalcGst">
                        </ion-input>
                      </ion-col>
                    </ion-row>
                  </div>
                </div>
              </div>
            </ion-card-content>
            <button ion-button type="button" (click)="SaveCart()">Save</button>
            <!-- <button ion-button (click)="itemDetailPosModal(i);">Open modal </button><br> -->
            <button ion-button (click)="printInvoice()">Print </button><br>
            <button  ion-button type="button"  slot="end" (click)="openCalculator()">
              <ion-icon  slot="icon-only" name="calculator"></ion-icon>
            </button>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>