<ion-header>
  <ion-toolbar>
    <ion-title>
     Sign Up
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="container">
    <!-- <h1>Register</h1> -->
    <p>Please fill in this form to create an account.</p>
    <hr>
    <!-- <label for="username"><b>User Name</b></label>
    <input type="text" [(ngModel)]="userName" placeholder="User Name" name="username" required autocomplete="off"> -->

    <label for="email"><b>Email</b></label>
    <input type="text" [(ngModel)]="userEmail" placeholder="Enter Email" name="email" required>
    
    <label for="phoneNumbr"><b>Mobile Number</b></label>
    <ion-input class="form-input" type="text" [(ngModel)]="phoneNumber" name="phoneNumbr" id="phoneNumber" placeholder="Phone Number">
    </ion-input>

    <label for="psw"><b>Password</b></label>
    <input type="password" [(ngModel)]="password" placeholder="Enter Password" name="psw" required>


    <!-- <label for="city"><b>City</b></label>
    <ion-input class="form-input" type="text" [(ngModel)]="city" name="city" id="city" placeholder="City">
    </ion-input> -->

    <!-- <label for="pincode"><b>Pincode</b></label>
    <ion-input class="form-input" type="text" [(ngModel)]="pincode" name="pincode" id="pincode" placeholder="Pincode">
    </ion-input> -->
    
    <div class="btn-box">
      <ion-list radio-group [(ngModel)]="userPlan" (ionChange)="selectUserPlan()">
        <ion-list-header>
          Please select a plan..
        </ion-list-header>
        <ion-item style="float: left">
          <ion-label>TTB Basic</ion-label>
          <ion-radio value="1"></ion-radio>
        </ion-item>
        <ion-item style="float: left">
          <ion-label>TTB Pro</ion-label>
          <ion-radio value="2"></ion-radio>
        </ion-item>
        <ion-item style="float: left">
          <ion-label>TTB Enterprise</ion-label>
          <ion-radio value="3"></ion-radio>
        </ion-item>
      </ion-list>
    </div>
    <hr>
    <p>By creating an account you agree to our Terms & Privacy.</p>
    <button type="submit" class="registerbtn" (click)="userSignup()">Register</button>
  </div>
  <div class="container signin">
    <p (click)="openLoginPage()">Already have an account ?? Sign in.</p>
  </div>

</ion-content>
