app-signup {
  body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
  }

  * {
    box-sizing: border-box;
  }

  /* Add padding to containers */
  .container {
    padding: 0;
    background-color: white;
    width: 50%;
  }

  /* Full-width input fields */
  input[type=text],
  input[type=password] {
    width: 100%;
    padding: 5px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

  input[type=text]:focus,
  input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 15px;
  }

  /* Set a style for the submit button */
  .registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }

  .registerbtn:hover {
    opacity: 1;
  }

  .reg1 {

    background-color: rgb(166, 190, 75);
    color: white;
    text-align: center;
    padding: 8px 15px;
    border: 1px solid black;
    cursor: pointer;
    width: 100px;
    margin: 0px 0px 0px 20px;

    float: left;
    opacity: 0.9;
    position: absolute;

  }

  .reg2 {
    text-align: center;
    background-color: rgb(166, 190, 75);
    color: white;
    padding: 8px 15px;
    border: 1px solid black;
    cursor: pointer;
    width: 100px;
    margin: 0px 0px 0px 20px;
    opacity: 0.9;
    position: absolute;
  }

  .reg3 {
    background-color: rgb(166, 190, 75);
    color: white;
    text-align: center;
    padding: 8px 0px;
    margin: 0px 0px 0px 20px;
    border: 1px solid black;
    cursor: pointer;
    width: 100px;
    opacity: 0.9;
    position: absolute;
  }

  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }

  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }

  /*--box--*/
  .btn-box {
    padding: 0;
    margin: auto;
    // background-color: white;
    width: 30%;
  }

  .submit-btn {
    width: 120px;
    color: #000;
    background-color: rgb(166, 190, 75);
    padding: 8px;
    margin: 5px 0px 5px 9px;
  }
}
