<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-navbar>
  </ion-header>
<ion-content class="body" *ngIf="isWeb">
  <!-- search box -->
  <!-- <ion-grid>
    <ion-row>
      <ion-col col-11>
        <ion-searchbar showCancelButton="true" (ionInput)="getorderItems($event)" (ionCancel)="isSearchbarisOpened=false"></ion-searchbar>
      </ion-col>
      <ion-col col-1 class="filter-icon-col">
        <img class="filter" src="./assets/icon/filter-icon.png" (click)="openfilter()" />
      </ion-col>
    </ion-row>
  </ion-grid> -->
  <div class="branches-body">
  <ion-grid class="grid-1">
    <h1>Order</h1>
    <ion-row>
      <ion-col col-12>
        <div class="btn-demo">
          <ion-col>
            <button [disabled]="!selectedOrdersCount == 0" text-capitalize ion-button (click)="AddNewOrder()" class="add-btn">
              <p text-capitalize> Add New Order </p>
            </button>
          </ion-col>
          <ion-col>
            <button [disabled]="!selectedOrdersCount >= 1 " text-capitalize ion-button (click)="deleteMultipleOrders()" class="dlt-btn">
                <p text-capitalize> Delete Order </p>
            </button>
          </ion-col>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="grid-2">
    <ion-row>
      <ion-col col-12>
        <ion-list >
          <ion-item class="table">
            <ion-checkbox [(ngModel)]="IsAllChecked" name="isChecked" id="checkedId" class="details" (change)="CheckUncheckAll(IsAllChecked)" (click)="CheckUncheckAll(IsAllChecked)"></ion-checkbox>
            <ion-label>Product <br>   Name</ion-label>
            <ion-label>Qty</ion-label>
            <ion-label>Description </ion-label>
            <ion-label>Vender <br>  Name</ion-label>
            <ion-label>Vender <br>  Mobile</ion-label>
            <ion-label>Ordered <br>  On</ion-label>
            <ion-label>Delivery <br> On</ion-label>
            <ion-label>Paid</ion-label>
            <ion-label>Balance</ion-label>
            <ion-label>Status</ion-label>
            <ion-label>&nbsp;</ion-label>
          </ion-item>
          <ion-item *ngFor="let order of orderSummary" class="listItem branch-details details">
            <ion-checkbox id="{{order.orderId}}" type="checkbox" name="check" [(ngModel)]="order.selected" (click)="CheckUncheckHeader(order.selected, order.orderId)"></ion-checkbox>
            <ion-label>{{order.orderProducts[0].productName }}</ion-label>
            <ion-label>{{order.orderProducts[0].availableQuantity}}</ion-label>
            <ion-label>{{order.orderProducts[0].productDesc}}</ion-label>
            <ion-label>{{order.customer.customerName }}</ion-label>
            <ion-label>{{order.customer.customerMobile  }}</ion-label>
            <ion-label>{{order.orderDate}}</ion-label>
            <ion-label>{{order.expectedDelivery}}</ion-label>
            <ion-label>{{order.amountPaid | currency: ' &#x20A8;'}}</ion-label>
            <ion-label>{{order.amountPending | currency: ' &#x20A8;'}}</ion-label>
            <ion-label>{{order.orderStatus}}</ion-label>
            <ion-label>
              <button ion-button class="edit2-btn" type="button" (click)="editOrder(order.orderId)" icon-only>
                <ion-icon class="itemIcon" name='create'></ion-icon>
              </button>
              <button ion-button class="dlt2-btn" type="button" (click)="deleteOrder(order.orderId)" icon-only>
                <ion-icon class="itemIcon" name='trash'></ion-icon>
              </button>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- 
  <ion-list>
    <div class="order-box">
      <div class="productname" *ngFor="let order of orderSummary;">
        <ion-item>
          <div (click)="itemSelected(order)">
            <div class="item-detail">
              <p color="darkgreen" class="text">{{order.productName}}</p>
            </div>
            <div class="item-quntity">
              <p class="text1"> Qty|{{order.orderQuantity}}</p>
            </div>
          </div>
          <div *ngIf="order.showDetails" class="productnum">
            <div>
              <p class="produt-head-text">{{order.productDesc}}</p>
            </div>
            <br>
            <div class="produt-price">
              <p class="produt-text">Vendor Name:{{order.customerName}}</p>
              <p class="produt-text">Ordered On: {{order.orderDate}}</p>
              <p class="produt-text">Delivery On: {{order.expectedDelivery}}</p>
              <p class="produt-text">Paid: {{order.amountPaid | currency: ' &#x20A8;'}}</p>
              <p class="produt-text">Balance: {{order.amountPending | currency: ' &#x20A8;'}}</p>

              <button class="delete-btn produt-text-icon" ion-button ion-right type="button" (click)="deleteOrder(order.orderId)">
                <ion-icon name="trash" class="icon-color"></ion-icon>
              </button>
              <button class="edit-btn produt-text-icon" ion-button ion-right type="button" (click)="editOrder(order.orderId)">
                <ion-icon name="create" class="icon-color"></ion-icon>
              </button>
            </div>
          </div>
        </ion-item>
      </div>
    </div>
  </ion-list> -->
  <!-- <ion-fab right bottom margin-right="20px;">
    <ion-icon ion-fab class="iconImg" ios="ios-add" md="md-add" (click)="AddNewOrder()"></ion-icon>
  </ion-fab> -->
</div>
</ion-content>