$icon:#ccc;
$black:#232323;
$search:#787878;
$number:#F37C86;
$btn:#294583;
$notification:#777777;
$bg:#ebeef4;
$search-inner:#F8FBFF;
$white:#ffffff;
$right-border:#EAEEF2;
$branches:#5B6BB2;
$products:#EA564B;
$order:#3EB6F0;
$sales:#0FAA7E;
$bg-white:#fff;
$bg-grey:#cccccc;
$white:#ffffff;
$dark:#000000;
$hover:#0066ff;
$icon:#333333;
$number-color:#F37C86;
$view-color:#03C38A;
$button-bg: rgba(243, 124, 134, 1);
$select-color:#e5e9ec;
$darker:#DFDEDC;
$text-color:#666;
