$font-size-msm:14px;
$font-size-sm:16px;
$font-size-md:18px;
$font-size-lg:20px;
$font-size-x:26px;
$font-size-xx:33px;
$font-size-xxx:40px;
$font-weight-sm:300;
$font-weight-md:400;
$font-weight-lg:600;
$Barlow :   "Barlow", sans-serif;


