dashboard-view {
  @import url('https://fonts.googleapis.com/css?family=Barlow:300,400,500,600,700');
  @import'color';
  @import'typograpy';

  .col {
    padding: 0px;
    margin-top: 8px;
    width: 100%;
  }
  
  .fixed-content {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background-color: $bg;
    display: block;
  }
  .item-block {
    overflow: hidden;
    align-items: center;
    width: 100%;
    min-height:3.5425rem; 
    border: 0;
    color: inherit;
  }

  .filter-icon-col {
    margin-left: 0px;
  }

  .chart {
    display: block;
  }

  canvas {
    height: 200px;
  }

  .scroll-content {
    padding: 0 !important;
  }

  .icons {
    padding: 14px;
    background-color: #ccc;
    border-radius: 40px;
    margin-left: 5px;
    margin-right: 10px;
  }

  .branch-dropDown{
    width: 20%;
    float: left;
    margin-top:16px;

      p {
        margin: 5px;
        font-size: 1.75rem;
        font-weight: $font-weight-md;
      }

      .title {
        width: 100px;
        padding: 6px;
        background-color: $white;
        border: none;
        margin-right: 15px;
        font-size: 1.125rem;
        border-radius: 20px;
      }
}


  .sub-header {
      width: 100%;
      float: left;
      margin-top:20px;

        p {
          margin: 5px;
          font-size: 1.75rem;
          font-weight: $font-weight-md;
        }
        

        .select {
          width: 160px;
          padding: 6px;
          background-color: $white;
          border:1px solid $right-border;
          margin-right: 9px;
          font-size:$font-size-msm;
          border-radius:4px;
        }
  }

  .form-input{
    font-family: 'Barlow', sans-serif;
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
    margin-top:20px;
    display: block;
    width: 90%;
    height: 40px;
    border:none;
    border:1px solid $body-bg;
    border-radius: $br;
    background: transparent;
    padding: 0 5px;
    &:focus {
          outline:0;
          border-color:$main;
    }
  }


  .card-md {
    margin: 5px;
    border-radius: 2px;
    width: calc(100% - 10px);
    font-size: 1.4rem;
    height: auto;
    background:$white;
    -webkit-box-shadow: none;
    box-shadow: none;

  }  
  /*--branches--*/
  .card-branches {
    width: 100%;
    float: left;
    background-color: $branches;

      .branches-icon {
        width: 33%;
        margin-top: 1rem;
        float: left;
        height: 100px;

        .icon {
          background: #20c997;
          float: left;
          color:$white;
          height: 65px;
          width: 65px;
          text-align: center;
          font-size: 30px;
          line-height: 65px;
          margin-right: 20px;
          margin-top: 1.5rem;
          background: rgba(0, 0, 0, .2);
          border-radius: 100%;
        }
      }
  }
      .box-content {
        width: 67%;
        float: left;

        p {
          margin-top: 0px;
          font-size: 1.5625rem;
          font-weight:300;
          float: left;
          color: $white;
        }

      }

      .count {
        width: 67%;
        float: left;

        p {
          font-size: 1.625rem;
          font-weight: 300;
          color: $white;
          padding-top: 12px;
          padding-left: 5px;
        }
        .view-btn,
        .sales-btn {
          width: 70px;
          float: left;
          border: 0px;
          margin-left: 10px;
          font-size:1.5rem;
          font-weight:300;
          color: $white;

          &:hover {
            background: none;
          }
        }
        .sales-btn{
          margin-bottom:45px;
        }
      }


      .card-btn {
        width: 67%;
        float: left;

        .add-btn, 
        .new-btn {
          width: 110px;
          float: left;
          border: 1px solid $white;
          border-radius: 4px;
          background: none;
          font-size:1.5rem;
          font-weight:300;
          margin-left: 5px;
          color: $white;
          webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px -0px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px -0px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
          &:hover {
            background: rgba(0, 0, 0, .2);
            
          }
        }
        .button-md {
          border-radius: 2px;
          overflow: hidden;
          height: 2.75rem;
          font-size: 1.4rem;
          font-weight: 500;
          text-transform: uppercase;
          
        }
        
        .btn-outline-primary {
          color: white;
          border-color: white;
      }
        .new-btn {
          
          &:hover {
            background: rgba(0, 0, 0, .2);
          }
        }
      }


    

    /*--products--*/
    .card-products {
      width: 100%;
      float: left;
      background-color: $products;

      .products-icon {
        width: 33%;
        margin-top: 1rem;
        float: left;
        height: 100px;

        .icon {
          background: #20c997;
          float: left;
          color: #fff;
          height: 65px;
          width: 65px;
          text-align: center;
          font-size: 30px;
          line-height: 65px;
          margin-right: 20px;
          margin-top: 1.5rem;
          background: rgba(0, 0, 0, .2);
          border-radius: 100%;
        }
      }
    }
      
    /*--order--*/
    .card-order {
      width: 100%;
      float: left;
      background-color: $order;

      .order-icon {
        width: 33%;
        margin-top: 1rem;
        float: left;
        height: 100px;

        .icon {
          background: #20c997;
          float: left;
          color: #fff;
          height: 65px;
          width: 65px;
          text-align: center;
          font-size: 30px;
          line-height: 65px;
          margin-right: 20px;
          margin-top: 1.5rem;
          background: rgba(0, 0, 0, .2);
          border-radius: 100%;
        }
      }
    }

   

    /*--sales--*/
    .card-sales {
      width: 100%;
      float: left;
      background-color: $sales;

      .sales-icon {
        width: 33%;
        margin-top: 1rem;
        float: left;
        height: 100px;

        .icon {
          float: left;
          color:$white;
          height: 65px;
          width: 65px;
          text-align: center;
          font-size: 30px;
          line-height: 65px;
          margin-right: 20px;
          margin-top: 1.5rem;
          background: rgba(0, 0, 0, .2);
          border-radius: 100%;
        }
      }
    }
  /*---chart---*/
  .card-header-md {
    font-size: 1.6rem;
    color:$black;
    padding: 0px;
  }
  .card-header-md + .card-content-md,
.card-md .item + .card-content-md {
  padding-top: 15px;
}

  .chart-card {
    border: none;
    box-shadow: 0 1px 3px 0px rgba(115, 108, 203, 0.23);

    .select-header{
      width:100%;
      float: left;
      border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
    }
    .select {
      width: 180px;
      padding: 0px;
      background-color: $white;
      border: 1px solid #f2f2f2;
      border-radius: 50px;
      margin: 1rem;
      font-size:16px;
      background-color:  !important;
    }
  }

  /*--product table--*/
  .product-card {
    background-color: $white;
    color: $black;
    border: none;
    box-shadow: 0 1px 3px 0px rgba(115, 108, 203, 0.23);
  }
  .product-details{
    width:100%;
    float: left;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
    p{
      margin-bottom: 0;
    color:$black;
    font-size: 18px;
    font-weight: 500;
    padding-top: 3px;
    padding-bottom:8px;
    }
  }
  .no-sales{
    width:100%;
    float: left;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
    p{
      margin-bottom: 0;
    color:$black;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    padding-top: 3px;
    padding-bottom:8px;
    }
  }
  .item-details{
    width:100%;
    float: left;
    border-bottom: 1px solid $select-color;
    p{
      color:$text-color;
      font-size: 16px;
    font-weight: 400;
    text-align: center;
    }
    .icon{
    float:left;
    margin: 0 0 0 10px;
    color:$text-color;
    font-size: 15px;
    padding-top: 5px;
    text-align: center;
    height: 27px;
    width: 15px;
    line-height: 15px;
    }
  }

  .product-details-mobile{
    width:100%;
    float: left;
    p{
      font-size:20px;
    }
  }
  .no-sales-mobile{
    width:100%;
    float: left;
    p{
      font-size:20px;
    }
  }
}


 

