<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="isWeb" padding>
  <div class="sub-header">
    <ion-title >Dashboard</ion-title>
    <select float-right class="select" id="date_filter" (change)="getallfilter($event.target.value)">
      <option class="option" value="7">This Week </option>
      <option class="option" value="30">This Month</option>
      <option class="option" value="365">This Year</option>
    </select>

    <select float-right class="select" id="branchName" (change)="branchSelect($event.target.value)">
      <option class="option">Select Branch</option>
      <option class="option" *ngFor="let branch of branchesList ; let i = index" [value]="branch.branchId">{{branch.branchName}}</option>
    </select>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col col-3 *ngIf="selectedBranch">
        <ion-card>
          <ion-card-content class="card-branches">
            <div class="branches-icon">
              <ion-icon ios="ios-folder" md="md-folder"></ion-icon>
            </div>
            <div class="box-content">
              <p>Business</p>
            </div>
            <div class="count">
              <p> {{numberOfBusiness}} </p>
            </div>
            <div class="card-btn">
              <button class="add-btn btn-outline-primary" ion-button color="danger" round (click)="gotoBusiness()">Add</button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-3 *ngIf="dataStore.selectedBranch == undefined">
        <ion-card>
          <ion-card-content class="card-branches">
            <div class="branches-icon">
              <ion-icon ios="ios-folder" md="md-folder"></ion-icon>
            </div>
            <div class="box-content">
              <p>Branches</p>
            </div>
            <div class="count">
              <p> {{numberOfBranches}} </p>
              <button class="view-btn" ion-button outline (click)="viewBranches()"> View All</button>
            </div>
            <div class="card-btn">
              <button class="add-btn btn-outline-primary" ion-button color="danger" round (click)="gotoBranches()">Add</button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-3>
        <ion-card (click)="viewProducts()">
          <ion-card-content class="card-products">
            <div class="products-icon">
              <ion-icon ios="ios-apps" md="md-apps"></ion-icon>
            </div>
            <div class="box-content">
              <p>Products</p>
            </div>
            <div class="count">
              <p>{{numberOfProduts}}</p>
              <button class="view-btn" ion-button outline (click)="viewProducts()">View All</button>
            </div>
            <div class="card-btn">
              <button class="add-btn" ion-button color="danger" round (click)="gotoProduct()">Add</button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-3>
        <ion-card>
          <ion-card-content class="card-order">
            <div class="order-icon">
              <ion-icon ios="ios-document" md="md-document"></ion-icon>
            </div>
            <div class="box-content">
              <p>Employees</p>
            </div>
            <div class="count">
              <p>{{numberOfEmployees}}</p>
              <button class="view-btn" ion-button outline (click)="viewEmployees()">View All</button>
            </div>
            <div class="card-btn">
              <button class="add-btn" ion-button color="danger" round (click)="gotoEmployee()">Add</button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-3 *ngIf="!selectedBranch">
        <ion-card>
          <ion-card-content class="card-sales">
            <div class="sales-icon">
              <ion-icon ios="ios-analytics" md="md-analytics"></ion-icon>
            </div>
            <div class="box-content">
              <p>Sales</p>
            </div>
            <div class="count">
              <p>{{numberOfSales}}</p>
              <button class="sales-btn" ion-button outline (click)="viewSales()"> View All</button>
            </div>
            <div class="card-btn">

              <!-- <button class="add-btn" ion-button color="danger" round (click)="gotoOrders()">Add</button> -->
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col col-8>
        <ion-card class="chart-card">
          <ion-card-header>
            <div class="select-header">
              <!-- <p>Sales OverView</p> -->
              <select float-left class="select">
                <!-- <option class="option" value="This Week">This Week </option>
                       <option class="option" value="This Month">This Month</option> -->
                <option class="option" value="Last 6 Months" selected>Sales Overview</option>
                <!-- <option class="option" value="This Year">This Year</option> -->
              </select>
            </div>
          </ion-card-header>
          <ion-card-content>
            <section>
              <chart [options]="chartOptions" type="chart">
              </chart>
            </section>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-4>
        <ion-card class="product-card">
          <ion-card-header>
            <ion-row>
              <ion-col col-7>
                <div class="product-details">
                  <p>Products</p>
                </div>
              </ion-col>
              <ion-col col-5>
                <!-- <div class="no-sales"><p>No. of Sales</p></div> -->
                <div class="no-sales">
                  <p>Quantity</p>
                </div>
              </ion-col>
            </ion-row>
          </ion-card-header>
          <ion-row>
            <ion-col col-7>
              <div>
                <ion-scroll class="scroll-content" style="height:64vh;" scrollX="true" scrollY="true">
                  <ion-list>
                    <ion-item *ngFor="let product of productsData">
                      <div class="item-details">
                        <p>{{product.productName}}</p>
                      </div>
                    </ion-item>
                  </ion-list>
                </ion-scroll>
              </div>
            </ion-col>
            <ion-col col-3>
              <ion-scroll class="scroll-content" style="height:64vh;" scrollX="true" scrollY="true">
                <ion-list>
                  <ion-item *ngFor="let product of productsData">
                    <!-- <div class="item-details"><p>Item 1</p></div> -->
                    <div class="item-details">
                      <p>{{product.availableQuantity}}</p>
                    </div>
                  </ion-item>
                </ion-list>
              </ion-scroll>
            </ion-col>
            <ion-col col-2>
              <ion-scroll class="scroll-content-md" style="height:64vh;" scrollX="true" scrollY="true">
                <ion-list>
                  <ion-item *ngFor="let product of productsData">
                    <div class="item-details">
                      <ion-icon name="arrow-round-up"></ion-icon>
                    </div>
                  </ion-item>
                </ion-list>
              </ion-scroll>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


<!--Non Web-->
<ion-content *ngIf="!isWeb" padding>
  <div class="sub-header">
    <P>DashBoard</P>
    <select float-right class="select" id="date_filter" (change)="getallfilter($event.target.value)">
      <option class="option" value="7">This Week </option>
      <option class="option" value="30">This Month</option>
      <option class="option" value="365">This Year</option>
    </select>
  </div>
  <ion-grid>
    <ion-col col-12>
      <ion-card>
        <ion-card-content class="card-branches">
          <div class="branches-icon">
            <ion-icon ios="ios-folder" md="md-folder"></ion-icon>
          </div>
          <div class="box-content">
            <p>Branches</p>
          </div>
          <div class="count">
            <p> {{numberOfBranches}} </p>
            <button class="view-btn" ion-button outline (click)="viewBranches()">View All</button>
          </div>
          <div class="card-btn">

            <button class="add-btn" ion-button color="danger" round (click)="gotoBranches()">Add</button>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>


    <ion-col col-12>
      <ion-card (click)="viewProducts()">
        <ion-card-content class="card-products">
          <div class="products-icon">
            <ion-icon ios="ios-apps" md="md-apps"></ion-icon>
          </div>
          <div class="box-content">
            <p>Products</p>
          </div>
          <div class="count">
            <p>{{numberOfProduts}}</p>
            <button class="view-btn" ion-button outline (click)="viewProducts()">View All</button>
          </div>
          <div class="card-btn">

            <button class="add-btn" ion-button color="danger" round (click)="gotoOrders()">Add</button>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>


    <ion-col col-12>
      <ion-card>
        <ion-card-content class="card-order">
          <div class="order-icon">
            <ion-icon ios="ios-document" md="md-document"></ion-icon>
          </div>
          <div class="box-content">
            <p>Orders</p>
          </div>
          <div class="count">
            <p>{{numberOfOrders}}</p>
            <button class="view-btn" ion-button outline (click)="viewOrders()"> View All</button>
          </div>
          <div class="card-btn">

            <button class="new-btn" ion-button color="danger" round (click)="gotoOrders()">New Order</button>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col col-12>
      <ion-card>
        <ion-card-content class="card-sales">
          <div class="sales-icon">
            <ion-icon ios="ios-analytics" md="md-analytics"></ion-icon>
          </div>
          <div class="box-content">
            <p>Sales</p>
          </div>
          <div class="count">
            <p>{{numberOfSales}}</p>
            <button class="view-btn" ion-button outline (click)="viewSales()">View All</button>
          </div>
          <div class="card-btn">

          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-grid>


  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <ion-card class="chart-card">
          <ion-card-header>
            <!-- <p>Sales OverView</p> -->
            <select float-left class="select">
              <!-- <option class="option" value="This Week">This Week </option>
                  <option class="option" value="This Month">This Month</option> -->
              <option class="option" value="Last 6 Months" selected>Sales OverView</option>
              <!-- <option class="option" value="This Year">This Year</option> -->
            </select>
          </ion-card-header>
          <ion-card-content>
            <section class="chart-wrapper">
              <chart [options]="chartOptions" type="chart">
              </chart>
            </section>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col col-12>
        <ion-card class="product-card">
          <ion-card-header>
            <ion-row>
              <ion-col col-7>
                <div class="product-details-mobile">
                  <p>Products</p>
                </div>

              </ion-col>
              <ion-col col-3>
                <div class="no-sales-mobile">
                  <p>No. of Sales</p>
                </div>
              </ion-col>
            </ion-row>
          </ion-card-header>
          <ion-row>
            <ion-col col-7>
              <ion-scroll style="height:65vh" scrollX="true" scrollY="true">
                <ion-list>
                  <ion-item *ngFor="let product of productsData">
                    <div class="item-details">
                      <p>{{product.productName}}</p>
                    </div>
                  </ion-item>
                </ion-list>
              </ion-scroll>
            </ion-col>
            <ion-col col-4>
              <ion-scroll style="height:65vh" scrollX="true" scrollY="true">
                <ion-list>
                  <ion-item *ngFor="let product of productsData">
                    <div class="item-details">
                      <p>Item 1</p>
                    </div>
                  </ion-item>
                </ion-list>
              </ion-scroll>
            </ion-col>
            <ion-col col-1>
              <ion-scroll style="height:65vh" scrollX="true" scrollY="true">
                <ion-list>
                  <ion-item *ngFor="let product of productsData">
                    <div class="item-details">
                      <ion-icon name="arrow-round-up"></ion-icon>
                    </div>
                  </ion-item>
                </ion-list>
              </ion-scroll>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>