app-reports {
    body{
        margin: 0px;
        padding:0px;
        font-size: 20px;
    }
    .label{
    font-size: 20px;
    padding:10px;
    float: left;
    }

    .form-group {
        float: left;
        padding: 10px 0px 10px 0px;
        width:33%;
        margin-top:10px;
    }
    
    .form-box{
        width:67%;
        padding: 11px 0px 11px 0px;
        float: left;
        margin-top:10px;
    }
    .form-date {
        float: left;
        padding: 10px 0px 10px 0px;
        width:20%;
        margin-top:10px;
    }
    .date-box{
        width:80%;
        padding: 11px 0px 11px 0px;
        float: left;
        margin-top:10px;
    }
    .col-form-label {
        padding-top: calc(.375rem + 1px);
        padding-bottom: calc(.375rem + 1px);
        margin-bottom: 0;
        padding-right: 10px;
        font-size: inherit;
        line-height: 1.5;
    }
    .form-control {
        display: block;
        width: 100%;
        height:30px;
        padding: .0rem .75rem;
        font-size: 1.5rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    .datetime-md {
        padding: 8px 8px 13px 3px;
      }
      .btn-group{
        padding: 10px 0px 10px 0px;
        width:100%;
        margin-top:10px;
    }
    .Generate-btn{
        background-color: #54cc96;
    border: 1px solid #54cc96;
    padding: 0px 30px 0px 30px;
    float:right;
    }
    .Reset-btn{
        background-color: #fd6e77;
    border: 1px solid #fd6e77;
    padding: 0px 30px 0px 30px;
    float:right;
      }
    .report{
        margin-top:5px; 
        border-bottom:1px solid #000;
    }
    .report1{
        // margin-top:10px;
        border-bottom:1px solid #000;
    }
    .Download-btn{
        margin:0px;
        // padding-right: 30px;
        background-color: #1284e0a4;
        border: 1px solid #cbfd6e;
        padding: 0px 30px 0px 30px;
        float:right;
      }
      .repo{
        
          float: left;
          padding:30px;
          margin:0px;
          font-weight:bold;
          font-size:15px;
      }
      #datep{
          float:left;
          padding:5px;
          margin:1px;

      }
      
}