<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <h1>Reports for TTB Enterprise</h1>

    <br><br>

    <ion-grid>
        <ion-row padding>
            <ion-col>
                <ion-row>
                    <ion-col col-4>
                        <!-- <ion-item> -->
                        <div class="form-group">
                            <ion-label class="col-form-label">Report Type:</ion-label>
                        </div>
                        <div class="form-box">
                            <select float-right class="form-control" [(ngModel)]="filterreportwise"
                                (ionChange)="addfilter(filterreportwise);">
                                <option class="option" disabled>Select Report Type</option>
                                <option value="orders">Orders</option>
                                <option value="sales">Sales</option>
                            </select>
                        </div>
                        <!-- </ion-item> -->
                    </ion-col>
                    <ion-col col-4>
                        <div class="form-date">
                            <ion-label class="col-form-label">From:</ion-label>
                        </div>
                        <div class="date-box">
                            <ion-datetime class="form-control" displayFormat="YYYY-MM-DD" [(ngModel)]="fromDate"
                                (ionChange)="loadResults()"></ion-datetime>
                        </div>
                    </ion-col>
                    <ion-col col-4>
                        <div class="form-date">
                            <ion-label class="col-form-label">To:</ion-label>
                        </div>
                        <div class="date-box">
                            <ion-datetime class="form-control" displayFormat="YYYY-MM-DD" [(ngModel)]="toDate"
                                (ionChange)="loadResults()"></ion-datetime>
                        </div>

                        <p class="text-md-danger" *ngIf="!invalidSelection">Invalid Date Selection</p>
                    </ion-col>
                </ion-row>
                <!--------------row 1 ends--------------->
                <ion-row>
                    <ion-col col-3>
                        <div class="form-group">
                            <ion-label class="col-form-label">Business:</ion-label>
                        </div>
                        <div class="form-box">
                            <select float-right class="form-control" id="business" [(ngModel)]="selectedbuId"
                                (change)="businessSelect(selectedbuId)">
                                <option class="option" disabled>Select Business</option>
                                <option class="option" *ngFor="let business of businessList ; let i = index"
                                    [value]="business.businessId">{{business.businessName}}</option>
                            </select>
                        </div>
                    </ion-col>
                    <ion-col col-3>
                        <div class="form-group">
                            <ion-label class="col-form-label">Branch:</ion-label>
                        </div>
                        <div class="form-box">
                            <select float-right [disabled]="filterreportwise === 'orders' ? true : false" class="form-control" id="branchName" [(ngModel)]="selectedbrId"
                                (change)="branchSelect(selectedbrId)">
                                <option class="option">Select Branch</option>
                                <option class="option" *ngFor="let branch of branchesList ; let i = index"
                                    [value]="branch.branchId">{{branch.branchName}}</option>
                            </select>
                        </div>
                    </ion-col>
                    <ion-col col-3>
                        <div class="form-group">
                            <ion-label class="col-form-label">Employee:</ion-label>
                        </div>
                        <div class="form-box">
                            <select float-right class="form-control" id="empId" [(ngModel)]="selectedEmpId"
                                (change)="employeeSelect(selectedEmpId)">
                                <option class="option">Select Employee</option>
                                <option class="option" *ngFor="let employee of employeesList ; let i = index"
                                    [value]="employee.empId">{{employee.firstName}}</option>
                            </select>
                        </div>
                    </ion-col>
                    <ion-col col-3>
                        <div class="form-group">
                            <ion-label class="col-form-label">Products:</ion-label>
                        </div>
                        <div class="form-box">
                            <input type="text" class="form-control" value="">
                        </div>

                    </ion-col>
                </ion-row>
                <!--------------row 2 ends--------------->

                <ion-row>
                    <ion-col col-3>
                        <div class="form-group">
                            <ion-label class="col-form-label">Customers:</ion-label>
                        </div>
                        <div class="form-box">
                            <input type="text" class="form-control" value="">
                        </div>
                    </ion-col>
                    <ion-col col-9>
                        <div class="btn-group" >
                            <button ion-button class="Generate-btn" (click)="getLists()">Generate</button>
                            <button ion-button class="Reset-btn" value="reset" (click)="reset()">Reset</button>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <br>
        <div class="report">
        </div>
        <div *ngIf="filterreportwise == 'sales'">
            <ion-grid>
                <ion-row>
                    <ion-col col-9>
                        <div class="repo">
                            Sales Report From {{fromDate}} &nbsp;to&nbsp; {{toDate}}
                        </div>
                    </ion-col>
                    <ion-col col-3>
                        <div class="btn-group">
                            <button ion-button class="Download-btn">Download</button>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <div class="report1">
            </div>
            <ion-grid>
                <ion-row header>
                    <ion-col col>Sl No</ion-col>
                    <ion-col col>Bill No</ion-col>
                    <ion-col col>Sales Date</ion-col>
                    <ion-col col>Quantity</ion-col>
                    <ion-col col>Grand Total</ion-col>
                </ion-row>
                <ion-row *ngFor="let sale of salesSummary; let i= index">
                    <ion-col col>{{i+1}}</ion-col>
                    <ion-col col>{{sale.billNo}}</ion-col>
                    <ion-col col>{{sale.salesDate}}</ion-col>
                    <ion-col col>{{sale.quantity}}</ion-col>
                    <ion-col col>{{sale.grandTotal}}</ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <div *ngIf="filterreportwise == 'orders'">
            <ion-grid>
                <ion-row>
                    <ion-col col-9>
                        <div class="repo">
                            Orders Report From {{fromDate}} &nbsp;to&nbsp; {{toDate}}
                        </div>
                    </ion-col>
                    <ion-col col-3>
                        <div class="btn-group">
                            <button ion-button class="Download-btn">Download</button>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <div class="report1">
            </div>
            <ion-grid>
                <ion-row header>
                    <ion-col col>Sl No</ion-col>
                    <ion-col col>Invoice No</ion-col>
                    <ion-col col>Orders Date</ion-col>
                    <ion-col col>Product Name</ion-col>
                    <ion-col col>Order Desc</ion-col>
                </ion-row>
                <ion-row *ngFor="let order of orderSummary; let i = index">
                    <ion-col col>{{ i+1 }}</ion-col>
                    <ion-col col></ion-col>
                    <ion-col col>{{order.orderDate}}</ion-col>
                    <ion-col col>{{order.orderProducts[0].productName}}</ion-col>
                    <ion-col col>{{order.orderProducts[0].productDesc}}</ion-col>
                </ion-row>
            </ion-grid>
            <!-- </div> -->
            <!-- </ion-grid> -->
        </div>
    </ion-grid>
</ion-content>