<ion-header padding>
  <ion-navbar>
    <ion-title>Track The Business</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form class="form">
      <img class="form-avatar" src="../../assets/imgs/ttb-logo.png" alt="logo">
      <h3>Set Password</h3>
    <ion-grid>
      <ion-row>
        <ion-col>
          <!-- <ion-label class="form-lable">Email</ion-label> -->
          <ion-input [readonly]="!email==''" class="form-input" type="email" [(ngModel)]="email" name="email"
            placeholder="Email">
          </ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <!-- <ion-label class="form-lable">Password</ion-label> -->
          <ion-input class="form-input" type="password" [(ngModel)]="password" name="password" placeholder="Password">
          </ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <!-- <ion-label class="form-lable">Confirm Password</ion-label> -->
          <ion-input class="form-input" type="password" [(ngModel)]="password2" name="password2" placeholder="Re-enter Password">
          </ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button ion-button (click)="createAccount()" class="form-button">Set Password</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>