set-password {
  @import url("https://fonts.googleapis.com/css?family=Barlow:300,400,500,600,700,800");
  $body-bg: #c1bdba;
  $form-bg: #13232f;
  $white: #ffffff;
  $yellow: #ffad33;
  $main: #1ab188;
  $main-light: lighten($main, 5%);
  $main-dark: darken($main, 5%);
  $blue: #4dd2ff;
  $gray-light: #a0b3b0;
  $gray: #ddd;

  $thin: 300;
  $normal: 400;
  $bold: 600;
  $br: 4px;

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  html {
    overflow-y: scroll;
  }

  body {
    background: $body-bg;
    font-family: 'Barlow', sans-serif;
  }

  .form {
    width: 400px;
    margin: 0px auto;
    height: auto;
    margin-top: 0px;
    overflow: hidden;
    padding: 65px 55px 33px 55px;
    background-color: rgba($white, .9);
    border-radius: $br;
    box-shadow: 0 4px 10px 4px rgba($form-bg, .3);

  }

  .form-avatar {
    display: block;
    width: 65px;
    height: 90px;
    border-radius: 0%;
    overflow: hidden;
    margin: 0 auto;
    padding: 0px 0px 0px 0px;
  }

  h3 {
    font-size: 30px;
    font-weight: $bold;
    text-align: center;
    font-family: 'Barlow', sans-serif;
  }

  .form-lable {
    font-size: 20px;
    font-weight: $normal;
  }

  .form-input {
    font-family: 'Barlow', sans-serif;
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
    margin-top: 20px;
    display: block;
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 2px solid $body-bg;
    background: transparent;
    padding: 0 5px;

    &:focus {
      outline: 0;
      border-color: $main;
    }
  }

  .form-button {

    width: 100%;
    padding: 0 30px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 30px;
    height: 50px;
    background-color: $yellow;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;

    &:hover,
    &:focus {
      background: $blue;
    }
  }

  @media screen and (max-width: 320px) {
    .form {
      width: 100%;
      margin: 0px auto;
      height: auto;
      margin-top: 0px;
      overflow: hidden;
      padding: 65px 55px 33px 55px;
      background-color: rgba($white, .9);
      border-radius: $br;
      box-shadow: 0 4px 10px 4px rgba($form-bg, .3);

    }

    h3 {
      font-size: 20px;
      font-weight: $bold;
      text-align: center;
      font-family: 'Barlow', sans-serif;
    }

    .form-input {
      font-family: 'Barlow', sans-serif;
      font-size: 15px;
      color: #555555;
      line-height: 1.2;
      margin-top: 20px;
      display: block;
      width: 100%;
      height: 40px;
      border: none;
      border-bottom: 2px solid $body-bg;
      background: transparent;
      padding: 0 5px;

      &:focus {
        outline: 0;
        border-color: $main;
      }
    }

    .form-button {

      width: 100%;
      padding: 0 30px;
      width: 100%;
      margin-top: 40px;
      margin-bottom: 30px;
      height: 50px;
      background-color: $yellow;
      border-radius: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Poppins-Medium;
      font-size: 16px;
      color: #fff;
      line-height: 1.2;
      text-transform: uppercase;

      &:hover,
      &:focus {
        background: $blue;
      }
    }

  }

  @media screen and (max-width: 480px) {
    .form {
      width: 100%;
      margin: 0px auto;
      height: auto;
      margin-top: 0px;
      overflow: hidden;
      padding: 65px 55px 33px 55px;
      background-color: rgba($white, .9);
      border-radius: $br;
      box-shadow: 0 4px 10px 4px rgba($form-bg, .3);

    }

    h3 {
      font-size: 20px;
      font-weight: $bold;
      text-align: center;
      font-family: 'Barlow', sans-serif;
    }

    .form-input {
      font-family: 'Barlow', sans-serif;
      font-size: 15px;
      color: #555555;
      line-height: 1.2;
      margin-top: 20px;
      display: block;
      width: 100%;
      height: 40px;
      border: none;
      border-bottom: 2px solid $body-bg;
      background: transparent;
      padding: 0 5px;

      &:focus {
        outline: 0;
        border-color: $main;
      }
    }

    .form-button {

      width: 100%;
      padding: 0 30px;
      width: 100%;
      margin-top: 40px;
      margin-bottom: 30px;
      height: 50px;
      background-color: $yellow;
      border-radius: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Poppins-Medium;
      font-size: 16px;
      color: #fff;
      line-height: 1.2;
      text-transform: uppercase;

      &:hover,
      &:focus {
        background: $blue;
      }
    }

  }

  @media screen and (max-width:640px) {
    .form {
      width: 400px;
      margin: 0px auto;
      height: auto;
      margin-top: 0px;
      overflow: hidden;
      padding: 65px 55px 33px 55px;
      background-color: rgba($white, .9);
      border-radius: $br;
      box-shadow: 0 4px 10px 4px rgba($form-bg, .3);

    }

    h3 {
      font-size: 20px;
      font-weight: $bold;
      text-align: center;
      font-family: 'Barlow', sans-serif;
    }

    .form-input {
      font-family: 'Barlow', sans-serif;
      font-size: 15px;
      color: #555555;
      line-height: 1.2;
      margin-top: 20px;
      display: block;
      width: 100%;
      height: 40px;
      border: none;
      border-bottom: 2px solid $body-bg;
      background: transparent;
      padding: 0 5px;

      &:focus {
        outline: 0;
        border-color: $main;
      }
    }

    .form-button {

      width: 100%;
      padding: 0 30px;
      width: 100%;
      margin-top: 40px;
      margin-bottom: 30px;
      height: 50px;
      background-color: $yellow;
      border-radius: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Poppins-Medium;
      font-size: 16px;
      color: #fff;
      line-height: 1.2;
      text-transform: uppercase;

      &:hover,
      &:focus {
        background: $blue;
      }
    }

  }

  @media screen and (max-width:768px) {
    .form {
      width: 400px;
      margin: 0px auto;
      height: auto;
      margin-top: 0px;
      overflow: hidden;
      padding: 65px 55px 33px 55px;
      background-color: rgba($white, .9);
      border-radius: $br;
      box-shadow: 0 4px 10px 4px rgba($form-bg, .3);

    }

    h3 {
      font-size: 20px;
      font-weight: $bold;
      text-align: center;
      font-family: 'Barlow', sans-serif;
    }

    .form-input {
      font-family: 'Barlow', sans-serif;
      font-size: 15px;
      color: #555555;
      line-height: 1.2;
      margin-top: 20px;
      display: block;
      width: 100%;
      height: 40px;
      border: none;
      border-bottom: 2px solid $body-bg;
      background: transparent;
      padding: 0 5px;

      &:focus {
        outline: 0;
        border-color: $main;
      }
    }

    .form-button {

      width: 100%;
      padding: 0 30px;
      width: 100%;
      margin-top: 40px;
      margin-bottom: 30px;
      height: 50px;
      background-color: $yellow;
      border-radius: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Poppins-Medium;
      font-size: 16px;
      color: #fff;
      line-height: 1.2;
      text-transform: uppercase;

      &:hover,
      &:focus {
        background: $blue;
      }
    }
  }
}
