<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Business</ion-title>
  </ion-navbar>
</ion-header>

<!-- ====== WEB VIEW ====== -->

<ion-content *ngIf="isWeb" padding>
  <form #f="ngForm" (ngSubmit)="addBusiness(f)">
    <div class="container">
      <ion-grid>
        <ion-row>
          <ion-col class="businessInputs">
            <ion-item no-lines>
              <ion-label floating for="businessName" class="lable">Business Name</ion-label>
              <ion-input class="input" type="text" id="businessName" ngModel #businessName="ngModel" [(ngModel)]="BusinessName"
                class="form-control" name="businessName" required minlength="3" maxlength="50">
              </ion-input>
            </ion-item>
            <ion-item no-lines>
              <div class="errorMsg" *ngIf="businessName.touched && !businessName.valid">
                <div *ngIf="businessName.errors.required">Business Name is required.</div>
                <div *ngIf="businessName.errors.minlength">Business Name should be minimum {{
                  businessName.errors.minlength.requiredLength }} characters.</div>
              </div>
            </ion-item>
          </ion-col>

          <ion-col class="businessInputs">
            <ion-item no-lines>
              <ion-label floating class="lable">Mobile</ion-label>
              <ion-input class="input" type="text" id="phone" ngModel #phone="ngModel" [(ngModel)]="Phone" class="form-control"
                name="phone" required minlength="10" maxlength="12" pattern="^[0-9]*[0-9]$"></ion-input>
            </ion-item>
            <ion-item no-lines>
              <div *ngIf="phone.touched && !phone.valid">
                <div class="errorMsg" *ngIf="phone.errors.required">Mobile number is required.</div>
                <div class="errorMsg" *ngIf="phone.errors.minlength || phone.errors.pattern">Mobile number invalid.</div>
              </div>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="businessInputs">
            <ion-item no-lines stacked>
              <ion-label floating>Email</ion-label>
              <ion-input  type="email" id="email"
                ngModel #email="ngModel" [(ngModel)]="Email" class="form-control" name="email" required pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"></ion-input>
            </ion-item>
            <ion-item no-lines>
              <div class="errorMsg" *ngIf="email.touched && !email.valid">
                <div *ngIf="email.errors.required">Email is required.</div>
                <div *ngIf="email.errors.pattern">Email format invalid .</div>
              </div>
            </ion-item>
          </ion-col>
          <ion-col class="businessInputs">
            <ion-item no-lines stacked>
              <ion-label floating>GST</ion-label>
              <ion-input type="text" id="gst" ngModel #gst="ngModel" [(ngModel)]="Gst"
                class="form-control" name="gst" required minlength="15" maxlength="15" pattern="[a-zA-Z0-9]*[a-zA-Z0-9]"></ion-input>
            </ion-item>
            <ion-item no-lines>
              <div class="errorMsg" *ngIf="gst.touched && !gst.valid">
                <div *ngIf="gst.errors.required">GST is required.</div>
                <div *ngIf="gst.errors.pattern || gst.errors.minlength || gst.errors.maxlength">GST format invalid .</div>
              </div>
            </ion-item>
          </ion-col>
          <ion-col class="businessInputs">
            <ion-item no-lines>
              <ion-label floating>City</ion-label>
              <ion-input type="text" id="city" ngModel #city="ngModel" [(ngModel)]="City" class="form-control" name="city"
                required minlength="3" maxlength="50" pattern="^[a-zA-Z]*[a-zA-Z]$"></ion-input>
            </ion-item>
            <ion-item no-lines>
              <div class="errorMsg" *ngIf="city.touched && !city.valid">
                <div *ngIf="city.errors.required">City is required</div>
                <div *ngIf="city.errors.minlength || city.errors.pattern">City Name is invalid.</div>
              </div>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-6 class="businessInputs">
            <ion-item no-lines>
              <ion-label floating>Pincode</ion-label>
              <ion-input type="text" id="pincode" ngModel #pincode="ngModel" [(ngModel)]="Pincode" class="form-control"
                name="pincode" required minlength="5" maxlength="7" pattern="^[0-9]*[0-9]$"></ion-input>
              <!-- <ion-input no-lines type="hidden"  [value]="userId"></ion-input> -->
              <ion-input type="text" hidden id="userId" ngModel #userId="ngModel" [(ngModel)]="userId2" class="form-control"
                name="userId"></ion-input>
            </ion-item>
            <ion-item no-lines>
              <div class="errorMsg" *ngIf="pincode.touched && !pincode.valid">
                <div *ngIf="pincode.errors.required">Pincode is required.</div>
                <div *ngIf="pincode.errors.minlength || pincode.errors.pattern">Pincode is invalid.</div>
              </div>
            </ion-item>
          </ion-col>

          <ion-col col-4>
            <ion-label class="imgLbl" style="padding-right: 10px">Image</ion-label>
            <div (click)="fileInputPicker.click();">
              <!-- <button class="imgBtn" ion-button clear type="button" class="cameraBtn">
              </button> -->
              <input type="file" hidden accept="image/png,image/jpeg" class="upload-input" #fileInputPicker (change)="onFileUpload($event.target.files);">
              <ion-input type="text" readonly class="form-control upload-input imgInput" no-lines [placeholder]="logoName == undefined || logoName == 'undefined' ? 'Add Business Logo' : logoName ">
              </ion-input>
            </div>
            <div float-right (click)="fileInputPicker.click();">
              <ion-item no-lines padding-top item-right>
                <img right src="../assets/imgs/camera.png" />
              </ion-item>
            </div>
            <div *ngIf="logoSize > 256 ">
              <p class="errorMsg">
                Logo should be less than 256 KB
              </p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-center col-4>
            <button [disabled]="f.invalid || logoSize > 256 " class="save-btn" ion-button type="submit">Save</button>
          </ion-col>
          <ion-col text-center>
            <button [hidden]="!businessId" ion-button class="save-btn" type="button" (click)="deletingBusiness()">Delete</button>
          </ion-col>
        </ion-row>

      </ion-grid>
    </div>
  </form>
</ion-content>

<!-- ====== NON-WEB VIEW ====== -->

<ion-content *ngIf="!isWeb" padding>
  <form #f="ngForm" (ngSubmit)="addBusiness(f)">
    <div>
      <ion-grid>
        <ion-row>
          <ion-col class="businessInputs">
            <ion-item no-lines>
              <ion-label floating for="businessName">Business Name</ion-label>
              <ion-input class="input" type="text" id="businessName" ngModel #businessName="ngModel" [(ngModel)]="BusinessName"
                class="form-control" name="businessName" required minlength="3" maxlength="50">
              </ion-input>
            </ion-item>
            <ion-item no-lines>
              <div class="errorMsg" *ngIf="businessName.touched && !businessName.valid">
                <div *ngIf="businessName.errors.required">Business Name is required.</div>
                <div *ngIf="businessName.errors.minlength">Business Name should be minimum {{
                  businessName.errors.minlength.requiredLength }} characters.</div>
              </div>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="businessInputs">
            <ion-item no-lines>
              <ion-label floating>Mobile</ion-label>
              <ion-input class="input" type="text" id="phone" ngModel #phone="ngModel" [(ngModel)]="Phone" class="form-control"
                name="phone" required minlength="10" maxlength="12" pattern="^[0-9]*[0-9]$"></ion-input>
            </ion-item>
            <ion-item no-lines>
              <div *ngIf="phone.touched && !phone.valid">
                <div class="errorMsg" *ngIf="phone.errors.required">Mobile number is required.</div>
                <div class="errorMsg" *ngIf="phone.errors.minlength || phone.errors.pattern">Mobile number invalid.</div>
                <!-- <div class="errorMsg" *ngIf=""></div> -->
              </div>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="businessInputs">
            <ion-item no-lines stacked>
              <ion-label floating>Email</ion-label>
              <ion-input style="caret-color: transparent;" onfocus="this.form.city.focus()" readonly type="email" id="email"
                ngModel #email="ngModel" [(ngModel)]="Email" class="form-control" name="email" required pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"></ion-input>
            </ion-item>
            <ion-item no-lines>
              <div class="errorMsg" *ngIf="email.touched && !email.valid">
                <div *ngIf="email.errors.required">Email is required.</div>
                <div *ngIf="email.errors.pattern">Email format invalid .</div>
              </div>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="businessInputs">
            <ion-item no-lines>
              <ion-label floating>City</ion-label>
              <ion-input type="text" id="city" ngModel #city="ngModel" [(ngModel)]="City" class="form-control" name="city"
                required minlength="3" maxlength="50" pattern="^[a-zA-Z]*[a-zA-Z]$"></ion-input>
            </ion-item>
            <ion-item no-lines>
              <div class="errorMsg" *ngIf="city.touched && !city.valid">
                <div *ngIf="city.errors.required">City is required</div>
                <div *ngIf="city.errors.minlength || city.errors.pattern">City name in Invalid.</div>
              </div>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-6 class="businessInputs">
            <ion-item no-lines>
              <ion-label floating>Pincode</ion-label>
              <ion-input type="text" id="pincode" ngModel #pincode="ngModel" [(ngModel)]="Pincode" class="form-control"
                name="pincode" required minlength="5" maxlength="7" pattern="^[0-9]*[0-9]$"></ion-input>
              <!-- <ion-input no-lines type="hidden"  [value]="userId"></ion-input> -->
              <ion-input type="text" hidden id="userId" ngModel #userId="ngModel" [(ngModel)]="userId2" class="form-control"
                name="userId"></ion-input>
            </ion-item>
            <ion-item no-lines>
              <div class="errorMsg" *ngIf="pincode.touched && !pincode.valid">
                <div *ngIf="pincode.errors.required">Pincode is required.</div>
                <div *ngIf="pincode.errors.minlength || pincode.errors.pattern">Pincode is invalid.</div>
              </div>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row padding-left>
          <ion-input type="text" readonly class="form-control upload-input imgInput" no-lines [placeholder]="logoName == undefined || logoName == 'undefined' ? 'Add Business Logo' : logoName ">
          </ion-input>
          <ion-col>
            <button ion-button type="button" clear icon-only (click)="takePictureFromCamera()">
              <ion-icon name="camera" type="button"></ion-icon>
            </button>
            <button ion-button type="button" clear icon-only (click)="takePictureFromGallery()">
              <ion-icon name="image" type="button"></ion-icon>
            </button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <button [disabled]="f.invalid || logoSize > 256 " ion-button type="submit">Save</button>
          </ion-col>
          <ion-col>
            <button [hidden]="!businessId" ion-button type="button" (click)="deletingBusiness()">Delete</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </form>

</ion-content>
