business-view {

  .container{
    width:100%;
    margin: 0px auto;
    overflow: hidden;
    border:1px solid #ccc;
    border-radius: $border-radius-light;
  }
  input[type="file"] {
    visibility: hidden;
    background-color: $black;
  }

  .logoArea {
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
  }

  .form-control {
    width: 100%;
    border-bottom: 1px solid $border-color;
    float: left;
    margin-top: 1px;
    background-color: $white;
  }

  .ion-input,
  .ion-textarea {
    position: relative;
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    color:$black;
    flex: 1;
    width: 0%;
    float: left;
    background-color: $white;
    border: 1px solid $black;
  }
  .errorMsg {
    color: $red;
    font-size: $font-size-md;
    padding-top: 5px;
  }

  .text-input-md {
    margin-left: 0;
    margin-top: 0px;
    margin-bottom: 8px;
    width: calc(100% - 8px);
  }

  .input-cover {
    left: 0;
    top: 0;
    position: absolute;
    width: 50%;
    height: 100%;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
  }

  .col {
    padding: 5px;
    position: relative;
    width: 50%;
    margin: 0;
    float: left;
    min-height: 1px;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  :focus,
  :active {
    outline: none;
  }

  .item-md {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }

  .item-input .ion-input,
  .item-input .ion-textarea {
    position: static;
    color:$black;
  }


  .label-md[floating] {
    margin-left: 10;
    margin-bottom: 0;
    color:$black;
  }

  .lable {
    margin-left: 10px;
    padding-left: 10px;
    color:$black;
  }

  .label-md[floating] {
    -webkit-transform: translate3d(0, 27px, 0);
    transform: translate3d(0, 27px, 0);
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transition: -webkit-transform 150ms ease-in-out;
    transition: -webkit-transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
  }

  .item-input .label-md,
  .item-select .label-md,
  .item-datetime .label-md {
    color: $black;
  }

  .label-md {
    margin: 0px;
  }

  .ion-label {
    margin: 0;
    color: $black;
    display: block;
    overflow: hidden;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: inherit;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .savebtn {
    color: #ffffff;
    background-color: $primary-color;
    cursor: pointer;
  }

  .savebtn:hover {
    background-color: $primary-color;
    border: 1px solid $black;
  }

  .item-block {
    text-align: initial;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    min-height: 0.2rem;
    overflow: hidden;
}
.text-input-md {
  width: calc((100% - 8px) - 8px);
  margin: 1px 8px;
  padding: 0px;
}
business-view .col {
  padding: 0px;
  position: relative;
  width: 50%;
  margin: 0;
  float: left;
  min-height: 1px;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.item-ios.item-label-stacked .text-input,
.item-ios.item-label-floating .text-input {
  margin-left: 0;
  margin-top: 0px;
  margin-bottom: 8px;
  width: calc(100% - 8px);
}

.label-ios {
  margin: 0px 8px 11px 0;
}
  p {
    display: block;
    float: right;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  [readonly='readonly'] {
    pointer-events: none;
  }

  .imgInput {
    // padding-top: -8rem;
    padding-right: 20px;
    width: 58rem;
  }
  .imgBtn{
    padding-top: 10rem;
    padding-left: 2rem;
    border:1px solid $border-color;
    background-color: $white;
    border-radius: $border-radius-light;
  }
  .imgLbl{
      padding-bottom: -8px;
  }
  business-view .label-md {
    margin: 0px 8px 1px 0;
  }
  .save-btn{
    width:260px;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: $button-color;
    color:$white;
    &:hover{
      background-color: $hover-color;
    }
  }
  .upload-input{
    margin-top:20px;
  }
  .item-md.item-input.item-input-has-focus .item-inner,
.item-md.item-input.input-has-focus .item-inner {
  border-bottom-color: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.list-md .item-input.item-input-has-focus:last-child,
.list-md .item-input.input-has-focus:last-child {
  border-bottom-color: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}


.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
  border-bottom-color: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child,
.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
  border-bottom-color: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
  border-bottom-color: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus):last-child {
  border-bottom-color: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus):last-child .item-inner {
  -webkit-box-shadow: none;
  box-shadow: none;
}

}
